body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --bold-10: Roboto;
  --font-rubik: Rubik;

  /* font sizes */
  --bold-10-size: 10px;
  --bold-12-size: 12px;
  --black-8-size: 8px;
  --bold-16-size: 16px;
  --font-size-7xs: 6px;
  --bold-13-size: 13px;
  --bold-18-size: 18px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;

  /* Colors */
  --grey-blue-98: #f7f8fa;
  --grey-blue-97: #f5f6f7;
  --grey-blue-95: #edeff2;
  --color-whitesmoke-100: #eeedf2;
  --grey-blue-60: #6b7a99;
  --color-slategray-200: #6b7280;
  --color-slategray-100: #5d7583;
  --grey-blue-50: #4d5e80;
  --color-slategray-600: rgba(107, 122, 153, 0.13);
  --color-slategray-700: rgba(107, 122, 153, 0.8);
  --color-slategray-800: rgba(107, 122, 153, 0.5);
  --color-slategray-900: rgba(107, 122, 153, 0.7);
  --color-slategray-1000: rgba(107, 114, 128, 0.5);
  --color-slategray-400: rgba(107, 114, 128, 0.8);
  --color-slategray-500: rgba(107, 122, 153, 0.74);
  --color-slategray-300: rgba(99, 117, 153, 0.1);
  --green: #29cc39;
  --green-5: rgba(41, 204, 57, 0.05);
  --white: #fff;
  --purple: #8833ff;
  --purple-5: rgba(136, 51, 255, 0.05);
  --color-red-100: #ff0202;
  --grey-blue-80: #adb8cc;
  --color-lightsteelblue-100: rgba(173, 184, 204, 0.1);
  --color-lightsteelblue-200: rgba(173, 184, 204, 0.2);
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #dbdede;
  --color-gainsboro: #d9d9d9;
  --color-gainsboro-300: rgba(217, 217, 217, 0.3);
  --orange: #ff6633;
  --grey-blue-70: #7d8fb3;
  --color-lightslategray-200: rgba(125, 143, 179, 0.8);
  --color-lightslategray-300: rgba(122, 133, 153, 0.1);
  --color-lightslategray-400: rgba(125, 143, 179, 0);
  --color-lightslategray-100: rgba(125, 143, 179, 0.1);
  --color-lightgray: #d4d6d9;
  --color-lightgray-100: #cfcfcf;
  --color-gray: rgba(255, 255, 255, 0);
  --color-peachpuff: rgba(236, 205, 168, 0.05);
  --color-royalblue-100: #5d80ff;
  --color-royalblue-200: rgba(66, 102, 230, 0.31);
  --color-royalblue-300: rgba(92, 128, 255, 0.31);
  --color-lightgreen-100: #9ef397;
  --color-lightgreen-200: rgba(158, 243, 151, 0.31);
  --color-darkslateblue: rgba(12, 70, 158, 0.33);
  --color-navajowhite-100: #fcd791;
  --color-navajowhite-200: rgba(252, 215, 145, 0.31);
  --color-burlywood: rgba(227, 189, 120, 0.31);
  --color-firebrick: #cd2b2b;
  --color-darkslategray: #3f3a3a;
  --color-lime: #1aec08;

  /* Gaps */
  --gap-mid: 17px;
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-6xl: 25px;
  --gap-61xl: 80px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-xl: 20px;
  --gap-19xl: 38px;
  --gap-2xs: 11px;
  --gap-7xs-1: 5.1px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-4xs: 9px;
  --gap-6xs: 7px;
  --gap-10xl: 29px;
  --gap-31xl: 50px;
  --gap-8xs-7: 4.7px;
  --gap-2xl: 21px;
  --gap-21xl: 40px;
  --gap-mini: 15px;
  --gap-9xs-6: 3.6px;
  --gap-34xl: 53px;
  --gap-7xl: 26px;
  --gap-26xl: 45px;
  --gap-3xl: 22px;
  --gap-9xs: 4px;
  --gap-sm: 14px;
  --gap-12xs: 1px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-4xl: 23px;
  --gap-mini-1: 14.1px;
  --gap-33xl: 52px;
  --gap-5xl: 24px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;
  --gap-8xs-8: 4.8px;
  --gap-lgi: 19px;
  --gap-12xl: 31px;
  --gap-44xl: 63px;
  --gap-86xl: 105px;
  --gap-smi-5: 12.5px;
  --gap-lg: 18px;
  --gap-xs: 12px;
  --gap-28xl: 47px;
  --gap-7xs: 6px;
  --gap-16xl: 35px;
  --gap-13xl: 32px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-9xs-3: 3.3px;
  --gap-107xl: 126px;
  --gap-43xl: 62px;
  --gap-53xl: 72px;
  --gap-8xs-9: 4.9px;
  --gap-15xl: 34px;
  --gap-83xl: 102px;
  --gap-32xl: 51px;
  --gap-lgi-4: 19.4px;
  --gap-484xl: 503px;
  --gap-232xl: 251px;
  --gap-3xs-5: 9.5px;
  --gap-18xl: 37px;
  --gap-17xl: 36px;
  --gap-50xl: 69px;
  --gap-23xl: 42px;
  --gap-xs-1: 11.1px;
  --gap-xs-9: 11.9px;

  /* Paddings */
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-46xl: 65px;
  --padding-13xl: 32px;
  --padding-3xl: 22px;
  --padding-6xl: 25px;
  --padding-12xs: 1px;
  --padding-10xs: 3px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-31xl: 50px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-5xs: 8px;
  --padding-101xl: 120px;
  --padding-sm: 14px;
  --padding-20xl: 39px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-smi: 13px;
  --padding-9xs: 4px;
  --padding-4xs: 9px;
  --padding-8xl: 27px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-16xl: 35px;
  --padding-11xl: 30px;
  --padding-44xl: 63px;
  --padding-42xl: 61px;
  --padding-base: 16px;
  --padding-12xl: 31px;
  --padding-115xl: 134px;
  --padding-68xl: 87px;
  --padding-7xl: 26px;
  --padding-4xs-7: 8.7px;
  --padding-xs: 12px;
  --padding-6xs-3: 6.3px;
  --padding-10xs-5: 2.5px;
  --padding-10xs-4: 2.4px;
  --padding-11xs: 2px;
  --padding-2xl: 21px;
  --padding-17xl: 36px;
  --padding-23xl: 42px;
  --padding-lgi: 19px;
  --padding-15xl: 34px;
  --padding-26xl: 45px;
  --padding-66xl: 85px;
  --padding-9xs-5: 3.5px;
  --padding-71xl: 90px;
  --padding-mid: 17px;
  --padding-303xl: 322px;
  --padding-4xl: 23px;
  --padding-base-7: 15.7px;
  --padding-50xl: 69px;
  --padding-18xl: 37px;
  --padding-9xl: 28px;
  --padding-33xl: 52px;
  --padding-51xl: 70px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-10xs-8: 2.8px;
  --padding-6xs-4: 6.4px;
  --padding-19xl: 38px;
  --padding-10xs-2: 2.2px;
  --padding-5xl-4: 24.4px;
  --padding-11xs-9: 1.9px;
  --padding-63xl: 82px;
  --padding-base-6: 15.6px;
  --padding-7xs-5: 5.5px;
  --padding-11xs-8: 1.8px;
  --padding-86xl: 105px;
  --padding-165xl: 184px;
  --padding-60xl: 79px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-81xl: 100px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-5xs: 8px;
  --br-9xs: 4px;

  /* Effects */
  --shadows-gray-blue-3-5b: 0px 2px 5px rgba(38, 51, 77, 0.03);
  --shadows-gray-blue-5-120b: 0px 60px 120px rgba(38, 51, 77, 0.05);
  --shadows-gray-blue-3-30b: 0px 10px 30px rgba(38, 51, 77, 0.03);
  --default-m: 4px 8px 16px rgba(0, 0, 0, 0.1);
}