<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/create-questionnaire1.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div344">
      <div class="settings10"></div>
      <section class="project-info-parent">
        <div class="project-info">
          <header class="menu-items-parent">
            <div class="menu-items">
              <div class="constructor-item">
                <div class="search-item">
                  <img
                    class="icon197"
                    loading="lazy"
                    alt=""
                    src="./public/icon@2x.png"
                  />

                  <div class="constructor-label">
                    <h3 class="constructor16">Понятная практика</h3>
                  </div>
                  <div class="icon-parent38">
                    <img
                      class="icon198"
                      loading="lazy"
                      alt=""
                      src="./public/icon-1@2x.png"
                    />

                    <div class="search-label">
                      <b class="search18">Найти клиента...</b>
                    </div>
                  </div>
                </div>
                <div class="about-links-wrapper">
                  <div class="about-links">
                    <a class="about-us24">Добавить клиента</a>
                    <div class="policy-links">
                      <a class="news17">Назначить встречу</a>
                      <b class="user-policy17"
                        >Добавить график нерабочих дней
                      </b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="location3">
              <img class="icon199" alt="" src="./public/icon-2@2x.png" />

              <div class="location-label">
                <b class="new-york16">Ростов-на-Дону</b>
              </div>
              <img class="icon200" alt="" src="./public/icon2.svg" />
            </div>
          </header>
        </div>
        <div class="user-banner">
          <div class="project-name">
            <div class="project-name-inner">
              <img
                class="frame-child218"
                loading="lazy"
                alt=""
                src="./public/arrow-13.svg"
                id="arrowIcon"
              />
            </div>
            <h2 class="h216">Название опроса</h2>
          </div>
          <div class="user-actions1">
            <div class="user-menu">
              <div class="user-profile4">
                <div class="wrapper-user16">
                  <img
                    class="user-icon16"
                    loading="lazy"
                    alt=""
                    src="./public/user@2x.png"
                    id="userImage"
                  />
                </div>
              </div>
              <div class="user-dropdown">
                <div class="greeting-label-parent">
                  <div class="greeting-label">
                    <b class="hello-rosalie16">Привет, Антон!</b>
                  </div>
                  <b class="rosaliericegmailc16">
                    <p class="ponyatpractikagmailcom12">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
              </div>
              <div class="navigation1">
                <div class="dashboard-nav">
                  <div class="dashboard46" id="dashboardContainer">
                    <div class="base116"></div>
                    <div class="icon-wrapper49">
                      <img
                        class="icon201"
                        loading="lazy"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard47">Список клинетов</b>
                  </div>
                  <div class="dashboard-button">
                    <div class="base117">
                      <div class="icon-wrapper50">
                        <img
                          class="icon202"
                          loading="lazy"
                          alt=""
                          src="./public/icon-41@2x.png"
                        />
                      </div>
                      <b class="calendars16">Календарь</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="invoice-nav">
                <div class="invoice-button">
                  <div class="invoice32" id="invoiceContainer">
                    <div class="base118"></div>
                    <div class="icon-wrapper51">
                      <img
                        class="icon203"
                        loading="lazy"
                        alt=""
                        src="./public/icon-5.svg"
                      />
                    </div>
                    <b class="invoice33">Уведомления</b>
                  </div>
                  <div class="invoice-items">
                    <div class="base119"></div>
                    <div class="icon-wrapper52">
                      <img
                        class="icon204"
                        loading="lazy"
                        alt=""
                        src="./public/icon-6.svg"
                      />
                    </div>
                    <b class="files17">Аналитика</b>
                  </div>
                </div>
                <div class="div345" id="container">
                  <div class="base120"></div>
                  <b class="dashboard48">Опросники и тесты</b>
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="action-buttons-wrapper">
                <div class="action-buttons1">
                  <div class="finish-survey">
                    <div class="finish-survey-label">
                      <div class="finish-survey-label-child"></div>
                      <h2 class="h217">Опрос по завершению</h2>
                    </div>
                  </div>
                  <div class="frame-parent172">
                    <div class="rectangle-parent181">
                      <div class="frame-child219"></div>
                      <h3 class="h310">Удалить материал</h3>
                    </div>
                    <div class="rectangle-parent182">
                      <div class="frame-child220"></div>
                      <h3 class="h311">Сохранить</h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content3">
                <div class="image-15-parent">
                  <img
                    class="image-15-icon"
                    alt=""
                    src="./public/image-15@2x.png"
                  />

                  <div class="left-images">
                    <div class="vector-parent3">
                      <img
                        class="vector-icon"
                        alt=""
                        src="./public/vector-1.svg"
                      />

                      <img
                        class="frame-child221"
                        loading="lazy"
                        alt=""
                        src="./public/vector-3.svg"
                      />
                    </div>
                  </div>
                  <div class="right-images">
                    <div class="right-image-top">
                      <img
                        class="image-16-icon"
                        loading="lazy"
                        alt=""
                        src="./public/image-16@2x.png"
                      />
                    </div>
                    <img
                      class="image-14-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/image-14@2x.png"
                    />
                  </div>
                </div>
                <div class="image-17-parent">
                  <img
                    class="image-17-icon"
                    alt=""
                    src="./public/image-17@2x.png"
                  />

                  <div class="vector-parent4">
                    <img
                      class="frame-child222"
                      alt=""
                      src="./public/vector-1.svg"
                    />

                    <img
                      class="frame-child223"
                      loading="lazy"
                      alt=""
                      src="./public/vector-4.svg"
                    />
                  </div>
                </div>
                <div class="add-question-button">
                  <h2 class="h218">Добавить вопрос...</h2>
                </div>
              </div>
            </div>
          </div>
          <b class="b164">Заявки</b>
          <div class="frame-parent173">
            <div class="frame-parent174" id="groupContainer">
              <div class="rectangle-parent183">
                <div class="frame-child224"></div>
                <b class="user-title">20.02.2024</b>
              </div>
              <div class="rectangle-parent184">
                <div class="frame-child225"></div>
                <b class="b165">Овсянникова Юля Матвеевна</b>
              </div>
            </div>
            <div class="frame-parent175" id="groupContainer1">
              <div class="rectangle-parent185">
                <div class="frame-child226"></div>
                <b class="b166">25.02.2024</b>
              </div>
              <div class="rectangle-parent186">
                <div class="frame-child227"></div>
                <b class="b167">Овсянникова Юля Матвеевна</b>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="item197">
        <img class="feather-icon-chevron-up26" alt="" />
      </div>
      <div class="user-info2">
        <div class="icon-parent39">
          <img
            class="icon205"
            loading="lazy"
            alt=""
            src="./public/icon-7@2x.png"
          />

          <div class="applications-parent">
            <div class="applications2">
              <b class="send-feedback16">Обратная связь</b>
            </div>
            <img
              class="icon206"
              loading="lazy"
              alt=""
              src="./public/icon-8.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      var arrowIcon = document.getElementById("arrowIcon");
      if (arrowIcon) {
        arrowIcon.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }
      </script>
  </body>
</html>
