<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/create-questionnaire2.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div346">
      <div class="settings11"></div>
      <section class="frame-parent176">
        <header class="frame-parent177">
          <div class="frame-wrapper104">
            <div class="frame-parent178">
              <div class="icon-parent40">
                <img
                  class="icon207"
                  loading="lazy"
                  alt=""
                  src="./public/icon@2x.png"
                />

                <div class="constructor-wrapper7">
                  <a class="constructor17">Понятная практика</a>
                </div>
                <div class="icon-parent41">
                  <img
                    class="icon208"
                    loading="lazy"
                    alt=""
                    src="./public/icon-1@2x.png"
                  />

                  <div class="search-wrapper5">
                    <b class="search19">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper105">
                <div class="about-us-parent8">
                  <a class="about-us25">Добавить клиента</a>
                  <div class="news-parent2">
                    <a class="news18">Назначить встречу</a>
                    <b class="user-policy18">Добавить график нерабочих дней </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="icon-parent42">
            <img class="icon209" alt="" src="./public/icon-2@2x.png" />

            <div class="new-york-wrapper7">
              <b class="new-york17">Ростов-на-Дону</b>
            </div>
            <img class="icon210" alt="" src="./public/icon2.svg" />
          </div>
        </header>
        <div class="frame-parent179">
          <div class="frame-wrapper106">
            <div class="frame-parent180">
              <div class="frame-parent181">
                <div class="wrapper-user-wrapper4">
                  <div class="wrapper-user17">
                    <img
                      class="user-icon17"
                      loading="lazy"
                      alt=""
                      src="./public/user@2x.png"
                      id="userImage"
                    />
                  </div>
                </div>
                <div class="vector-wrapper">
                  <img
                    class="frame-child228"
                    loading="lazy"
                    alt=""
                    src="./public/arrow-13.svg"
                    id="arrowIcon"
                  />
                </div>
                <div class="frame-parent182">
                  <div class="frame-parent183">
                    <button class="rectangle-parent187">
                      <div class="frame-child229"></div>
                      <div class="div347">Опрос</div>
                    </button>
                    <div class="frame-wrapper107">
                      <div class="rectangle-parent188">
                        <div class="frame-child230"></div>
                        <h3 class="h312">Тесты</h3>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper108">
                    <div class="parent30">
                      <h2 class="h219">Название опроса</h2>
                      <div class="rectangle-parent189">
                        <div class="frame-child231"></div>
                        <h2 class="h220">Опрос по завершению</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper109">
                <div class="rectangle-parent190">
                  <div class="frame-child232"></div>
                  <h3 class="h313">Создать</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent184">
            <div class="frame-parent185">
              <div class="hello-rosalie-wrapper7">
                <b class="hello-rosalie17">Привет, Антон!</b>
              </div>
              <div class="frame-parent186">
                <div class="rosaliericegmailc-container">
                  <b class="rosaliericegmailc17">
                    <p class="ponyatpractikagmailcom13">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
                <div class="frame-parent187">
                  <div class="frame-wrapper110">
                    <div class="dashboard-parent2">
                      <div class="dashboard49" id="dashboardContainer">
                        <div class="base121"></div>
                        <div class="dashboard-icon-container1">
                          <img
                            class="icon211"
                            loading="lazy"
                            alt=""
                            src="./public/icon-3@2x.png"
                          />
                        </div>
                        <b class="dashboard50">Список клинетов</b>
                      </div>
                      <div class="base-wrapper1">
                        <div class="base122">
                          <div class="icon-wrapper53">
                            <img
                              class="icon212"
                              loading="lazy"
                              alt=""
                              src="./public/icon-41@2x.png"
                            />
                          </div>
                          <b class="calendars17">Календарь</b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="frame-wrapper111">
                    <div class="invoice-parent4">
                      <div class="invoice34" id="invoiceContainer">
                        <div class="base123"></div>
                        <div class="icon-wrapper54">
                          <img
                            class="icon213"
                            loading="lazy"
                            alt=""
                            src="./public/icon-5.svg"
                          />
                        </div>
                        <b class="invoice35">Уведомления</b>
                      </div>
                      <div class="base-parent20">
                        <div class="base124"></div>
                        <div class="icon-wrapper55">
                          <img
                            class="icon214"
                            loading="lazy"
                            alt=""
                            src="./public/icon-6.svg"
                          />
                        </div>
                        <b class="files18">Аналитика</b>
                      </div>
                    </div>
                  </div>
                  <div class="wrapper59">
                    <div class="div348" id="container">
                      <div class="base125"></div>
                      <b class="dashboard51">Опросники и тесты</b>
                    </div>
                  </div>
                  <div class="frame-wrapper112">
                    <div class="frame-parent188">
                      <div class="wrapper60">
                        <b class="b168">Заявки</b>
                      </div>
                      <div class="frame-parent189" id="groupContainer">
                        <div class="rectangle-parent191">
                          <div class="frame-child233"></div>
                          <b class="applicant-placeholder">20.02.2024</b>
                        </div>
                        <div class="rectangle-parent192">
                          <div class="frame-child234"></div>
                          <b class="b169">Овсянникова Юля Матвеевна</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper113">
              <div class="image-container-parent">
                <div class="image-container">
                  <img
                    class="image-15-icon1"
                    alt=""
                    src="./public/image-15@2x.png"
                  />

                  <div class="image-container-inner">
                    <img
                      class="frame-child235"
                      loading="lazy"
                      alt=""
                      src="./public/vector-11.svg"
                    />
                  </div>
                  <div class="image-grid">
                    <div class="image-16-wrapper">
                      <img
                        class="image-16-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/image-16@2x.png"
                      />
                    </div>
                    <img
                      class="image-14-icon3"
                      loading="lazy"
                      alt=""
                      src="./public/image-14@2x.png"
                    />
                  </div>
                </div>
                <img
                  class="image-17-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/image-17@2x.png"
                />
              </div>
            </div>
          </div>
          <div class="question-input-container-wrapper">
            <div class="question-input-container">
              <div class="frame-parent190" id="groupContainer">
                <div class="rectangle-parent193">
                  <div class="frame-child236"></div>
                  <b class="input-placeholder">25.02.2024</b>
                </div>
                <div class="rectangle-parent194">
                  <div class="frame-child237"></div>
                  <b class="b170">Овсянникова Юля Матвеевна</b>
                </div>
              </div>
              <div class="wrapper61">
                <h2 class="h221">Добавить вопрос...</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="item198">
        <img class="feather-icon-chevron-up27" alt="" />
      </div>
      <div class="feedback-wrapper2">
        <div class="feedback5">
          <img
            class="icon215"
            loading="lazy"
            alt=""
            src="./public/icon-7@2x.png"
          />

          <div class="feedback-details">
            <div class="send-feedback-wrapper9">
              <b class="send-feedback17">Обратная связь</b>
            </div>
            <img
              class="icon216"
              loading="lazy"
              alt=""
              src="./public/icon-8.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var arrowIcon = document.getElementById("arrowIcon");
      if (arrowIcon) {
        arrowIcon.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }
      </script>
  </body>
</html>
