<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/test/create-new-test.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div340">
      <div class="settings9"></div>
      <div class="inner1">
        <div class="frame-parent166">
          <header class="frame-wrapper99">
            <div class="frame-parent167">
              <div class="icon-parent35">
                <img
                  class="icon187"
                  loading="lazy"
                  alt=""
                  src="/images/icon@2x.png"
                />

                <div class="constructor-wrapper6">
                  <a class="constructor15">Понятная практика</a>
                </div>
                <div class="icon-parent36">
                  <img
                    class="icon188"
                    loading="lazy"
                    alt=""
                    src="/images/icon-1@2x.png"
                  />

                  <div class="search-wrapper4">
                    <b class="search17">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="frame-wrapper100">
                <div class="about-us-parent7">
                  <a class="about-us23">Добавить клиента</a>
                  <div class="policy-menu">
                    <a class="news16">Назначить встречу</a>
                    <b class="user-policy16">Добавить график нерабочих дней </b>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div class="icon-parent37">
            <img class="icon189" alt="" src="/images/icon-2@2x.png" />

            <div class="new-york-wrapper6">
              <b class="new-york15">Ростов-на-Дону</b>
            </div>
            <img class="icon190" alt="" src="/images/icon2.svg" />
          </div>
        </div>
      </div>
      <main class="frame-parent168">
        <section class="frame-parent169">
          <div class="dashboard-menu-content-wrapper">
            <div class="dashboard-menu-content">
              <div class="dashboard-menu-content-inner">
                <img
                  class="frame-child205"
                  loading="lazy"
                  alt=""
                  src="/images/arrow-13.svg"
                  id="arrowIcon"
                />
              </div>
              <div class="wrapper-user-wrapper3">
                <div class="wrapper-user15">
                  <img
                    class="user-icon15"
                    loading="lazy"
                    alt=""
                    src="/images/user@2x.png"
                    id="userImage"
                  />
                </div>
              </div>
              <div class="hello-rosalie-wrapper6">
                <b class="hello-rosalie15">Привет, Антон!</b>
              </div>
              <div class="rosaliericegmailc-wrapper">
                <b class="rosaliericegmailc15">
                  <p class="ponyatpractikagmailcom11">
                    ponyatpractika@gmail.com
                  </p>
                </b>
              </div>
              <div class="dashboard-menu-items">
                <div class="dashboard-menu-first">
                  <div class="dashboard43" id="dashboardContainer">
                    <div class="base111"></div>
                    <div class="dashboard-menu-first-icon">
                      <img
                        class="icon191"
                        loading="lazy"
                        alt=""
                        src="/images/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard44">Список клинетов</b>
                  </div>
                  <div class="dashboard-menu-second-base">
                    <div class="base112">
                      <div class="calendar-menu-icon">
                        <img
                          class="icon192"
                          loading="lazy"
                          alt=""
                          src="/images/icon-41@2x.png"
                        />
                      </div>
                      <b class="calendars15">Календарь</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard-menu-items1">
                <div class="invoice-parent3">
                  <div class="invoice30" id="invoiceContainer">
                    <div class="base113"></div>
                    <div class="icon-wrapper48">
                      <img
                        class="icon193"
                        loading="lazy"
                        alt=""
                        src="/images/icon-5.svg"
                      />
                    </div>
                    <b class="invoice31">Уведомления</b>
                  </div>
                  <div class="base-parent19">
                    <div class="base114"></div>
                    <div class="files-menu-icon">
                      <img
                        class="icon194"
                        loading="lazy"
                        alt=""
                        src="/images/icon-6.svg"
                      />
                    </div>
                    <b class="files16">Аналитика</b>
                  </div>
                </div>
              </div>
              <div class="wrapper57">
                <div class="div341" id="container">
                  <div class="base115"></div>
                  <b class="dashboard45">Опросники и тесты</b>
                </div>
              </div>
              <div class="wrapper58">
                <b class="b158">Заявки</b>
              </div>
            </div>
          </div>
          <form class="create-test-content-parent">
            <div class="create-test-content">
              <div class="create-test-header">
                <div class="create-test-type">
                  <div class="create-test-type-content">
                    <button class="rectangle-parent172">
                      <div class="frame-child206"></div>
                      <div class="div342">Опрос</div>
                    </button>
                    <div class="create-test-type-content-inner">
                      <div class="rectangle-parent173">
                        <div class="frame-child207"></div>
                        <h3 class="h38">Тесты</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent174">
                  <div class="frame-child208"></div>
                  <h3 class="h39">Создать</h3>
                </div>
              </div>
            </div>
            <div class="parent29">
              <div class="div343">Название теста</div>
              <div class="test-name-input">
                <div class="test-name-rect"></div>
                <input class="input21" placeholder="....." type="text" />
              </div>
            </div>
            <div class="frame-wrapper101">
              <div class="rectangle-parent175">
                <div class="frame-child209"></div>
                <div class="first-question">
                  <div class="question-content-wrapper">
                    <div class="question-content1">
                      <h2 class="h214">Как вы переживаете боль?</h2>
                      <div class="first-answer">
                        <div class="first-answer-content">
                          <div class="first-answer-variant">
                            <div class="first-answer-variant-icon"></div>
                          </div>
                          <div class="vector-parent1">
                            <img
                              class="frame-child210"
                              alt=""
                              src="/images/rectangle-307.svg"
                            />

                            <b class="b159">Вариант 1</b>
                            <div class="first-answer-input">
                              <div class="first-answer-input-content-parent">
                                <div class="first-answer-input-content">
                                  <div class="first-answer-input-rect"></div>
                                  <div class="first-answer-input-rect1"></div>
                                </div>
                                <div class="second-answer-input-rect-parent">
                                  <div class="second-answer-input-rect"></div>
                                  <div class="second-answer-input-rect1"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img
                    class="image-14-icon1"
                    loading="lazy"
                    alt=""
                    src="/images/image-14@2x.png"
                  />
                </div>
                <div class="second-question">
                  <div class="second-question-content">
                    <div class="second-question-variant">
                      <div class="second-question-variant-child"></div>
                    </div>
                    <div class="vector-parent2">
                      <img
                        class="frame-child211"
                        alt=""
                        src="/images/rectangle-307.svg"
                      />

                      <b class="b160">Вариант 2</b>
                      <div class="option-two-container">
                        <div class="rectangle-parent176">
                          <div class="frame-child212"></div>
                          <div class="frame-child213"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h2 class="h215">Добавить вопрос...</h2>
          </form>
        </section>
        <div class="frame-wrapper102">
          <div class="frame-parent170" id="groupContainer">
            <div class="rectangle-parent177">
              <div class="frame-child214"></div>
              <b class="user-avatar1">20.02.2024</b>
            </div>
            <div class="rectangle-parent178">
              <div class="frame-child215"></div>
              <b class="b161">Овсянникова Юля Матвеевна</b>
            </div>
          </div>
        </div>
        <div class="frame-wrapper103">
          <div class="frame-parent171" id="groupContainer">
            <div class="rectangle-parent179">
              <div class="frame-child216"></div>
              <b class="b162">25.02.2024</b>
            </div>
            <div class="rectangle-parent180">
              <div class="frame-child217"></div>
              <b class="b163">Овсянникова Юля Матвеевна</b>
            </div>
          </div>
        </div>
      </main>
      <div class="item196">
        <img class="feather-icon-chevron-up25" alt="" />
      </div>
      <div class="feedback-container2">
        <div class="feedback-row">
          <img
            class="icon195"
            loading="lazy"
            alt=""
            src="/images/icon-7@2x.png"
          />

          <div class="feedback-label-parent">
            <div class="feedback-label3">
              <b class="send-feedback15">Обратная связь</b>
            </div>
            <img
              class="icon196"
              loading="lazy"
              alt=""
              src="/images/icon-8.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      var arrowIcon = document.getElementById("arrowIcon");
      if (arrowIcon) {
        arrowIcon.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }
      </script>
  </body>
</html>
