<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/default-page.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/test/questionnaire.css}" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
  />
</head>
<body>
<div class="div139">
  <div class="survey-container">
    <h2 type="text" th:text="${title}"></h2>
    <input type="text" id="surveyTitle" name="title" hidden="hidden" th:value="${title}">
    <form id="survey-form">
      <div th:each="question, iterStat : ${scoring.questions}">
        <h3 th:text="${question.questionText}">Question Text</h3>
        <div th:each="option, optStat : ${question.options}">
          <input type="radio" th:id="'option-' + ${iterStat.index} + '-' + ${optStat.index}"
                 th:name="${question.questionText}" th:value="${option}" />
          <label th:for="'option-' + ${iterStat.index} + '-' + ${optStat.index}" th:text="${option}">Option</label>
        </div>
      </div>
      <input type="hidden" id="customerId" th:value="${customerId}">
      <button type="button" onclick="submitSurvey()">Подтвердить</button>
    </form>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <div id="modal-body"></div>
  </div>
</div>
<script>
  function submitSurvey() {
    const form = document.getElementById('survey-form');
    const formData = new FormData(form);
    const answers = {};
    formData.forEach((value, key) => {
      answers[key] = value;
    });
    const title = document.getElementById("surveyTitle").value;
    const customerId = document.getElementById('customerId').value;
    const completedScoring = {
      customerId: customerId,
      answers: answers,
      title: title
    };

    fetch('/SimplePsy/V1/scoring/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(completedScoring)
    })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
  }
  // Открытие модального окна создания сессии
  document.addEventListener('DOMContentLoaded', function() {
  // Получаем элементы
  var modal = document.getElementById('modal');
  var modalBody = document.getElementById('modal-body');
  var closeBtn = document.querySelector('.close-btn');
  var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"

  // Функция для открытия модального окна
    function openModal() {
      fetch('/SimplePsy/V1/session/session-form')
              .then(response => response.text())
              .then(data => {
                modalBody.innerHTML = data;
                modal.style.display = 'block';
              })
              .catch(error => console.error('Ошибка загрузки:', error));

      fetch('/SimplePsy/V1/client/findAll')
              .then(response => response.json())
              .then(clients => {
                const dataList = document.getElementById('clientsList');
                dataList.innerHTML = '';

                clients.forEach(client => {
                  const option = document.createElement('option');
                  option.value = client.name;
                  option.setAttribute('data-id', client.id);
                  dataList.appendChild(option);
                });
              })
              .catch(error => console.error('Ошибка:', error));

      const script = document.createElement('script');
      script.id = 'dynamic-script';
      script.textContent = `
                   document.getElementById('clientInput').addEventListener('change', function() {
        const selectedOption = Array.from(document.getElementById('clientsList').options)
                .find(option => option.value === this.value);
        if (selectedOption) {
          const clientId = selectedOption.getAttribute('data-id');
          document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
          document.getElementById('error-message').style.display = 'none'; // Скрываем сообщение об ошибке при успешном выборе клиента
        } else {
          document.getElementById('clientId').value = ''; // Очищаем скрытое поле, если выбранного клиента нет в списке
        }
      });`;
      document.body.appendChild(script);
    }

    // Функция для закрытия модального окна
    function closeModal() {
      modal.style.display = 'none';
      const script = document.getElementById('dynamic-script');
      if (script) {
        script.remove();
        console.log('Скрипт удалён');
      } else {
        console.log('Скрипт не найден');
      }
    }

  // Событие клика для открытия модального окна
  appointLink.addEventListener('click', openModal);

  // Событие клика для закрытия модального окна
  closeBtn.addEventListener('click', closeModal);
  });
</script>
</body>
</html>
