<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/default-page.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/test/questionnaire.css}" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
  />
</head>
<body>
<div class="div139">
  <div class="survey-container">
    <h2 type="text" th:text="${title}"></h2>
    <input type="text" id="surveyTitle" name="title" hidden="hidden" th:value="${title}">
    <form id="survey-form">
      <div th:each="question, iterStat : ${scoring.questions}">
        <h3 th:text="${question.questionText}">Question Text</h3>
        <div th:each="option, optStat : ${question.options}">
          <input type="radio" th:id="'option-' + ${iterStat.index} + '-' + ${optStat.index}"
                 th:name="${question.questionText}" th:value="${option}" />
          <label th:for="'option-' + ${iterStat.index} + '-' + ${optStat.index}" th:text="${option}">Option</label>
        </div>
      </div>
      <input type="hidden" id="customerId" th:value="${customerId}">
      <button type="button" onclick="submitSurvey()">Подтвердить</button>
    </form>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <div id="modal-body"></div>
  </div>
</div>
<script>
  function submitSurvey() {
    const form = document.getElementById('survey-form');
    const formData = new FormData(form);
    const answers = {};
    formData.forEach((value, key) => {
      answers[key] = value;
    });
    const title = document.getElementById("surveyTitle").value;
    const customerId = document.getElementById('customerId').value;
    const completedScoring = {
      customerId: customerId,
      answers: answers,
      title: title
    };

    fetch('/SimplePsy/V1/scoring/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(completedScoring)
    })
            .then(response => response.text())
            .then(body => {
                    console.log(body);
                    window.location.href="/SimplePsy/V1/scoring/done";
            })
            .catch(error => console.error('Error:', error));
  }
</script>
</body>
</html>
