<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/default-page.css}" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
  />
</head>
<body>
<style>
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .list {
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .list-item:last-child {
    border-bottom: none;
  }

  .list-item-title {
    font-weight: bold;
  }

  .list-item-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
</style>
<div class="div139">
  <div class="sidebar1">
    <div class="menu">
      <div class="dashboard23" id="dashboardContainer">
        <div class="base75"></div>
        <b class="dashboard24">Список клинетов</b>
        <img
                class="icon115"
                loading="lazy"
                alt=""
                src="/images/icon-3@2x.png"
        />
      </div>
      <div class="invoice15" id="invoiceContainer">
        <div class="base76"></div>
        <b class="invoice16">Уведомления</b>
        <img
                class="icon116"
                loading="lazy"
                alt=""
                src="/images/icon-5.svg"
        />
      </div>
      <div class="files8">
        <div class="base77"></div>
        <b class="files9">Аналитика</b>
        <img
                class="icon117"
                loading="lazy"
                alt=""
                src="/images/icon-6.svg"
        />
      </div>
      <div class="email3">
        <div class="base78"></div>
        <b class="calendars8">Календарь</b>
        <img
                class="icon118"
                loading="lazy"
                alt=""
                src="/images/icon-4@2x.png"
        />
      </div>

      <div class="div140" id="container">
        <div class="base79"></div>
        <b class="dashboard25">Опросники и тесты</b>
      </div>
      <div class="parent26">
        <b class="b112">Заявки</b>
        <div class="rectangle-parent87" id="groupContainer">
          <div class="frame-child111"></div>
          <div class="frame-child112"></div>
          <b class="b113">Овсянникова Юля Матвеевна</b>
          <b class="b114">20.02.2024</b>
        </div>
        <div class="rectangle-parent88" id="groupContainer1">
          <div class="frame-child113"></div>
          <div class="frame-child114"></div>
          <b class="b115">Овсянникова Кирилл Матвеев</b>
          <b class="b116">25.02.2024</b>
        </div>
      </div>
    </div>
    <div class="feedback3">
      <b class="send-feedback8">Обратная связь</b>
      <img
              class="icon119"
              loading="lazy"
              alt=""
              src="/images/icon-7@2x.png"
      />

      <img
              class="icon120"
              loading="lazy"
              alt=""
              src="/images/icon-8.svg"
      />
    </div>

    <div class="head">
      <div class="wrapper-user8">
        <img
                class="user-icon8"
                loading="lazy"
                alt=""
                src="/images/user@2x.png"
                id="userImage"
        />
      </div>
      <b class="hello-rosalie8">Привет, Антон!</b>
      <b class="rosaliericegmailc8">rosalie.rice@gmail.com</b>
    </div>
  </div>
  <header class="head1">
    <div class="navigate">
      <a class="constructor8">Понятная практика</a>
      <div class="menu1">
        <b class="news10" id="newsText">Назначить встречу</b>
        <b class="user-policy9" id="userPolicyText"
        >Добавить график нерабочих дней
        </b>
        <b class="about-us15" id="aboutUsText">Добавить клиента</b>
      </div>
      <div class="search8">
        <b class="search9">Найти клиента...</b>
        <img
                class="icon121"
                loading="lazy"
                alt=""
                src="/images/icon-1@2x.png"
        />
      </div>
      <div class="city">
        <b class="new-york8">Ростов-на-Дону</b>
        <img
                class="icon122"
                loading="lazy"
                alt=""
                src="/images/icon-2@2x.png"
        />
      </div>
      <img
              class="icon123"
              loading="lazy"
              alt=""
              src="/images/icon@2x.png"
      />
    </div>

  </header>

  <div class="container">
    <h1 class="title">Список опросников</h1>
    <div class="list">
      <th:block th:each="scoring : ${scorings}">
        <div class="list-item">
          <span class="list-item-title" th:text="${scoring.title}"></span>
          <a class="list-item-button" th:text="${scoring.type == 'TEST' ? 'Тест' : 'Опрос'}"
             th:href="@{test/edit/{id}(id=${scoring.id})}"></a>
        </div>
      </th:block>
    </div>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close-btn">&times;</span>
      <div id="modal-body"></div>
    </div>
  </div>
  <script>
    var dashboardContainer = document.getElementById("dashboardContainer");
    if (dashboardContainer) {
      dashboardContainer.addEventListener("click", function (e) {
        window.location.href = "./component2.html";
      });
    }

    var invoiceContainer = document.getElementById("invoiceContainer");
    if (invoiceContainer) {
      invoiceContainer.addEventListener("click", function (e) {
        window.location.href = "./component3.html";
      });
    }

    var container = document.getElementById("container");
    if (container) {
      container.addEventListener("click", function (e) {
        window.location.href = "./component2.html";
      });
    }

    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
      groupContainer.addEventListener("click", function (e) {
        window.location.href = "./component6.html";
      });
    }

    var groupContainer1 = document.getElementById("groupContainer1");
    if (groupContainer1) {
      groupContainer1.addEventListener("click", function (e) {
        window.location.href = "./component6.html";
      });
    }

    var userImage = document.getElementById("userImage");
    if (userImage) {
      userImage.addEventListener("click", function (e) {
        window.location.href = "./component4.html";
      });
    }

    var newsText = document.getElementById("newsText");
    if (newsText) {
      newsText.addEventListener("click", function (e) {
        // Please sync "Модальное окно "Назначить встречу" Тип встерча = Встреча с клиентом" to the project
      });
    }

    var userPolicyText = document.getElementById("userPolicyText");
    if (userPolicyText) {
      userPolicyText.addEventListener("click", function (e) {
        // Please sync "Модальное окно "Добавить график  нерабочих дней "" to the project
      });
    }

    var aboutUsText = document.getElementById("aboutUsText");
    if (aboutUsText) {
      aboutUsText.addEventListener("click", function (e) {
        // Please sync "Модальное окно "Добавить клиента"" to the project
      });
    }
    var dashboardContainer = document.getElementById("dashboardContainer");
    if (dashboardContainer) {
      dashboardContainer.addEventListener("click", function (e) {
        window.location.href = "./component2.html";
      });
    }
    var invoiceContainer = document.getElementById("invoiceContainer");
    if (invoiceContainer) {
      invoiceContainer.addEventListener("click", function (e) {
        window.location.href = "./component3.html";
      });
    }
    var container = document.getElementById("container");
    if (container) {
      container.addEventListener("click", function (e) {
        window.location.href = "./component2.html";
      });
    }
    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
      groupContainer.addEventListener("click", function (e) {
        window.location.href = "./component6.html";
      });
    }
    var groupContainer1 = document.getElementById("groupContainer1");
    if (groupContainer1) {
      groupContainer1.addEventListener("click", function (e) {
        window.location.href = "./component6.html";
      });
    }
    var userImage = document.getElementById("userImage");
    if (userImage) {
      userImage.addEventListener("click", function (e) {
        window.location.href = "./component4.html";
      });
    }
    function addOption(questionId) {
      const optionsContainer = document.getElementById(`optionsContainer-${questionId}`);
      const newOption = document.createElement("div");
      newOption.className = "survey-option";
      newOption.innerHTML = `
          <input type="radio" name="option-${questionId}" disabled>
          <input type="text" name="optionText-${questionId}" placeholder="Вариант ответа" required>
        `;
      optionsContainer.appendChild(newOption);
    }

    function addQuestion() {
      const questionsContainer = document.getElementById("questionsContainer");
      const questionId = `question-${questionsContainer.children.length + 1}`;
      const newQuestion = document.createElement("div");
      newQuestion.className = "survey-question";
      newQuestion.id = questionId;
      newQuestion.innerHTML = `
          <label for="${questionId}">Вопрос:</label>
          <input type="text" id="${questionId}" name="questionText" required>
          <div id="optionsContainer-${questionId}">
            <div class="survey-option">
              <input type="radio" name="option-${questionId}" disabled>
              <input type="text" name="optionText-${questionId}" placeholder="Вариант ответа" required>
            </div>
          </div>
          <button type="button" class="add-option-button" onclick="addOption('${questionId}')">Добавить вариант ответа</button>
        `;
      questionsContainer.appendChild(newQuestion);
    }

    document.getElementById("surveyForm").addEventListener("submit", function(event) {
      event.preventDefault();
      const title = document.getElementById("surveyTitle").value;
      const questions = Array.from(document.querySelectorAll(".survey-question")).map(question => {
        const questionText = question.querySelector("input[name='questionText']").value;
        const options = Array.from(question.querySelectorAll("input[name^='optionText']")).map(option => option.value);
        return { questionText, options };
      });
      fetch('/SimplePsy/V1/scoring/creation', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({title, questions }),
      })
              .then(response => response.json())
              .then(data => {
                console.log('Survey created:', data);
                // Redirect or show success message
              })
              .catch(error => {
                console.error('Error:', error);
              });
    });
    // Открытие модального окна создания сессии
    document.addEventListener('DOMContentLoaded', function() {
    // Получаем элементы
    var modal = document.getElementById('modal');
    var modalBody = document.getElementById('modal-body');
    var closeBtn = document.querySelector('.close-btn');
    var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"

    // Функция для открытия модального окна
    function openModal() {
        fetch('http://localhost:8081/SimplePsy/V1/session/session-form')
        .then(response => response.text())
        .then(data => {
            modalBody.innerHTML = data;
            modal.style.display = 'block';
        })
        .catch(error => console.error('Ошибка загрузки:', error));
    }

    // Функция для закрытия модального окна
    function closeModal() {
        modal.style.display = 'none';
    }

    // Событие клика для открытия модального окна
    appointLink.addEventListener('click', openModal);

    // Событие клика для закрытия модального окна
    closeBtn.addEventListener('click', closeModal);
    });
  </script>
</body>
</html>
