.frame-wrapper73 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-base) 0;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
}
.frame-parent122,
.frame-wrapper73 {
  display: flex;
  align-items: flex-start;
}
.frame-parent122 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper73 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-base) 0;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
}

.frame-parent123 {
  flex-direction: column;
  justify-content: flex-start;
}
.client-list-wrapper,
.notifications-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-2xs) var(--padding-xl);
  position: relative;
  gap: var(--gap-xl);
}
.base90 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-mini) 0 0 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 9;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}
.base90:focus {
  outline: none; /* Убирает выделение кнопки */
}
.fix-angle-base90{
  border-radius: 0;
}
.calendar-wrapper {
  width: 122px;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-xl)
    var(--padding-11xl);
  gap: var(--gap-xl);
  font-family: inherit; /* Наследует шрифт от родителя */
  font-size: inherit; /* Наследует размер шрифта от родителя */
  font-weight: bold;
  color: inherit; /* Наследует цвет шрифта от родителя */
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
}
.base90, .calendar-wrapper {
  width: 120px; /* Объединение размеров */
  height: 120px; /* Объединение размеров */
  align-items: center; /* Центрирование содержимого */
  justify-content: center; /* Центрирование содержимого */
}
.calendar-wrapper:hover,
.base94:hover,
.base90:hover,
.notifications-wrapper:hover .notifications {
  border-radius: var(--br-mini);
  background-color: white;
  border-color: white !important;
  font-weight: bold;
  z-index: 10;
}

.calendar-wrapper:hover,
.base90:hover,
.notifications-wrapper:hover .notifications {
  transform: scale(1.1);
}

.base94:hover {
  transform: scale(1.07);
}

.base90,
.calendar-wrapper,
.base94,
.notifications-wrapper .notifications {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, outline 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
}

/* Комбинированные селекторы */
.client-list-wrapper:hover .client-list,
.client-list-wrapper:hover .icon-wrapper33 img,
.tests-wrapper:hover .surveys-tests,
.notifications-wrapper:hover .notifications,
.notifications-wrapper:hover .icon-wrapper33 img {
  font-weight: bold;
  color: inherit;
  transform: scale(1.1);
  transition: transform 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
}

/* Дополнительные стили для иконок и текста */
.client-list-wrapper .icon-wrapper33 img,
.tests-wrapper .surveys-tests,
.notifications-wrapper .icon-wrapper33 img {
  transition: transform 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
}
.icon-wrapper33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
  z-index: 11;
}
.client-list,
.notifications {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 11;
}

.client-list{
  padding-left: 1px;
}

.icon-wrapper33, .client-list, .icon-wrapper34, .calendar, .icon-wrapper35, .notifications, .icon149, .surveys-tests {
  pointer-events: none; /* Отключаем взаимодействие с мышью */
}

.icon146 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}

.base-frame,
.frame-parent123 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.base-frame {
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -120px;
  text-align: left;
}
.icon-wrapper34 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px var(--padding-2xl) 0 var(--padding-smi);
}
.icon147 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.calendar{
  padding-right: 5px;
}
.calendar,
.surveys-tests {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 3;
}
.notifications {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 10;
  padding-left: 13px;
}
.analytics {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
  padding-right: 6px;
}
.tests-wrapper {
  flex: 0.7821;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px var(--padding-10xl) var(--padding-xl) 0;
  position: relative;
  gap: var(--gap-xl);
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.base94 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
  transition: background-color 0.3s, border 0.3s, box-shadow 0.3s;
  background-color: transparent;
  cursor: pointer;
  transform: none;
}
.surveys-tests {
  position: absolute;
  padding-right: 20px;
  top: 20px;
  left: 68px;
  line-height: 20px;
  display: inline-block;
  width: 196.8px;
  z-index: 11;
}
.div139 {
  text-align: left;
}

.survey-container {
  position: relative;
  top: 200px;
  left: 400px;
  width: 50%;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.survey-container input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.survey-container button {
  padding: 10px 15px;
  margin: 10px 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.survey-container button:hover {
  background-color: #0056b3;
}

.survey-option {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.survey-option input[type="radio"] {
  margin-right: 10px;
}

.add-option-button {
  margin-top: 10px;
  display: block;
}
.news10{
  position: relative;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.modal {
display: none;
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
max-width: 600px;
}
.close-btn {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.news10:active {
  transform: translateY(2px);
}