<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/create-customer-modal.css}" />
</head>
<body>
<div class="form-container-modal">
    <input type="hidden" id="currentSpecialistId" th:value="${specialistId}">
    <form id="client-form1" th:object="${customer}" th:action="@{/SimplePsy/V1/customer/customers/modal/new}" method="post">
    <div class="form-header-modal">
        <img
                class="icon93"
                loading="lazy"
                alt=""
                src="/images/icon-3@2x.png"
        />
        <input th:name="name" type="text" placeholder="Введите ФИО" class="input-fio">
    </div>
    <div class="form-row">
        <div class="form-group">
            <img
                    class="icon93"
                    loading="lazy"
                    alt=""
                    src="/images/icon-11@2x.png"
            />
            <input type="date" id="dob" th:name="dateOfBirth" placeholder="Дата рождения">
        </div>
        <div class="form-group">
            <select id="client-type" th:name="typeOfClient">
                <option value="ADULT">Взрослый</option>
                <option value="CHILD">Ребёнок</option>
                <option value="COUPLE">Пара</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <select id="gender" th:name="sex">
                <option value="" disabled selected>Пол</option>
                <option value="MALE">Мужской</option>
                <option value="FEMALE">Женский</option>
            </select>
        </div>
        <div class="form-group">
            <select th:name="preferredMeetingFormat" id="meeting-format">
                <option value="" disabled selected>Выберите формат</option>
                <option value="ONLINE" selected>Онлайн</option>
                <option value="OFFLINE">Офлайн</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <input type="text" placeholder="Номер телефона" th:name="contact.phone">
        </div>
        <div class="form-group">
            <input type="email" placeholder="Почта" th:name="contact.email">
        </div>
    </div>
    <div class="submit-btn-container">
        <button type="submit" class="submit-btn">Создать клиента</button>
    </div>
    </form>
</div>
</body>
</html>
