<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/customer-card.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div216">
      <div class="settings6"></div>
      <div class="item112">
        <img class="feather-icon-chevron-up21" alt="" />
      </div>
      <section class="frame-parent141">
        <header class="frame-wrapper85">
          <div class="frame-parent142">
            <div class="frame-wrapper86">
              <div class="frame-parent143">
                <div class="icon-parent29">
                  <img
                    class="icon156"
                    loading="lazy"
                    alt=""
                    src="/images/icon@2x.png"
                  />

                  <div class="constructor-wrapper4">
                    <a class="constructor12">Понятная практика</a>
                  </div>
                  <div class="icon-parent30">
                    <img
                      class="icon157"
                      loading="lazy"
                      alt=""
                      src="/images/icon-1@2x.png"
                    />

                    <div class="search-wrapper2">
                      <b class="search13">Найти клиента...</b>
                    </div>
                  </div>
                </div>
                <div class="about-content-wrapper">
                  <div class="about-content">
                    <a class="about-us19">Добавить клиента</a>
                    <div class="news-container">
                      <a class="news13">Назначить встречу</a>
                      <b class="user-policy13"
                        >Добавить график нерабочих дней
                      </b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="icon-parent31">
              <img class="icon158" alt="" src="/images/icon-2@2x.png" />

              <div class="new-york-wrapper4">
                <b class="new-york12">Ростов-на-Дону</b>
              </div>
              <img class="icon159" alt="" src="/images/icon2.svg" />
            </div>
          </div>
        </header>
        <div class="user-panel-content-parent">
          <div class="user-panel-content">
            <div class="frame-parent144">
              <div class="wrapper-user-wrapper2">
                <div class="wrapper-user12">
                  <img
                    class="user-icon12"
                    loading="lazy"
                    alt=""
                    src="/images/user@2x.png"
                    id="userImage"
                  />
                </div>
              </div>
              <div class="user-names-content-wrapper">
                <div class="user-names-content">
                  <div class="hello-rosalie-wrapper5">
                    <b class="hello-rosalie12">Привет, Антон!</b>
                  </div>
                  <b class="rosaliericegmailc12">
                    <p class="ponyatpractikagmailcom8">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
              </div>
              <div class="navigation-content-parent">
                <div class="navigation-content">
                  <div class="dashboard-parent1">
                    <div class="dashboard34" id="dashboardContainer">
                      <div class="base95"></div>
                      <div class="icon-wrapper38">
                        <img
                          class="icon160"
                          loading="lazy"
                          alt=""
                          src="/images/icon-3@2x.png"
                        />
                      </div>
                      <b class="dashboard35">Список клинетов</b>
                      <div class="email5" id="emailContainer">
                        <div class="base96">
                          <div class="icon-wrapper39">
                            <img
                              class="icon161"
                              loading="lazy"
                              alt=""
                              src="/images/icon-41@2x.png"
                            />
                          </div>
                          <b class="calendars12">Календарь</b>
                        </div>
                      </div>
                    </div>
                    <div class="invoice-menu1">
                      <div class="invoice24" id="invoiceContainer">
                        <div class="base97"></div>
                        <div class="icon-wrapper40">
                          <img
                            class="icon162"
                            loading="lazy"
                            alt=""
                            src="/images/icon-5.svg"
                          />
                        </div>
                        <b class="invoice25">Уведомления</b>
                      </div>
                      <div class="invoice-base1">
                        <div class="base98"></div>
                        <div class="icon-wrapper41">
                          <img
                            class="icon163"
                            loading="lazy"
                            alt=""
                            src="/images/icon-6.svg"
                          />
                        </div>
                        <b class="files13">Аналитика</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="base-parent16">
                  <div class="base99"></div>
                  <b class="dashboard36">Опросники и тесты</b>
                </div>
                <div class="applications-content-wrapper">
                  <div class="applications-content">
                    <div class="wrapper49">
                      <b class="b143">Заявки</b>
                    </div>
                    <div class="frame-parent145">
                      <div class="frame-parent146" id="groupContainer">
                        <div class="rectangle-parent142">
                          <div class="frame-child168"></div>
                          <b class="application-item-icon">20.02.2024</b>
                        </div>
                        <div class="rectangle-parent143">
                          <div class="frame-child169"></div>
                          <b class="b144">Овсянникова Юля Матвеевна</b>
                        </div>
                      </div>
                      <div class="frame-parent147" id="groupContainer1">
                        <div class="rectangle-parent144">
                          <div class="frame-child170"></div>
                          <b class="b145">25.02.2024</b>
                        </div>
                        <div class="rectangle-parent145">
                          <div class="frame-child171"></div>
                          <b class="b146">Овсянникова Юля Матвеевна</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="client-card-actions">
            <div class="client-card-actions-content">
              <div class="frame-parent148">
                <button class="rectangle-parent146">
                  <div class="frame-child172"></div>
                  <a class="a">Карта клиента</a>
                </button>
                <button class="rectangle-parent147">
                  <div class="frame-child173"></div>
                  <a class="a1">Список встреч</a>
                </button>
                <div class="rectangle-parent148" id="groupContainer">
                  <div class="frame-child174"></div>
                  <div class="div217">Опросники и тесты</div>
                </div>
              </div>
            </div>
            <div class="client-card-actions-inner">
              <div class="frame-parent149">
                <div class="rectangle-parent149">
                  <div class="frame-child175"></div>
                  <div class="div218">Редактировать</div>
                </div>
                <div class="rectangle-parent150">
                  <div class="frame-child176"></div>
                  <div class="div219">Сохранить</div>
                </div>
                <div class="rectangle-parent151">
                  <div class="frame-child177"></div>
                  <div class="div220">Ссылка на анкету</div>
                </div>
              </div>
            </div>
            <div class="component19">
              <div class="item113">
                <div class="div221">Тип клиента</div>
                <div class="div222" th:text="${customer.typeOfClient}"></div>
              </div>
              <div class="item114">
                <div class="div223">ФИО клиента 1</div>
                <div class="string10" th:text="${customer.name}">
                </div>
              </div>
              <div class="item115">
                <div class="div224">Номер телефона 1</div>
                <div class="int4" th:text="${customer.contact.phone}"></div>
              </div>
              <div class="item116">
                <div class="div225">Почта 1</div>
                <div class="kirraaagmailcom-string1" th:text="${customer.contact.email}">
                </div>
              </div>
              <div class="item117">
                <div class="div226">Пол 1</div>
                <div class="div227" th:text="${customer.sex}"></div>
              </div>
              <div class="item118">
                <div class="div228">Клиент проходит групповую терапию</div>
                <div class="div229">Да</div>
              </div>
              <div class="item119">
                <input
                  class="input18"
                  placeholder="Укажите клиента"
                  type="text"
                />

                <div class="div230"></div>
              </div>
              <div class="item120">
                <div class="div231">
                  Каким способом обратился клиент/попечитель
                </div>
                <div class="div232" th:text="${customer.typeOfTreatment}"></div>
              </div>
              <div class="item121">
                <div class="div233">
                  Дата первого обращения (запрос на консультацию)
                </div>
                <div class="int5" th:text="${customer.dateOfFirstRequest}"></div>
              </div>
              <div class="item122">
                <div class="div234">Дата первой консультации</div>
                <div class="int6" th:text="${customer.dateOfFirstConsultation}"></div>
              </div>
              <div class="item123">
                <div class="div235">Предпочтительный формат встречи</div>
                <div class="div236" th:text="${customer.preferredMeetingFormat}"></div>
              </div>
              <div class="item124">
                <div class="div237">
                  Для онлайн выбрать/указать площадку взаимодействия
                </div>
                <div class="zoom1" th:text="${customer.onlineMeetingPlace}"></div>
              </div>
              <div class="item125">
                <div class="div238">
                  Для оффлайн выбрать адрес проведения встречи
                </div>
                <div class="string11" th:text="${customer.offlineMeetingPlace}"></div>
              </div>
              <div class="item126">
                <div class="div239">Статус клиента</div>
                <div class="wrapper50">
                  <div class="div240" th:text="${customer.clientStatus}"></div>
                </div>
              </div>
              <div class="item127">
                <div class="div241">
                  Первичный/изначальный запрос клиента на терапию
                </div>
                <div class="string12" th:text="${customer.clientsFirstRequestForTherapy}"></div>
              </div>
              <div class="item128">
                <div class="div242">
                  Фиксированное время/день недели для встречи (если да, то
                  указать)
                </div>
                <div class="string13" th:text="${customer.fixedTimeForMeeting}"></div>
              </div>
              <div class="item129">
                <div class="div243">Финансовые условия</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-content-wrapper">
        <div class="footer-content">
          <div class="feedback-content-wrapper">
            <div class="feedback-content">
              <img
                class="icon164"
                loading="lazy"
                alt=""
                src="/images/icon-7@2x.png"
              />

              <div class="frame-parent150">
                <div class="send-feedback-wrapper6">
                  <b class="send-feedback12">Обратная связь</b>
                </div>
                <img
                  class="icon165"
                  loading="lazy"
                  alt=""
                  src="/images/icon-8.svg"
                />
              </div>
            </div>
          </div>
          <div class="client-details-content-parent">
            <div class="client-details-content">
              <div class="div244">Подробнее....</div>
            </div>
            <div class="client-details-form">
              <div class="item130">
                <div class="div245">Дата рождения</div>
                <div class="int7" th:text="${customer.dateOfBirth}"></div>
              </div>
              <div class="item131">
                <div class="div246">Адрес проживания</div>
                <div class="string14" th:text="${customer.residentialAddress}"></div>
              </div>
              <div class="item132">
                <div class="div247">
                  Коллегиальные рекомендации (поле для заполнения кто вас
                  порекомендовал клиенту)
                </div>
                <div class="string15" th:text="${customer.collegialRecommendations}"></div>
              </div>
              <div class="item133">
                <div class="div248">Особые условия контракта</div>
                <div class="string16" th:text="${customer.specialTermsOfContract}"></div>
              </div>
              <div class="item134">
                <div class="div249">Семейное положение</div>
                <div class="div250" th:text="${customer.familyStatus}"></div>
              </div>
              <div class="item135">
                <div class="div251">
                  Прием медицинских препаратов оказывающих влияние на
                  сознание/эмоциональное состояние клиента
                </div>
                <input class="string17" placeholder="(string)" type="text" />
              </div>
              <div class="item136">
                <div class="div252">
                  Предыдущий опыт получения психологической помощи
                </div>
                <div class="string18">(string)</div>
              </div>
              <div class="item137">
                <div class="div253">
                  Приоритетный канал коммуникации (выпадающий список куда
                  писать)
                </div>
                <div class="telegram3" th:text="${customer.priorityCommunicationChannel}"></div>
              </div>
              <div class="item138">
                <div class="div254">
                  Берется ли супервизия на данного клиента
                </div>
                <div class="div255" th:text="${customer.isSupervision}"></div>
              </div>
              <div class="item139">
                <div class="div256">ФИО и контакты супервизора</div>
                <div class="string19" th:text="${customer.supervisorsName}"></div>
                <div class="button81">
                  <img
                    class="feather-icon-chevron-down27"
                    alt=""
                    src="/images/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item140">
                <div class="div257">
                  Материал для следующих сеансов из супервизии
                </div>
                <div class="string20" th:text="${customer.materialForNextSessionsFromSupervision}"></div>
                <div class="button82">
                  <img
                    class="feather-icon-chevron-down28"
                    alt=""
                    src="/images/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item141">
                <div class="div258">Заметки</div>
                <div class="string21" th:text="${customer.notes}"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var emailContainer = document.getElementById("emailContainer");
      if (emailContainer) {
        emailContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component13.html";
        });
      }
      </script>
  </body>
</html>
