<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/customer-creation.css}"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
</head>
<body>
<div class="div141">
    <div class="settings3"></div>
    <header class="app-container">
        <div class="page-content">
            <div class="content-layout">
                <div class="main-area">
                    <div class="sidebar-container">
                        <img class="icon124" loading="lazy" alt="" src="/images/icon@2x.png"/>

                        <div class="constructor-wrapper3">
                            <a class="constructor9">Понятная практика</a>
                        </div>
                        <div class="icon-parent23">
                            <img class="icon125" loading="lazy" alt="" src="/images/icon-1@2x.png"/>

                            <div class="search-input3">
                                <b class="search10">Найти клиента...</b>
                            </div>
                        </div>
                    </div>
                    <div class="main-area-inner">
                        <div class="about-us-parent4">
                            <a class="about-us16">Добавить клиента</a>
                            <div class="legal-links">
                                <a class="news10">Назначить встречу</a>
                                <b class="user-policy10">Добавить график нерабочих дней </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-parent24">
                <img class="icon126" alt="" src="/images/icon-2@2x.png"/>

                <div class="location-name1">
                    <b th:text="${specialist.city}" class="specialist-city"></b>
                </div>
            </div>
        </div>
    </header>
    <div class="item72">
        <img class="feather-icon-chevron-up16" alt=""/>
    </div>
    <main class="profile-container">
        <div class="profile-content">
            <div class="profile-header">
                <div class="wrapper-user-wrapper1">
                    <div class="wrapper-user9">
                        <img
                             class="user-icon"
                             loading="lazy" alt=""
                             th:src="@{'/SimplePsy/V1/specialist/avatar/' + ${specialist.id}}"
                             id="userImage"
                             onclick="window.location.href='/SimplePsy/V1/specialist/personal-info'"/>
                    </div>
                </div>
                <div class="profile-info">
                    <div class="user-info-container">
                        <div class="user-greeting1">
                            <div class="hello-wrapper">
                                <b class="hello">Привет, </b>
                                <b th:text="${specialist.name}" class="hello" ></b>
                                <b class="hello">!</b>
                            </div>
                            <b class="specialist-email">
                                <p th:text="${specialist.username}" class="specialist-email-content"></p>
                            </b>
                        </div>
                    </div>
                    <div class="frame-wrapper73">
                        <div class="frame-parent122">
                            <div class="frame-parent123">
                                <div class="client-list-wrapper">
                                    <button class="base90" onclick="window.location.href='/SimplePsy/V1/specialist/customers';"></button>
                                    <div class="icon-wrapper33">
                                        <img class="icon146" alt="" src="/images/icon-3@2x.png" />
                                    </div>
                                    <b class="client-list">Список клиентов</b>
                                </div>
                                <div class="base-frame">
                                    <button class="calendar-wrapper" id="baseContainer" onclick="window.location.href='/SimplePsy/V1/session/calendar';">
                                        <div class="icon-wrapper34">
                                            <img class="icon147" alt="" src="/images/icon-41@2x.png"/>
                                        </div>
                                        <b class="calendar">Календарь</b>
                                    </button>
                                </div>
                            </div>
                            <div class="frame-parent123">
                                <div class="notifications-wrapper">
                                    <button class="base90 fix-angle-base90" onclick="alert('Эта кнопка находится в разработке')"></button>
                                    <div class="icon-wrapper33">
                                        <img class="icon146" alt="" src="/images/icon-5.svg" />
                                    </div>
                                    <b class="notifications">Уведомления</b>
                                </div>
                                <div class="base-frame">
                                    <button class="calendar-wrapper" id="baseContainer" onclick="alert('Эта кнопка находится в разработке')">
                                        <div class="icon-wrapper34">
                                            <img class="icon147" alt="" src="/images/icon-6.svg"/>
                                        </div>
                                        <b class="analytics">Аналитика</b>
                                    </button>
                                </div>
                                <div class="tests-wrapper">
                                    <button class="base94" onclick="window.location.href='/SimplePsy/V1/scoring/list';"></button>
                                    <b class="surveys-tests">Опросники и тесты</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="client-name-container-wrapper">
                        <div class="client-name-container">
                            <div class="applications1">
                                <b class="b117">Заявки</b>
                            </div>
                            <!--                            <div class="frame-parent106" id="groupContainer">-->
                            <!--                                <div class="rectangle-parent89">-->
                            <!--                                    <div class="frame-child115"></div>-->
                            <!--                                    <b class="empty">20.02.2024</b>-->
                            <!--                                </div>-->
                            <!--                                <div class="rectangle-parent90">-->
                            <!--                                    <div class="frame-child116"></div>-->
                            <!--                                    <b class="b118">Овсянникова Юля Матвеевна</b>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="frame-parent107" id="groupContainer1">
                                <div class="rectangle-parent91">
                                    <div class="frame-child117"></div>
                                    <b class="b119">25.02.2024</b>
                                </div>
                                <div class="rectangle-parent92">
                                    <div class="frame-child118"></div>
                                    <b class="b120">Овсянникова Юля Матвеевна</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-parent25">
                    <img class="icon132" loading="lazy" alt="" src="/images/icon-7@2x.png"/>

                    <div class="feedback-link-parent">
                        <div class="feedback-link1">
                            <b class="send-feedback9">Обратная связь</b>
                        </div>
                        <img class="icon133" loading="lazy" alt="" src="/images/icon-8.svg"/>
                    </div>
                </div>
            </div>
        </div>
        <section class="client-tabs-parent">
            <div class="client-tabs">
                <div class="client-tabs-container">
                    <button class="rectangle-parent93">
                        <div class="frame-child119"></div>
                        <div class="div142">Карта клиента</div>
                    </button>
                    <button class="rectangle-parent94" onclick="window.location = '/SimplePsy/V1/session/sessions'">
                        <div class="frame-child120"></div>
                        <div class="div143">Список встреч</div>
                    </button>
                    <button class="rectangle-parent94" onclick="window.location.href='/SimplePsy/V1/scoring/list';">
                        <div class="frame-child120"></div>
                        <div class="div143">Опросники и тесты</div>
                    </button>
                </div>
            </div>
            <div class="action-buttons">
                <div class="action-buttons-container">
                    <div class="rectangle-parent96">
                        <div class="frame-child122"></div>
                        <div class="div145">Редактировать</div>
                    </div>
                    <div class="rectangle-parent97">
                        <div class="frame-child123"></div>
                        <div class="div146">Сохранить</div>
                    </div>
                    <div class="rectangle-parent98">

                        <div class="frame-child124"></div>
                        <div class="div147">Ссылка на анкету</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form id="client-form1" th:object="${customerDTO}" th:action="@{/SimplePsy/V1/customer/customers/new}" method="post">
                    <div class="form-section">
                        <label for="client-type">Тип клиента</label>
                        <select id="client-type" th:name="typeOfClient" onchange="updateForm()">
                            <option value="ADULT">Взрослый</option>
                            <option value="CHILD">Ребёнок</option>
                            <option value="COUPLE">Пара</option>
                        </select>
                    </div>

                    <div id="common-fields">
                        <div class="form-section">
                            <label for="full-name">ФИО клиента</label>
                            <input type="text" id="full-name" th:name="surname">
                            <input type="text" th:name="name">
                            <input type="text" th:name="lastName">
                        </div>

                        <div class="form-section">
                            <label for="phone-number">Номер телефона</label>
                            <input type="tel" id="phone-number" th:name="contact.phone">
                        </div>

                        <div class="form-section">
                            <label for="email">Почта</label>
                            <input type="email" id="email" th:name="contact.email">
                        </div>

                        <div class="form-section">
                            <label for="gender">Пол</label>
                            <select id="gender" th:name="sex">
                                <option value="MALE">Мужской</option>
                                <option value="FEMALE">Женский</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-section">
                        <label for="client-status">Статус клиента</label>
                        <select id="client-status" th:name="clientStatus">
                            <option value="REGULAR">Регулярный</option>
                            <option value="ON_REQUEST">По запросу</option>
                            <option value="COMPLETED">Завершён</option>
                            <option value="APPLICATION">Заявка</option>
                        </select>
                    </div>

                    <div id="couple-fields" class="hidden">
                        <div class="form-section">
                            <label for="full-name-1">ФИО первого клиента</label>
                            <input type="text" id="full-name-1" th:name="firstClientSurname">
                            <input type="text" th:name="firstClientName">
                            <input type="text" th:name="firstClientLastName">
                        </div>

                        <div class="form-section">
                            <label for="phone-number-1">Номер телефона первого клиента</label>
                            <input type="tel" id="phone-number-1" th:name="firstClientContact.phone">
                        </div>

                        <div class="form-section">
                            <label for="email-1">Почта первого клиента</label>
                            <input type="email" id="email-1" th:name="firstClientContact.email">
                        </div>

                        <div class="form-section">
                            <label for="gender-1">Пол первого клиента</label>
                            <select id="gender-1" th:name="firstClientSex">
                                <option value="MALE">Мужской</option>
                                <option value="FEMALE">Женский</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="request-reason-1">Запрос первого клиента на терапию: причина обращения</label>
                            <textarea id="request-reason-1" th:name="firstClientRequestReason"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="desired-result-1">Запрос первого клиента на терапию: желаемый результат от прохождения терапии</label>
                            <textarea id="desired-result-1" th:name="firstClientDesiredResult"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="full-name-2">ФИО второго клиента</label>
                            <input type="text" id="full-name-2" th:name="secondClientSurname">
                            <input type="text" th:name="secondClientName">
                            <input type="text" th:name="secondClientLastName">
                        </div>

                        <div class="form-section">
                            <label for="phone-number-2">Номер телефона второго клиента</label>
                            <input type="tel" id="phone-number-2" th:name="secondClientContact.phone">
                        </div>

                        <div class="form-section">
                            <label for="email-2">Почта второго клиента</label>
                            <input type="email" id="email-2" th:name="secondClientContact.email">
                        </div>

                        <div class="form-section">
                            <label for="gender-2">Пол второго клиента</label>
                            <select id="gender-2" th:name="secondClientSex">
                                <option value="MALE">Мужской</option>
                                <option value="FEMALE">Женский</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="request-reason-2">Запрос второго клиента на терапию: причина обращения</label>
                            <textarea id="request-reason-2" th:name="secondClientRequestReason"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="desired-result-2">Запрос второго клиента на терапию: желаемый результат от прохождения терапии</label>
                            <textarea id="desired-result-2" th:name="secondClientDesiredResult"></textarea>
                        </div>
                    </div>

                    <div id="child-fields" class="hidden">
                        <div class="form-section">
                            <label for="child-full-name">ФИО ребенка</label>
                            <input type="text" id="child-full-name" th:name="childSurname">
                            <input type="text" th:name="childName">
                            <input type="text" th:name="childLastName">
                        </div>

                        <div class="form-section">
                            <label for="child-phone-number">Номер телефона ребенка</label>
                            <input type="tel" id="child-phone-number" th:name="childContact.phone">
                        </div>

                        <div class="form-section">
                            <label for="child-email">Почта ребенка</label>
                            <input type="email" id="child-email" th:name="childContact.email">
                        </div>

                        <div class="form-section">
                            <label for="child-gender">Пол ребенка</label>
                            <select id="child-gender" th:name="childSex">
                                <option value="MALE">Мужской</option>
                                <option value="FEMALE">Женский</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="desired-result-1">Запрос взрослого на терапию: желаемый результат от прохождения терапии</label>
                            <textarea id="adult-desired-result" th:name="adultDesiredResult"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="desired-result-2">Как ребенок объясняет причину своего посещения психолога</label>
                            <textarea id="child-visit-reason" th:name="childVisitReason"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="desired-result-2">Что сам ребенок хотел изменить, если хотел?</label>
                            <textarea id="child-desire-of-change" th:name="childDesireOfChange"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="who-brings">Кто приводит клиента</label>
                            <select id="who-brings" th:name="leadsClient" onchange="updateGuardianFields()">
                                <option value="PARENT">Родитель</option>
                                <option value="BOTH_PARENTS">Оба родителя</option>
                                <option value="GUARDIAN">Попечитель</option>
                            </select>
                        </div>

                        <div id="parent-fields">
                            <div class="form-section">
                                <label for="parent-full-name">ФИО родителя</label>
                                <input type="text" id="parent-full-name" th:name="parentSurname">
                                <input type="text" th:name="parentName">
                                <input type="text" th:name="parentLastName">
                            </div>

                            <div class="form-section">
                                <label for="parent-phone-number">Номер телефона родителя</label>
                                <input type="tel" id="parent-phone-number" th:name="parentContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent-email">Почта родителя</label>
                                <input type="email" id="parent-email" th:name="parentContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent-gender">Пол родителя</label>
                                <select id="parent-gender" th:name="parentSex">
                                    <option value="MALE">Мужской</option>
                                    <option value="FEMALE">Женский</option>
                                </select>
                            </div>

                            <div class="form-section">
                                <label for="parent1-city">Город родителя</label>
                                <input type="text" id="parent-city" th:name="parentCity">
                            </div>
                        </div>

                        <div id="both-parents-fields" class="hidden">
                            <div class="form-section">
                                <label for="parent1-full-name">ФИО первого родителя</label>
                                <input type="text" id="parent1-full-name" th:name="firstParentsSurname">
                                <input type="text" th:name="firstParentsName">
                                <input type="text" th:name="firstParentsLastName">
                            </div>

                            <div class="form-section">
                                <label for="parent1-phone-number">Номер телефона первого родителя</label>
                                <input type="tel" id="parent1-phone-number" th:name="firstParentsContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent1-email">Почта первого родителя</label>
                                <input type="email" id="parent1-email" th:name="firstParentsContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent1-gender">Пол первого родителя</label>
                                <select id="parent1-gender" th:name="firstParentsSex">
                                    <option value="MALE">Мужской</option>
                                    <option value="FEMALE">Женский</option>
                                </select>
                            </div>

                            <div class="form-section">
                                <label for="parent1-city">Город первого родителя</label>
                                <input type="text" id="parent1-city" th:name="firstParentsCity">
                            </div>

                            <div class="form-section">
                                <label for="parent2-full-name">ФИО второго родителя</label>
                                <input type="text" id="parent2-full-name" th:name="secondParentsSurname">
                                <input type="text" th:name="secondParentsName">
                                <input type="text" th:name="secondParentsLastName">
                            </div>

                            <div class="form-section">
                                <label for="parent2-phone-number">Номер телефона второго родителя</label>
                                <input type="tel" id="parent2-phone-number" th:name="secondParentsContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent2-email">Почта второго родителя</label>
                                <input type="email" id="parent2-email" th:name="secondParentsContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent2-gender">Пол второго родителя</label>
                                <select id="parent2-gender" th:name="secondParentsSex">
                                    <option value="MALE">Мужской</option>
                                    <option value="FEMALE">Женский</option>
                                </select>
                            </div>

                            <div class="form-section">
                                <label for="parent2-city">Город второго родителя</label>
                                <input type="text" id="parent2-city" th:name="secondParentsCity">
                            </div>
                        </div>

                        <div id="guardian-fields" class="hidden">
                            <div class="form-section">
                                <label for="guardian-full-name">ФИО попечителя</label>
                                <input type="text" id="guardian-full-name" th:name="trusteesSurname">
                                <input type="text" th:name="trusteesName">
                                <input type="text" th:name="trusteesLastName">
                            </div>

                            <div class="form-section">
                                <label for="guardian-phone-number">Номер телефона попечителя</label>
                                <input type="tel" id="guardian-phone-number" th:name="trusteesContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="guardian-email">Почта попечителя</label>
                                <input type="email" id="guardian-email" th:name="trusteesContact.email">
                            </div>

                            <div class="form-section">
                                <label for="guardian-gender">Пол попечителя</label>
                                <select id="guardian-gender" th:name="trusteesSex">
                                    <option value="MALE">Мужской</option>
                                    <option value="FEMALE">Женский</option>
                                </select>
                            </div>

                            <div class="form-section">
                                <label for="guardian-city">Город попечителя</label>
                                <input type="text" id="guardian-city" th:name="trusteesCity">
                            </div>
                        </div>
                    </div>

                    <div class="form-section">
                        <label for="contact-method">Каким способом обратился клиент/попечитель?</label>
                        <select id="contact-method" th:name="typeOfTreatment">
                            <option value="MESSENGER">Мессенжер</option>
                            <option value="SOCIAL_NETWORK">Социальная сеть</option>
                            <option value="AGGREGATOR">Агрегатор</option>
                        </select>
                    </div>

                    <div class="form-section">
                        <label for="first-contact-date">Дата первого обращения (запрос на консультацию)</label>
                        <input type="date" id="first-contact-date" th:name="dateOfFirstRequest">
                    </div>

                    <div class="form-section">
                        <label for="first-consultation-date">Дата первой консультации</label>
                        <input type="date" id="first-consultation-date" th:name="dateOfFirstConsultation">
                    </div>

                    <div class="form-section">
                        <label for="meeting-format">Предпочтительный формат встречи</label>
                        <select id="meeting-format" th:name="preferredMeetingFormat" onchange="updateMeetingFields()">
                            <option value="ONLINE" selected>Онлайн</option>
                            <option value="OFFLINE">Оффлайн</option>
                        </select>
                    </div>

                    <div id="online-platforms">
                        <div class="form-section">
                            <label for="online-platform">Выбрать/указать площадку взаимодействия</label>
                            <select id="online-platform" th:name="onlineMeetingPlace">
                                <option value="ZOOM">Zoom</option>
                                <option value="TELEMOST">Телемост</option>
                                <option value="GOOGLE_MEET">Google Meet</option>
                                <option value="TELEGRAM">Telegram</option>
                                <option value="WHATSAPP">WhatsApp</option>
                                <option value="SKYPE">Skype</option>
                            </select>
                        </div>
                    </div>

                    <div id="offline-address" class="hidden">
                        <div class="form-section">
                            <label for="meeting-address">Адрес проведения встречи</label>
                            <input type="text" id="meeting-address" th:name="offlineMeetingPlace">
                        </div>
                    </div>

                    <div class="form-section">
                        <label for="initial-request">Первичный/изначальный запрос клиента на терапию</label>
                        <textarea id="initial-request" th:name="clientsFirstRequestForTherapy"></textarea>
                    </div>

                    <div class="form-section">
                        <label for="fixed-time">Фиксированное время/день недели для встречи (если да, то
                            указать)</label>
                        <input type="text" id="fixed-time" th:name="fixedTimeForMeeting">
                    </div>

                    <div class="form-section">
                        <label for="financial-terms">Финансовые условия</label>
                        <textarea id="financial-terms" th:name="financialConditions"></textarea>
                    </div>

                    <div>
                        <h3>Подробнее...</h3>
                        <div class="form-section">
                            <label for="birth-date">Дата рождения</label>
                            <input type="date" id="birth-date" th:name="dateOfBirth">
                        </div>

                        <div class="form-section">
                            <label for="address">Адрес проживания</label>
                            <input type="text" id="address" th:name="residentialAddress">
                        </div>

                        <div class="form-section">
                            <label for="referrals">Коллегиальные рекомендации (поле для заполнения кто вас
                                порекомендовал клиенту)</label>
                            <textarea id="referrals" th:name="collegialRecommendations"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="contract-conditions">Особые условия контракта</label>
                            <textarea id="contract-conditions" th:name="specialTermsOfContract"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="marital-status">Семейное положение</label>
                            <select id="marital-status" th:name="familyStatus">
                                <option value="MARRIED">Женат/Замужем</option>
                                <option value="SINGLE">Холост/Незамужем</option>
                                <option value="DIVORCED">В разводе</option>
                                <option value="WIDOWED">Вдовец/Вдова</option>
                                <option value="COHABITATION">Сожительство/Несостоявшийся брак</option>
                                <option value="MARRIAGE_WITH_SEPARATE_HOUSING">Официальный брак с раздельным проживанием
                                </option>
                                <option value="LONELY">Одиночество/Не в постоянных отношениях</option>
                                <option value="FAMILY_WITH_CHILDREN">Семьи с детьми</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="preferred-communication-channel">Приоритетный канал коммуникации</label>
                            <select id="preferred-communication-channel" th:name="priorityCommunicationChannel">
                                <option value="TELEGRAM">Telegram</option>
                                <option value="WHATSAPP">WhatsApp</option>
                                <option value="VIBER">Viber</option>
                                <option value="SKYPE">Skype</option>
                                <option value="EMAIL">Почта</option>
                                <option value="SNAPCHAT">Snapchat</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="supervision">Берётся ли супервизия на данного клиента</label>
                            <select id="supervision" th:name="supervised">
                                <option value="YES">Да</option>
                                <option value="NO">Нет</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="supervisor-info">ФИО супервизора</label>
                            <input type="text" id="supervisor-info" th:name="supervisorsSurname">
                            <input type="text" th:name="supervisorsName">
                            <input type="text" th:name="supervisorsLastName">
                        </div>
                        <div class="form-section">
                            <label for="supervisor-phone">Номер телефона супервизора</label>
                            <input type="tel" id="supervisor-phone" th:name="supervisorsContact.phone">
                        </div>
                        <div class="form-section">
                            <label for="supervisor-email">Электронная почта супервизора</label>
                            <input type="email" id="supervisor-email" th:name="supervisorsContact.email">
                        </div>
                        <div class="form-section">
                            <label for="supervision-material">Материал для следующих сеансов из супервизии</label>
                            <textarea id="supervision-material" th:name="materialForNextSessionsFromSupervision"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="cotherapist-info">ФИО котерапевта</label>
                            <input type="text" id="cotherapist-info" th:name="cotherapistSurname">
                            <input type="text" th:name="cotherapistName">
                            <input type="text" th:name="cotherapistLastName">
                        </div>
                        <div class="form-section">
                            <label for="cotherapist-phone">Номер телефона котерапевта</label>
                            <input type="tel" id="cotherapist-phone" th:name="cotherapistContact.phone">
                        </div>
                        <div class="form-section">
                            <label for="cotherapist-email">Электронная почта котерапевта</label>
                            <input type="email" id="cotherapist-email" th:name="cotherapistContact.email">
                        </div>
                        <div class="form-section">
                            <label for="cotherapist-payment-conditions">Условия распределения гонорара между котерапевтами</label>
                            <textarea id="cotherapist-payment-conditions" th:name="cotherapistPaymentConditions"></textarea>
                        </div>

                        <div class="form-section">
                            <label for="notes">Заметки</label>
                            <textarea id="notes" th:name="notes"></textarea>
                        </div>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </section>
    </main>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div id="modal-body"></div>
    </div>
</div>
<script>
    function updateForm() {
        const clientType = document.getElementById('client-type').value;
        document.getElementById('common-fields').style.display = clientType === 'ADULT' ? 'block' : 'none';
        document.getElementById('couple-fields').style.display = clientType === 'COUPLE' ? 'block' : 'none';
        document.getElementById('child-fields').style.display = clientType === 'CHILD' ? 'block' : 'none';
    }

    function updateGuardianFields() {
        const whoBrings = document.getElementById('who-brings').value;
        document.getElementById('parent-fields').style.display = whoBrings === 'PARENT' ? 'block' : 'none';
        document.getElementById('both-parents-fields').style.display = whoBrings === 'BOTH_PARENTS' ? 'block' : 'none';
        document.getElementById('guardian-fields').style.display = whoBrings === 'GUARDIAN' ? 'block' : 'none';
    }

    function updateMeetingFields() {
        const meetingFormat = document.getElementById('meeting-format').value;
        document.getElementById('online-platforms').style.display = meetingFormat === 'ONLINE' ? 'block' : 'none';
        document.getElementById('offline-address').style.display = meetingFormat === 'OFFLINE' ? 'block' : 'none';
    }

    // Initialize form
    updateForm();
    updateGuardianFields();
    updateMeetingFields();


    // Открытие модального окна создания сессии
    document.addEventListener('DOMContentLoaded', function() {
    // Получаем элементы
    var modal = document.getElementById('modal');
    var modalBody = document.getElementById('modal-body');
    var closeBtn = document.querySelector('.close-btn');
    var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"
    var  holidayBtn = document.querySelector('.user-policy10');
    // Функция для открытия модального окна
        function openModal() {
            fetch('/SimplePsy/V1/session/session-form')
                .then(response => response.text())
                .then(data => {
                    modalBody.innerHTML = data;
                    modal.style.display = 'block';
                })
                .catch(error => console.error('Ошибка загрузки:', error));

            fetch('/SimplePsy/V1/customer/findAll')
                .then(response => response.json())
                .then(clients => {
                    const dataList = document.getElementById('clientsList');
                    dataList.innerHTML = '';

                    const script = document.createElement('script');
                    script.id = 'dynamic-script';
                    script.textContent = `
  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options).find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
    }
  });
  // Функция для валидации формы
  function validateForm() {
    const clientId = document.getElementById('clientId').value;
    if (!clientId) {
      document.getElementById('error-message').style.display = 'block'; // Показываем сообщение об ошибке
      return false; // Отменяем отправку формы
    }
    return true; // Разрешаем отправку формы, если значение есть
  }

  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options)
            .find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
      document.getElementById('error-message').style.display = 'none'; // Скрываем сообщение об ошибке при успешном выборе клиента
    } else {
      document.getElementById('clientId').value = ''; // Очищаем скрытое поле, если выбранного клиента нет в списке
    }
  });`;
                    document.body.appendChild(script);
                    clients.forEach(client => {
                        const option = document.createElement('option');
                        switch (customer.typeOfClient) {
                            case 'ADULT':
                                option.value = customer.name + ' ' +customer.surname;
                                break;
                            case 'CHILD':
                                option.value = customer.childName + ' ' + customer.childSurname;
                                break;
                            case 'COUPLE':
                                option.value = customer.firstClientName + ' ' + customer.firstClientSurname;
                                break;
                            default:
                                // Здесь можно добавить код для обработки случая, если ни одно из значений не совпало
                                console.log('Unknown client type');
                                break;
                        }
                        option.setAttribute('data-id', customer.id);
                        dataList.appendChild(option);
                    });
                })
                .catch(error => console.error('Ошибка:', error));


        }

        // Функция для закрытия модального окна
        function closeModal() {
            modal.style.display = 'none';
            const script = document.getElementById('dynamic-script');
            if (script) {
                script.remove();
                console.log('Скрипт удалён');
            } else {
                console.log('Скрипт не найден');
            }
        }

    // Событие клика для открытия модального окна
    appointLink.addEventListener('click', openModal);
    holidayBtn.addEventListener('click', openHolidayModal);
    // Событие клика для закрытия модального окна
    closeBtn.addEventListener('click', closeModal);
  });
    function openHolidayModal()
    {
        const modal = document.getElementById("modal");
        const modalBody = document.getElementById("modal-body");

        fetch('/SimplePsy/V1/session/holiday')
            .then(response => response.text())
            .then(html => {
                modalBody.innerHTML = html;
                modal.style.display = "block";

                // Добавляем обработчик закрытия модального окна
                document.querySelector('.close-modal').onclick = function() {
                    modal.style.display = "none";
                };
            })
            .catch(error => {
                console.error('Error loading modal content:', error);
            });
    }
    var  addClientBtn = document.querySelector('.about-us16');
    addClientBtn.addEventListener('click', () =>
    {
        window.location.href = '/SimplePsy/V1/customer/customer-form';
    });
</script>
</body>
</html>
