<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../../static/css/new-front/global.css" />
    <link rel="stylesheet" href="../../../static/css/new-front/customer/customer-card2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div267">
      <div class="settings7"></div>
      <header class="top-navigation2">
        <div class="branding">
          <div class="logo-container1">
            <div class="logo-placeholder">
              <div class="logo-image">
                <img
                  class="icon166"
                  loading="lazy"
                  alt=""
                  src="../public/icon@2x.png"
                />

                <div class="menu2">
                  <b class="constructor13">Понятная практика</b>
                </div>
                <div class="search14">
                  <img
                    class="icon167"
                    loading="lazy"
                    alt=""
                    src="../public/icon-1@2x.png"
                  />

                  <div class="search-field1">
                    <b class="search15">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="page-links">
                <div class="about-us20">
                  <a class="about-us21">Добавить клиента</a>
                  <div class="legal">
                    <a class="news14">Назначить встречу</a>
                    <b class="user-policy14">Добавить график нерабочих дней </b>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="location2">
            <img class="icon168" alt="" src="../public/icon-2@2x.png" />

            <div class="city1">
              <b class="new-york13">Ростов-на-Дону</b>
            </div>
            <img class="icon169" alt="" src="../public/icon2.svg" />
          </div>
        </div>
      </header>
      <div class="item146">
        <img class="feather-icon-chevron-up22" alt="" />
      </div>
      <section class="content2">
        <div class="user-profile3">
          <div class="user-information">
            <div class="user-avatar">
              <div class="wrapper-user13">
                <img
                  class="user-icon13"
                  loading="lazy"
                  alt=""
                  src="../public/user@2x.png"
                  id="userImage"
                />
              </div>
            </div>
            <div class="user-name3">
              <div class="name-details">
                <div class="name-email">
                  <div class="greetings">
                    <b class="hello-rosalie13">Привет, Антон!</b>
                  </div>
                  <b class="rosaliericegmailc13">
                    <p class="ponyatpractikagmailcom9">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
              </div>
              <div class="navigation-menu2">
                <div class="menu-list">
                  <div class="menu-options">
                    <div class="dashboard37" id="dashboardContainer">
                      <div class="base100"></div>
                      <div class="dashboard-badge">
                        <img
                          class="icon170"
                          loading="lazy"
                          alt=""
                          src="../public/icon-3@2x.png"
                        />
                      </div>
                      <b class="dashboard38">Список клинетов</b>
                      <div class="email6" id="emailContainer">
                        <div class="base101">
                          <div class="calendar-icon1">
                            <img
                              class="icon171"
                              loading="lazy"
                              alt=""
                              src="../public/icon-41@2x.png"
                            />
                          </div>
                          <b class="calendars13">Календарь</b>
                        </div>
                      </div>
                    </div>
                    <div class="invoice-menu2">
                      <div class="invoice26" id="invoiceContainer">
                        <div class="base102"></div>
                        <div class="invoice-badge">
                          <img
                            class="icon172"
                            loading="lazy"
                            alt=""
                            src="../public/icon-5.svg"
                          />
                        </div>
                        <b class="invoice27">Уведомления</b>
                      </div>
                      <div class="invoice-options">
                        <div class="base103"></div>
                        <div class="icon-wrapper42">
                          <img
                            class="icon173"
                            loading="lazy"
                            alt=""
                            src="../public/icon-6.svg"
                          />
                        </div>
                        <b class="files14">Аналитика</b>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="files-menu">
                  <div class="base104"></div>
                  <b class="dashboard39">Опросники и тесты</b>
                </div>
              </div>
              <div class="requests-menu">
                <div class="request-options">
                  <div class="request-action">
                    <b class="b147">Заявки</b>
                  </div>
                  <div class="request-status-parent" id="groupContainer">
                    <div class="request-status">
                      <div class="request-status-child"></div>
                      <b class="status-icon">20.02.2024</b>
                    </div>
                    <div class="request-name">
                      <div class="request-name-child"></div>
                      <b class="b148">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                  <div class="frame-parent151" id="groupContainer1">
                    <div class="rectangle-parent152">
                      <div class="frame-child178"></div>
                      <b class="b149">25.02.2024</b>
                    </div>
                    <div class="rectangle-parent153">
                      <div class="frame-child179"></div>
                      <b class="b150">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-menu">
              <div class="feedback-options">
                <img
                  class="icon174"
                  loading="lazy"
                  alt=""
                  src="../public/icon-7@2x.png"
                />

                <div class="feedback-action">
                  <div class="send-feedback-wrapper7">
                    <b class="send-feedback13">Обратная связь</b>
                  </div>
                  <img
                    class="icon175"
                    loading="lazy"
                    alt=""
                    src="../public/icon-8.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="client-profile">
          <div class="profile-actions">
            <div class="profile-options">
              <div class="profile-tabs">
                <div class="profile-tab-list">
                  <button class="rectangle-parent154">
                    <div class="frame-child180"></div>
                    <div class="div268">Карта клиента</div>
                  </button>
                  <button class="rectangle-parent155">
                    <div class="frame-child181"></div>
                    <div class="div269">Список встреч</div>
                  </button>
                  <div class="rectangle-parent156" id="groupContainer">
                    <div class="frame-child182"></div>
                    <div class="div270">Опросники и тесты</div>
                  </div>
                </div>
              </div>
              <div class="profile-actions-list">
                <div class="rectangle-parent157">
                  <div class="frame-child183"></div>
                  <div class="div271">Редактировать</div>
                </div>
                <div class="rectangle-parent158">
                  <div class="frame-child184"></div>
                  <div class="div272">Сохранить</div>
                </div>
                <div class="rectangle-parent159">
                  <div class="frame-child185"></div>
                  <div class="div273">Ссылка на анкету</div>
                </div>
              </div>
            </div>
          </div>
          <div class="component20">
            <div class="item147">
              <div class="div274">Тип клиента</div>
              <div class="div275">Взрослый (справочник)</div>
              <div class="button84">
                <img
                  class="feather-icon-chevron-down30"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item148">
              <div class="div276">ФИО клиента</div>
              <div class="string22">
                Иванова Елизавета Станиславовна (string)
              </div>
            </div>
            <div class="item149">
              <div class="div277">Номер телефона</div>
              <div class="int8">+7 960 307 08 92 (int)</div>
            </div>
            <div class="item150">
              <div class="div278">Почта</div>
              <div class="kirraaagmailcom-string2">
                kirraaa@gmail.com (string)
              </div>
            </div>
            <div class="item151">
              <div class="div279">Пол</div>
              <div class="div280">Женский (справочник)</div>
              <div class="button85">
                <img
                  class="feather-icon-chevron-down31"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item152">
              <div class="div281">Кто приводит клиента</div>
              <div class="div282">Родитель</div>
              <div class="button86">
                <img
                  class="feather-icon-chevron-down32"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item153">
              <div class="div283">ФИО первого родителя</div>
              <input
                class="string23"
                placeholder="Иванова Елизавета Станиславовна (string)"
                type="text"
              />
            </div>
            <div class="item154">
              <div class="div284">Номер телефона первого родителя</div>
              <input
                class="int9"
                placeholder="+7 960 307 08 92 (int)"
                type="text"
              />
            </div>
            <div class="item155">
              <div class="div285">Почта первого родителя</div>
              <div class="kirraaagmailcom-string3">
                kirraaa@gmail.com (string)
              </div>
            </div>
            <div class="item156">
              <div class="div286">Пол первого родителя</div>
              <div class="div287">Женский (справочник)</div>
              <div class="button87">
                <img
                  class="feather-icon-chevron-down33"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item157">
              <div class="div288">ФИО второго родителя</div>
              <input
                class="string24"
                placeholder="Иванова Елизавета Станиславовна (string)"
                type="text"
              />
            </div>
            <div class="item158">
              <div class="div289">Номер телефона второго родителя</div>
              <input
                class="int10"
                placeholder="+7 960 307 08 92 (int)"
                type="text"
              />
            </div>
            <div class="item159">
              <div class="div290">Почта второго родителя</div>
              <div class="kirraaagmailcom-string4">
                kirraaa@gmail.com (string)
              </div>
            </div>
            <div class="item160">
              <div class="div291">Пол второго родителя</div>
              <div class="div292">Женский (справочник)</div>
              <div class="button88">
                <img
                  class="feather-icon-chevron-down34"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item161">
              <div class="div293">ФИО попечителя</div>
              <input
                class="string25"
                placeholder="Иванова Елизавета Станиславовна (string)"
                type="text"
              />
            </div>
            <div class="item162">
              <div class="div294">Номер телефона попечителя</div>
              <input
                class="int11"
                placeholder="+7 960 307 08 92 (int)"
                type="text"
              />
            </div>
            <div class="item163">
              <div class="div295">Почта попечителя</div>
              <div class="kirraaagmailcom-string5">
                kirraaa@gmail.com (string)
              </div>
            </div>
            <div class="item164">
              <div class="div296">Пол попечителя</div>
              <div class="div297">Женский (справочник)</div>
              <div class="button89">
                <img
                  class="feather-icon-chevron-down35"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item165">
              <div class="div298">Каким способом обратились</div>
              <div class="div299">Мессенджер (справочник)</div>
              <div class="button90">
                <img
                  class="feather-icon-chevron-down36"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item166">
              <div class="div300">
                Дата первого обращения (запрос на консультацию)
              </div>
              <div class="int12">20.11.2021 (int)</div>
            </div>
            <div class="item167">
              <div class="div301">Дата первой консультации</div>
              <div class="int13">01.12.2021 (int)</div>
            </div>
            <div class="item168">
              <div class="div302">Предпочтительный формат встречи</div>
              <div class="div303">Онлайн (справочник)</div>
              <div class="button91">
                <img
                  class="feather-icon-chevron-down37"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item169">
              <div class="div304">
                Для онлайн выбрать/указать площадку взаимодействия
              </div>
              <div class="zoom2">Zoom (справочник)</div>
              <div class="button92">
                <img
                  class="feather-icon-chevron-down38"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item170">
              <div class="div305">
                Для оффлайн выбрать адрес проведения встречи
              </div>
              <div class="string26">Чехова 32 (string)</div>
            </div>
            <div class="item171">
              <div class="div306">Статус клиента</div>
              <div class="wrapper52">
                <div class="div307">по запросу (справочник)</div>
              </div>
              <div class="button93">
                <img
                  class="feather-icon-chevron-down39"
                  loading="lazy"
                  alt=""
                  src="../public/feathericon--chevrondown.svg"
                />
              </div>
            </div>
            <div class="item172">
              <div class="div308">
                Первичный/изначальный запрос клиента на терапию
              </div>
              <div class="string27">(string)</div>
            </div>
            <div class="item173">
              <div class="div309">
                Фиксированное время/день недели для встречи (если да, то
                указать)
              </div>
              <div class="string28">(string)</div>
            </div>
            <div class="item174">
              <div class="div310">Финансовые условия</div>
            </div>
            <div class="contact-information">
              <div class="item175">
                <div class="div311">Дата рождения</div>
                <div class="int14">20.11.2021 (int)</div>
              </div>
              <div class="item176">
                <div class="div312">Адрес проживания</div>
                <div class="string29">Чехова 32 (string)</div>
              </div>
              <div class="item177">
                <div class="div313">
                  Коллегиальные рекомендации (поле для заполнения кто вас
                  порекомендовал клиенту)
                </div>
                <div class="string30">(string)</div>
              </div>
              <div class="item178">
                <div class="div314">Особые условия контракта</div>
                <div class="string31">(string)</div>
                <div class="button94">
                  <img
                    class="feather-icon-chevron-down40"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item179">
                <div class="div315">Семейное положение</div>
                <div class="div316">Женат/Замужем (справочник)</div>
                <div class="button95">
                  <img
                    class="feather-icon-chevron-down41"
                    loading="lazy"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item180">
                <div class="div317">
                  Прием медицинских препаратов оказывающих влияние на
                  сознание/эмоциональное состояние клиента
                </div>
                <input class="string32" placeholder="(string)" type="text" />
              </div>
              <div class="item181">
                <div class="div318">
                  Предыдущий опыт получения психологической помощи
                </div>
                <div class="string33">(string)</div>
              </div>
              <div class="item182">
                <div class="div319">
                  Приоритетный канал коммуникации (выпадающий список куда
                  писать)
                </div>
                <div class="telegram4">Telegram (справочник)</div>
                <div class="button96">
                  <img
                    class="feather-icon-chevron-down42"
                    loading="lazy"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item183">
                <div class="div320">
                  Берется ли супервизия на данного клиента
                </div>
                <div class="div321">Да (справочник)</div>
                <div class="button97">
                  <img
                    class="feather-icon-chevron-down43"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
                <div class="button98">
                  <img
                    class="feather-icon-chevron-down44"
                    loading="lazy"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item184">
                <div class="div322">ФИО и контакты супервизора</div>
                <div class="string34">(string)</div>
                <div class="button99">
                  <img
                    class="feather-icon-chevron-down45"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item185">
                <div class="div323">
                  Материал для следующих сеансов из супервизии
                </div>
                <div class="string35">(string)</div>
                <div class="button100">
                  <img
                    class="feather-icon-chevron-down46"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item186">
                <div class="div324">Заметки</div>
                <div class="string36">(string)</div>
              </div>
              <div class="item187">
                <div class="div325">Статус клиента (Регулярный/по запросу)</div>
                <div class="wrapper53">
                  <div class="div326">по запросу (справочник)</div>
                </div>
                <div class="button101">
                  <img
                    class="feather-icon-chevron-down47"
                    alt=""
                    src="../public/feathericon--chevrondown.svg"
                  />
                </div>
              </div>
              <div class="item188">
                <div class="div327">
                  Первичный/изначальный запрос клиента на терапию
                </div>
                <div class="div328">Текстовое поле</div>
              </div>
              <div class="item189">
                <div class="div329">
                  Фиксированное время/день недели для встречи (если да, то
                  указать)
                </div>
                <div class="div330">Текстовое поле</div>
              </div>
              <div class="item190">
                <div class="div331">Финансовые условия</div>
                <div class="div332">Числовое поле</div>
              </div>
            </div>
            <div class="div333">Подробнее....</div>
          </div>
        </div>
      </section>
    </div>

    <script>
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var emailContainer = document.getElementById("emailContainer");
      if (emailContainer) {
        emailContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component13.html";
        });
      }
      </script>
  </body>
</html>
