<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/customer-creation.css}"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
</head>
<body>
<div class="div141">
    <div class="settings3"></div>
    <header class="app-container">
        <div class="page-content">
            <div class="content-layout">
                <div class="main-area">
                    <div class="sidebar-container">
                        <img class="icon124" loading="lazy" alt="" src="/images/icon@2x.png"/>

                        <div class="constructor-wrapper3">
                            <a class="constructor9">Понятная практика</a>
                        </div>
                        <div class="icon-parent23">
                            <img class="icon125" loading="lazy" alt="" src="/images/icon-1@2x.png"/>

                            <div class="search-input3">
                                <b class="search10">Найти клиента...</b>
                            </div>
                        </div>
                    </div>
                    <div class="main-area-inner">
                        <div class="about-us-parent4">
                            <a class="about-us16">Добавить клиента</a>
                            <div class="legal-links">
                                <a class="news10">Назначить встречу</a>
                                <b class="user-policy10">Добавить график нерабочих дней </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icon-parent24">
                <img class="icon126" alt="" src="/images/icon-2@2x.png"/>

                <div class="location-name1">
                    <b class="new-york9">Ростов-на-Дону</b>
                </div>
                <img class="icon127" alt="" src="/images/icon2.svg"/>
            </div>
        </div>
    </header>
    <div class="item72">
        <img class="feather-icon-chevron-up16" alt=""/>
    </div>
    <main class="profile-container">
        <div class="profile-content">
            <div class="profile-header">
                <div class="wrapper-user-wrapper1">
                    <div class="wrapper-user9">
                        <img class="user-icon9" loading="lazy" alt="" src="/images/user@2x.png" id="userImage"/>
                    </div>
                </div>
                <div class="profile-info">
                    <div class="user-info-container">
                        <div class="user-greeting1">
                            <div class="hello-rosalie-wrapper3">
                                <b class="hello-rosalie9">Привет, Антон!</b>
                            </div>
                            <b class="rosaliericegmailc9">
                                <p class="ponyatpractikagmailcom5">
                                    ponyatpractika@gmail.com
                                </p>
                            </b>
                        </div>
                    </div>
                    <div class="navigation-container-parent">
                        <div class="navigation-container">
                            <div class="navigation-items1">
                                <div class="dashboard26" id="dashboardContainer">
                                    <div class="base80"></div>
                                    <div class="icon-wrapper25">
                                        <img class="icon128" loading="lazy" alt="" src="/images/icon-3@2x.png"/>
                                    </div>
                                    <b class="dashboard27">Список клинетов</b>
                                    <div class="email4" id="emailContainer">
                                        <div class="base81">
                                            <div class="icon-wrapper26">
                                                <img class="icon129" loading="lazy" alt=""
                                                     src="/images/icon-41@2x.png"/>
                                            </div>
                                            <b class="calendars9">Календарь</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="invoice-link">
                                    <div class="invoice17" id="invoiceContainer">
                                        <div class="base82"></div>
                                        <div class="icon-wrapper27">
                                            <img class="icon130" loading="lazy" alt="" src="/images/icon-5.svg"/>
                                        </div>
                                        <b class="invoice18">Уведомления</b>
                                    </div>
                                    <div class="invoice19">
                                        <div class="base83"></div>
                                        <div class="icon-wrapper28">
                                            <img class="icon131" loading="lazy" alt="" src="/images/icon-6.svg"/>
                                        </div>
                                        <b class="files10">Аналитика</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="unknown-link">
                            <div class="base84"></div>
                            <b class="dashboard28">Опросники и тесты</b>
                        </div>
                    </div>
                    <div class="client-name-container-wrapper">
                        <div class="client-name-container">
                            <div class="applications1">
                                <b class="b117">Заявки</b>
                            </div>
<!--                            <div class="frame-parent106" id="groupContainer">-->
<!--                                <div class="rectangle-parent89">-->
<!--                                    <div class="frame-child115"></div>-->
<!--                                    <b class="empty">20.02.2024</b>-->
<!--                                </div>-->
<!--                                <div class="rectangle-parent90">-->
<!--                                    <div class="frame-child116"></div>-->
<!--                                    <b class="b118">Овсянникова Юля Матвеевна</b>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="frame-parent107" id="groupContainer1">
                                <div class="rectangle-parent91">
                                    <div class="frame-child117"></div>
                                    <b class="b119">25.02.2024</b>
                                </div>
                                <div class="rectangle-parent92">
                                    <div class="frame-child118"></div>
                                    <b class="b120">Овсянникова Юля Матвеевна</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-parent25">
                    <img class="icon132" loading="lazy" alt="" src="/images/icon-7@2x.png"/>

                    <div class="feedback-link-parent">
                        <div class="feedback-link1">
                            <b class="send-feedback9">Обратная связь</b>
                        </div>
                        <img class="icon133" loading="lazy" alt="" src="/images/icon-8.svg"/>
                    </div>
                </div>
            </div>
        </div>
        <section class="client-tabs-parent">
            <div class="client-tabs">
                <div class="client-tabs-container">
                    <button class="rectangle-parent93">
                        <div class="frame-child119"></div>
                        <div class="div142">Карта клиента</div>
                    </button>
                    <button class="rectangle-parent94">
                        <div class="frame-child120"></div>
                        <div class="div143">Список встреч</div>
                    </button>
                    <div class="rectangle-parent95" id="groupContainer">
                        <div class="frame-child121"></div>
                        <div class="div144">Опросники и тесты</div>
                    </div>
                </div>
            </div>
            <div class="action-buttons">
                <div class="action-buttons-container">
                    <div class="rectangle-parent96">
                        <div class="frame-child122"></div>
                        <div class="div145">Редактировать</div>
                    </div>
                    <div class="rectangle-parent97">
                        <div class="frame-child123"></div>
                        <div class="div146">Сохранить</div>
                    </div>
                    <div class="rectangle-parent98">

                        <div class="frame-child124"></div>
                        <div class="div147">Ссылка на анкету</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <form id="client-form1" th:object="${customerDTO}" th:action="@{/SimplePsy/V1/customer/customers/new}" method="post">
                    <div class="form-section">
                        <label for="client-type">Тип клиента</label>
                        <select id="client-type" name="client-type" onchange="updateForm()" required>
                            <option value="adult">Взрослый</option>
                            <option value="child">Ребёнок</option>
                            <option value="couple">Пара</option>
                        </select>
                    </div>

                    <div id="common-fields">
                        <div class="form-section">
                            <label for="full-name">ФИО клиента</label>
                            <input type="text" id="full-name" th:name="name" required>
                            <input type="text"  th:name="surname" required>
                        </div>

                        <div class="form-section">
                            <label for="phone-number">Номер телефона</label>
                            <input type="tel" id="phone-number" th:name="contact.phone" required>
                        </div>

                        <div class="form-section">
                            <label for="email">Почта</label>
                            <input type="email" id="email" th:name="contact.email" required>
                        </div>

                        <div class="form-section">
                            <label for="gender">Пол</label>
                            <select id="gender" th:name="sex" required>
                                <option value="male">Мужской</option>
                                <option value="female">Женский</option>
                            </select>
                        </div>
                    </div>

                    <div id="couple-fields" class="hidden">
                        <div class="form-section">
                            <label for="full-name-1">ФИО клиента 1</label>
                            <input type="text" id="full-name-1" th:name="name">
                            <input type="text"  th:name="surname" required>
                        </div>

                        <div class="form-section">
                            <label for="phone-number-1">Номер телефона 1</label>
                            <input type="tel" id="phone-number-1" th:name="contact.phone">
                        </div>

                        <div class="form-section">
                            <label for="email-1">Почта 1</label>
                            <input type="email" id="email-1" th:name="contact.email">
                        </div>

                        <div class="form-section">
                            <label for="gender-1">Пол 1</label>
                            <select id="gender-1" th:name="sex">
                                <option value="male">Мужской</option>
                                <option value="female">Женский</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="full-name-2">ФИО клиента 2</label>
                            <input type="text" id="full-name-2" th:name="partnersName">
                            <input type="text"  th:name="partnersSurname" required>
                        </div>

                        <div class="form-section">
                            <label for="phone-number-2">Номер телефона 2</label>
                            <input type="tel" id="phone-number-2" th:name="partnersContact.phone">
                        </div>

                        <div class="form-section">
                            <label for="email-2">Почта 2</label>
                            <input type="email" id="email-2" th:name="partnersContact.email">
                        </div>

                        <div class="form-section">
                            <label for="gender-2">Пол 2</label>
                            <select id="gender-2" th:name="partnersSex">
                                <option value="male">Мужской</option>
                                <option value="female">Женский</option>
                            </select>
                        </div>
                    </div>

                    <div id="child-fields" class="hidden">
                        <div class="form-section">
                            <label for="who-brings">Кто приводит клиента</label>
                            <select id="who-brings" th:name="leadsClient" onchange="updateGuardianFields()">
                                <option value="parent">Родитель</option>
                                <option value="both-parents">Оба родителя</option>
                                <option value="guardian">Попечитель</option>
                            </select>
                        </div>

                        <div id="parent-fields">
                            <div class="form-section">
                                <label for="parent-full-name">ФИО родителя</label>
                                <input type="text" id="parent-full-name" th:name="firstParentsName">
                                <input type="text"  th:name="firstParentsSurname" required>
                            </div>

                            <div class="form-section">
                                <label for="parent-phone-number">Номер телефона родителя</label>
                                <input type="tel" id="parent-phone-number" th:name="firstParentsContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent-email">Почта родителя</label>
                                <input type="email" id="parent-email" th:name="firstParentsContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent-gender">Пол родителя</label>
                                <select id="parent-gender" th:name="firstParentsSex">
                                    <option value="male">Мужской</option>
                                    <option value="female">Женский</option>
                                </select>
                            </div>
                        </div>

                        <div id="both-parents-fields" class="hidden">
                            <div class="form-section">
                                <label for="parent1-full-name">ФИО первого родителя</label>
                                <input type="text" id="parent1-full-name" th:name="firstParentsName">
                                <input type="text"  th:name="firstParentsSurname" required>
                            </div>

                            <div class="form-section">
                                <label for="parent1-phone-number">Номер телефона первого родителя</label>
                                <input type="tel" id="parent1-phone-number" th:name="firstParentsContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent1-email">Почта первого родителя</label>
                                <input type="email" id="parent1-email" th:name="firstParentsContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent1-gender">Пол первого родителя</label>
                                <select id="parent1-gender" th:name="firstParentsSex">
                                    <option value="male">Мужской</option>
                                    <option value="female">Женский</option>
                                </select>
                            </div>

                            <div class="form-section">
                                <label for="parent2-full-name">ФИО второго родителя</label>
                                <input type="text" id="parent2-full-name" th:name="secondParentsName">
                                <input type="text"  th:name="secondParentsSurname" required>
                            </div>

                            <div class="form-section">
                                <label for="parent2-phone-number">Номер телефона второго родителя</label>
                                <input type="tel" id="parent2-phone-number" th:name="secondParentsContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="parent2-email">Почта второго родителя</label>
                                <input type="email" id="parent2-email" th:name="secondParentsContact.email">
                            </div>

                            <div class="form-section">
                                <label for="parent2-gender">Пол второго родителя</label>
                                <select id="parent2-gender" th:name="secondParentsSex">
                                    <option value="male">Мужской</option>
                                    <option value="female">Женский</option>
                                </select>
                            </div>
                        </div>

                        <div id="guardian-fields" class="hidden">
                            <div class="form-section">
                                <label for="guardian-full-name">ФИО попечителя</label>
                                <input type="text" id="guardian-full-name" th:name="trusteesName">
                                <input type="text"  th:name="trusteesSurname" required>
                            </div>

                            <div class="form-section">
                                <label for="guardian-phone-number">Номер телефона попечителя</label>
                                <input type="tel" id="guardian-phone-number" th:name="trusteesContact.phone">
                            </div>

                            <div class="form-section">
                                <label for="guardian-email">Почта попечителя</label>
                                <input type="email" id="guardian-email" th:name="trusteesContact.email">
                            </div>

                            <div class="form-section">
                                <label for="guardian-gender">Пол попечителя</label>
                                <select id="guardian-gender" th:name="trusteesSex">
                                    <option value="male">Мужской</option>
                                    <option value="female">Женский</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-section">
                        <label for="contact-method">Каким способом обратился клиент/попечитель?</label>
                        <select id="contact-method" th:name="typeOfTreatment" required>
                            <option value="messenger">Мессенжер</option>
                            <option value="social-network">Социальная сеть</option>
                            <option value="aggregator">Агрегатор</option>
                        </select>
                    </div>

                    <div class="form-section">
                        <label for="first-contact-date">Дата первого обращения (запрос на консультацию)</label>
                        <input type="date" id="first-contact-date" th:name="dateOfFirstRequest" required>
                    </div>

                    <div class="form-section">
                        <label for="first-consultation-date">Дата первой консультации</label>
                        <input type="date" id="first-consultation-date" th:name="dateOfFirstConsultation" required>
                    </div>

                    <div class="form-section">
                        <label for="meeting-format">Предпочтительный формат встречи</label>
                        <select id="meeting-format" th:name="preferredMeetingFormat" onchange="updateMeetingFields()" required>
                            <option value="online" selected>Онлайн</option>
                            <option value="offline">Оффлайн</option>
                        </select>
                    </div>

                    <div id="online-platforms">
                        <div class="form-section">
                            <label for="online-platform">Выбрать/указать площадку взаимодействия</label>
                            <select id="online-platform" th:name="onlineMeetingPlace">
                                <option value="zoom">Zoom</option>
                                <option value="telebridge">Телемост</option>
                                <option value="googlemeet">Google Meet</option>
                                <option value="telegram">Telegram</option>
                                <option value="whatsapp">WhatsApp</option>
                                <option value="skype">Skype</option>
                            </select>
                        </div>
                    </div>

                    <div id="offline-address" class="hidden">
                        <div class="form-section">
                            <label for="meeting-address">Адрес проведения встречи</label>
                            <input type="text" id="meeting-address" th:name="offlineMeetingPlace">
                        </div>
                    </div>

                    <div class="form-section">
                        <label for="client-status">Статус клиента</label>
                        <select id="client-status" th:name="clientStatus" required>
                            <option value="regular">Регулярный</option>
                            <option value="on-demand">По запросу</option>
                            <option value="completed">Завершён</option>
                            <option value="application">Заявка</option>
                        </select>
                    </div>

                    <div class="form-section">
                        <label for="initial-request">Первичный/изначальный запрос клиента на терапию</label>
                        <textarea id="initial-request" th:name="clientsFirstRequestForTherapy" required></textarea>
                    </div>

                    <div class="form-section">
                        <label for="fixed-time">Фиксированное время/день недели для встречи (если да, то
                            указать)</label>
                        <input type="text" id="fixed-time" th:name="fixedTimeForMeeting">
                    </div>

                    <div class="form-section">
                        <label for="financial-terms">Финансовые условия</label>
                        <textarea id="financial-terms" th:name="financialConditions" required></textarea>
                    </div>

                    <div>
                        <h3>Подробнее...</h3>
                        <div class="form-section">
                            <label for="birth-date">Дата рождения</label>
                            <input type="date" id="birth-date" th:name="dateOfBirth" required>
                        </div>

                        <div class="form-section">
                            <label for="address">Адрес проживания</label>
                            <input type="text" id="address" th:name="residentialAddress" required>
                        </div>

                        <div class="form-section">
                            <label for="referrals">Коллегиальные рекомендации (поле для заполнения кто вас
                                порекомендовал клиенту)</label>
                            <textarea id="referrals" th:name="collegialRecommendations" required></textarea>
                        </div>

                        <div class="form-section">
                            <label for="contract-conditions">Особые условия контракта</label>
                            <textarea id="contract-conditions" th:name="specialTermsOfContract" required></textarea>
                        </div>

                        <div class="form-section">
                            <label for="marital-status">Семейное положение</label>
                            <select id="marital-status" th:name="familyStatus" required>
                                <option value="married">Женат/Замужем</option>
                                <option value="single">Холост/Незамужем</option>
                                <option value="divorced">В разводе</option>
                                <option value="widowed">Вдовец/Вдова</option>
                                <option value="cohabitation">Сожительство/Несостоявшийся брак</option>
                                <option value="officially-separated">Официальный брак с раздельным проживанием
                                </option>
                                <option value="lonely">Одиночество/Не в постоянных отношениях</option>
                                <option value="family-with-children">Семьи с детьми</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="preferred-communication-channel">Приоритетный канал коммуникации</label>
                            <select id="preferred-communication-channel" th:name="priorityCommunicationChannel"
                                    required>
                                <option value="telegram">Telegram</option>
                                <option value="whatsapp">WhatsApp</option>
                                <option value="viber">Viber</option>
                                <option value="skype">Skype</option>
                                <option value="email">Почта</option>
                                <option value="snapchat">Snapchat</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="supervision">Берётся ли супервизия на данного клиента</label>
                            <select id="supervision" th:name="isSupervision" required>
                                <option value="yes">Да</option>
                                <option value="no">Нет</option>
                            </select>
                        </div>

                        <div class="form-section">
                            <label for="supervisor-info">ФИО и контакты супервизора</label>
                            <input type="text" id="supervisor-info" th:name="supervisorsName">
                            <input type="text" th:name="supervisorsSurname" required>
                            <input type="tel" th:name="supervisorsContact.phone" required>
                            <input type="email" th:name="supervisorsContact.email" required>
                        </div>
                        <div class="form-section">
                            <label for="supervision-material">Материал для следующих сеансов из супервизии</label>
                            <textarea id="supervision-material" th:name="materialForNextSessionsFromSupervision"
                                      required></textarea>
                        </div>

                        <div class="form-section">
                            <label for="notes">Заметки</label>
                            <textarea id="notes" th:name="notes" required></textarea>
                        </div>
                    </div>
                    <button type="submit">Отправить</button>
                </form>
            </div>
        </section>
    </main>
</div>

<script>
    var userImage = document.getElementById("userImage");
    if (userImage) {
        userImage.addEventListener("click", function (e) {
            window.location.href = "./component4.html";
        });
    }

    var emailContainer = document.getElementById("emailContainer");
    if (emailContainer) {
        emailContainer.addEventListener("click", function (e) {
            window.location.href = "./frame.html";
        });
    }

    var dashboardContainer = document.getElementById("dashboardContainer");
    if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
            window.location.href = "./component2.html";
        });
    }

    var invoiceContainer = document.getElementById("invoiceContainer");
    if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
            window.location.href = "./component3.html";
        });
    }

    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
            window.location.href = "./component6.html";
        });
    }

    var groupContainer1 = document.getElementById("groupContainer1");
    if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
            window.location.href = "./component6.html";
        });
    }

    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
            window.location.href = "./component13.html";
        });
    }

    function updateForm() {
        const clientType = document.getElementById('client-type').value;
        document.getElementById('common-fields').style.display = clientType === 'adult' ? 'block' : 'none';
        document.getElementById('couple-fields').style.display = clientType === 'couple' ? 'block' : 'none';
        document.getElementById('child-fields').style.display = clientType === 'child' ? 'block' : 'none';
    }

    function updateGuardianFields() {
        const whoBrings = document.getElementById('who-brings').value;
        document.getElementById('parent-fields').style.display = whoBrings === 'parent' ? 'block' : 'none';
        document.getElementById('both-parents-fields').style.display = whoBrings === 'both-parents' ? 'block' : 'none';
        document.getElementById('guardian-fields').style.display = whoBrings === 'guardian' ? 'block' : 'none';
    }

    function updateMeetingFields() {
        const meetingFormat = document.getElementById('meeting-format').value;
        document.getElementById('online-platforms').style.display = meetingFormat === 'online' ? 'block' : 'none';
        document.getElementById('offline-address').style.display = meetingFormat === 'offline' ? 'block' : 'none';
    }

    // Initialize form
    updateForm();
    updateGuardianFields();
    updateMeetingFields();

    var userImage = document.getElementById("userImage");
    if (userImage) {
        userImage.addEventListener("click", function (e) {
            window.location.href = "./component4.html";
        });
    }

    var emailContainer = document.getElementById("emailContainer");
    if (emailContainer) {
        emailContainer.addEventListener("click", function (e) {
            window.location.href = "./frame.html";
        });
    }

    var dashboardContainer = document.getElementById("dashboardContainer");
    if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
            window.location.href = "./component2.html";
        });
    }

    var invoiceContainer = document.getElementById("invoiceContainer");
    if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
            window.location.href = "./component3.html";
        });
    }

    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
            window.location.href = "./component6.html";
        });
    }

    var groupContainer1 = document.getElementById("groupContainer1");
    if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
            window.location.href = "./component6.html";
        });
    }

    var groupContainer = document.getElementById("groupContainer");
    if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
            window.location.href = "./component13.html";
        });
    }

</script>
</body>
</html>
