<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/customer-list-notification.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
  <div class="div44">
    <header class="left-sidebar">
      <div class="client-tile-parent">
        <div class="client-tile">
          <nav class="client-info">
            <div class="client-name">
              <img
                      class="icon42"
                      loading="lazy"
                      alt=""
                      src="/images/icon@2x.png"
              />

              <div class="client-details">
                <a class="constructor3">Понятная практика</a>
              </div>
              <div class="client-search">
                <img
                        class="icon43"
                        loading="lazy"
                        alt=""
                        src="/images/icon-1@2x.png"
                />

                <div class="search-input2">
                  <b class="search3">Найти клиента...</b>
                </div>
              </div>
            </div>
            <div class="about-us-news-link1">
              <div class="about-us-news-button1">
                <b class="about-us3">Добавить клиента</b>
                <b class="news10">Назначить встречу</b>
              </div>
            </div>
            <div class="user-policy-link1">
              <b class="user-policy3">Добавить график нерабочих дней </b>
            </div>
          </nav>
        </div>
        <div class="icon-parent5">
          <img
                  class="icon44"
                  loading="lazy"
                  alt=""
                  src="/images/icon-2@2x.png"
          />

          <div class="location-details">
            <b th:text="${specialist.city}" class="specialist-city"></b>
          </div>
        </div>
      </div>
    </header>
    <main class="user-panel1">
      <section class="settings-link-parent">
        <div class="settings-link">
          <img
                  class="settings-icon2"
                  loading="lazy"
                  alt=""
                  src="/images/settings@2x.png"
          />
        </div>
        <div class="user-profile2">
          <div class="user-greeting-parent">
            <div class="user-greeting">
              <div class="wrapper-user-wrapper">
                <div class="wrapper-user3">
                  <img
                          class="user-icon"
                          loading="lazy"
                          alt=""
                          th:src="@{'/SimplePsy/V1/specialist/avatar/' + ${specialist.id}}"
                          id="userImage"
                  />
                </div>
              </div>
              <div class="user-email1">
                <div class="hello-wrapper">
                  <b class="hello">Привет, </b>
                  <b th:text="${specialist.name}" class="hello" ></b>
                  <b class="hello">!</b>
                </div>
                <b class="specialist-email">
                  <p th:text="${specialist.username}" class="specialist-email-content"></p>
                </b>
              </div>
            </div>
            <div class="client-actions-parent">
              <div class="client-actions">
                <div class="action-button">
                  <div class="button-content">
                    <img
                            class="image-2-icon3"
                            loading="lazy"
                            alt=""
                            src="/images/image-2@2x.png"
                    />

                    <div class="button-label">
                      <div class="button30">
                        <input
                                class="input5"
                                placeholder="Поиск по клиентам "
                                type="text"
                        />
                      </div>
                      <div class="session-info">
                        <div class="last-session-date">
                          <img
                                  class="image-4-icon"
                                  loading="lazy"
                                  alt=""
                                  src="/images/image-4@2x.png"
                          />

                          <div class="last-session-date-label">
                            <div class="div45">Дата последней встречи</div>
                          </div>
                        </div>
                        <div class="total-sessions">
                          <div class="div46">Кол-во проведённых сеансов</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="client-list-item-parent">
            <div class="client-list-item">
              <div class="frame-wrapper73">
                <div class="frame-parent122">
                  <div class="frame-parent123">
                    <div class="client-list-wrapper">
                      <button class="base90" onclick="window.location.href='/SimplePsy/V1/specialist/customers';"></button>
                      <div class="icon-wrapper33">
                        <img class="icon146" alt="" src="/images/icon-3@2x.png" />
                      </div>
                      <b class="client-list">Список клиентов</b>
                    </div>
                    <div class="base-frame">
                      <button class="calendar-wrapper" id="baseContainer" onclick="window.location.href='/SimplePsy/V1/session/calendar';">
                        <div class="icon-wrapper34">
                          <img class="icon147" alt="" src="/images/icon-41@2x.png"/>
                        </div>
                        <b class="calendar">Календарь</b>
                      </button>
                    </div>
                  </div>
                  <div class="frame-parent123">
                    <div class="notifications-wrapper">
                      <button class="base90 fix-angle-base90" onclick="alert('Эта кнопка находится в разработке')"></button>
                      <div class="icon-wrapper33">
                        <img class="icon146" alt="" src="/images/icon-5.svg" />
                      </div>
                      <b class="notifications">Уведомления</b>
                    </div>
                    <div class="base-frame">
                      <button class="calendar-wrapper" id="baseContainer" onclick="alert('Эта кнопка находится в разработке')">
                        <div class="icon-wrapper34">
                          <img class="icon147" alt="" src="/images/icon-6.svg"/>
                        </div>
                        <b class="analytics">Аналитика</b>
                      </button>
                    </div>
                    <div class="tests-wrapper">
                      <button class="base94" onclick="window.location.href='/SimplePsy/V1/scoring/list';"></button>
                      <b class="surveys-tests">Опросники и тесты</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper12">
                <b class="b36">Заявки</b>
              </div>
              <div class="client-header">
                <div class="client-name-separator-parent" id="groupContainer">
                  <div class="client-name-separator">
                    <div class="client-name-separator-child"></div>
                    <b class="b37">20.02.2024</b>
                  </div>
                  <div class="client-name-value">
                    <div class="client-name-value-child"></div>
                    <b class="b38">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
              </div>
              <div class="client-header1">
                <div class="frame-parent23" id="groupContainer">
                  <div class="rectangle-parent17">
                    <div class="frame-child20"></div>
                    <b class="b39">25.02.2024</b>
                  </div>
                  <div class="rectangle-parent18">
                    <div class="frame-child21"></div>
                    <b class="b40">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="client-info-wrapper">
              <h2>Список клиентов</h2>
              <div class="client-info1">
                <div class="frame-parent24" th:each="customer:${customers}" th:data-card-id="${customer.id}" id="groupContainer1" onclick="goTo(this)">
                  <div class="rectangle-parent21">
                    <div class="frame-child24"></div>
                    <b class="b47">
                      <p class="p12">Последняя встреча:</p>
                      <p class="p13">20.02.2024</p>
                      <p class="p14">Всего встреч:</p>
                      <p class="p15">9</p>
                    </b>
                  </div>
                  <div class="rectangle-parent22">
                    <div class="frame-child25"></div>
                    <div class="parent1">
                      <div th:switch="${customer.typeOfClient}">
                        <b class="b48" th:case="${customer.typeOfClient.ADULT}" th:text="${customer.surname + ' ' + customer.name + ' ' + customer.lastName}"></b>
                        <b class="b48" th:case="${customer.typeOfClient.COUPLE}" th:text="${customer.firstClientSurname + ' ' + customer.firstClientName + ' ' + customer.firstClientLastName}"></b>
                        <b class="b48" th:case="${customer.typeOfClient.CHILD}" th:text="${customer.childSurname + ' ' + customer.childName + ' ' + customer.childLastName}"></b>
                      </div>
                      <div class="frame-parent25">
                        <div class="wrapper14">
                          <b class="b49">Возраст: 20</b>
                        </div>
                        <b class="client-age-space" th:text="${customer.contact.phone}"></b>
                      </div>
                    </div>
                    <div class="frame-parent26">
                      <div class="frame-wrapper19">
                        <div class="frame-parent27">
                          <div class="rectangle-parent23">
                            <div class="frame-child26"></div>
                            <b class="b50" th:text="${customer.clientStatus.translation}"></b>
                          </div>
                          <div class="rectangle-parent24">
                            <div class="frame-child27"></div>
                            <b class="b51" th:text="${customer.preferredMeetingFormat.translation}"></b>
                          </div>
                        </div>
                      </div>
                      <img
                              class="icon50"
                              loading="lazy"
                              alt=""
                              src="/images/icon-33@2x.png"
                      />
                    </div>
                    <div class="parent2">
                      <b class="b52" th:text="${customer.typeOfClient.translation}"></b>
                      <b class="helloworldgmailcom3" th:text="${customer.contact.email}"></b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="separator-wrapper">
        <div class="separator">1 2 ....... 23</div>
      </div>
    </main>
    <div class="feedback-frame">
      <div class="feedback1">
        <img
                class="icon52"
                loading="lazy"
                alt=""
                src="/images/icon-7@2x.png"
        />

        <div class="frame-parent32">
          <div class="send-feedback-wrapper1">
            <b class="send-feedback3">Обратная связь</b>
          </div>
          <img
                  class="icon53"
                  loading="lazy"
                  alt=""
                  src="/images/icon-8.svg"
          />
        </div>
      </div>
    </div>
  </div>

  <script>
    function goTo(obj) {
      window.location.href = "/SimplePsy/V1/customer/customer-card/" + obj.getAttribute("data-card-id");
    }
    // Открытие модального окна создания сессии
    document.addEventListener('DOMContentLoaded', function() {
    // Получаем элементы
    var modal = document.getElementById('modal');
    var modalBody = document.getElementById('modal-body');
    var closeBtn = document.querySelector('.close-btn');
    var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"

    // Функция для открытия модального окна
      function openModal() {
        fetch('http://localhost:8081/SimplePsy/V1/session/session-form')
                .then(response => response.text())
                .then(data => {
                  modalBody.innerHTML = data;
                  modal.style.display = 'block';
                })
                .catch(error => console.error('Ошибка загрузки:', error));

        fetch('/SimplePsy/V1/client/findAll')
                .then(response => response.json())
                .then(clients => {
                  const dataList = document.getElementById('clientsList');
                  dataList.innerHTML = '';

                  const script = document.createElement('script');
                  script.id = 'dynamic-script';
                  script.textContent = `
  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options).find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
    }
  });
  // Функция для валидации формы
  function validateForm() {
    const clientId = document.getElementById('clientId').value;
    if (!clientId) {
      document.getElementById('error-message').style.display = 'block'; // Показываем сообщение об ошибке
      return false; // Отменяем отправку формы
    }
    return true; // Разрешаем отправку формы, если значение есть
  }

  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options)
            .find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
      document.getElementById('error-message').style.display = 'none'; // Скрываем сообщение об ошибке при успешном выборе клиента
    } else {
      document.getElementById('clientId').value = ''; // Очищаем скрытое поле, если выбранного клиента нет в списке
    }
  });`;
                  document.body.appendChild(script);
                  clients.forEach(client => {
                    const option = document.createElement('option');
                    option.value = client.name;
                    option.setAttribute('data-id', client.id);
                    dataList.appendChild(option);
                  });
                })
                .catch(error => console.error('Ошибка:', error));


      }

      // Функция для закрытия модального окна
      function closeModal() {
        modal.style.display = 'none';
        const script = document.getElementById('dynamic-script');
        if (script) {
          script.remove();
          console.log('Скрипт удалён');
        } else {
          console.log('Скрипт не найден');
        }
      }

    // Событие клика для открытия модального окна
    appointLink.addEventListener('click', openModal);

    // Событие клика для закрытия модального окна
    closeBtn.addEventListener('click', closeModal);
    });
  </script>
  </body>
</html>
