<!doctype html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/questionnaire.css}">
    <title>Questionnaire</title>
</head>
<body>
<input type="text" th:name="scoringId" id="scoringId" th:value="${scoringId}" hidden="hidden">
    <div class="page-content">
        <div id="textQuestions" class="form-container">
            <div th:each="textQuestion, questionIndex : ${textQuestions}">
                <label th:text="${textQuestion}"></label>
                <input type="text" th:name="'answers[' + ${questionIndex.index} + ']'" pattern="[А-Яа-яЁё]*"
                       oninput="checkInput(this)" required/>
                <div class="error-message"></div>
            </div>
            <div class="button-container">
                <!--<button onclick="openUserFormPage()">Назад</button>-->
                <button id="submitButton" onclick="showCheckboxQuestions()" disabled>Далее</button>
            </div>
        </div>

        <div id="checkboxQuestions" class="form-container" style = "display: none">
            <div th:each="checkboxQuestion, questionIndex : ${checkboxQuestions}">
                <input type="checkbox" id="answer" th:value="${checkboxQuestion}" th:name="'answers[' + ${questionIndex.index} + ']'">
                <label for="answer" th:text="${checkboxQuestion}"></label>
            </div>
            <div class="button-container">
                <button onclick="showTextQuestions()">Назад</button>
                <button onclick="sendData()">Подтвердить</button>
            </div>
        </div>
    </div>
</body>
<input id="problemId" th:value="${problemId}" hidden="hidden">
<script>
    function checkFields() {
        let textInputs = document.querySelectorAll('input[type="text"]');
        let allFieldsValid = true;

        textInputs.forEach(function(input) {
            if (input.classList.contains('error') || !input.checkValidity()) {
                allFieldsValid = false;
            }
        });

        return allFieldsValid;
    }

    function checkFormValidity() {
        // Если форма валидна, то кнопка перехода будет доступна
        let submitButton = document.getElementById("submitButton");
        submitButton.disabled = !checkFields();
    }

    // После заполнения каждого из полей вызывается обработчик, чтобы проверить валидность формы
    document.querySelectorAll('input[type="text"]').forEach(function(input) {
        input.addEventListener("input", function() {
            checkInput(input);
            checkFormValidity();
        });
    });
</script>
</html>
