<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/userForm.css}">
    <title>User Form</title>
</head>
<body>
    <div class="page-content">
        <div class="form-container">
            <div th:each="question, questionIndex : ${questions}">
                <label th:text="${question}"></label>
                <input type="text" th:name="'answers[' + ${questionIndex.index} + ']'" />
            </div>
            <div class="button-container">
                <button onclick="collectUserFormAnswers()">Далее</button>
            </div>
        </div>
    </div>
</body>
</html>