<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/specialist/specialist-home-page.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div59">
      <div class="settings"></div>
      <header class="frame-parent47">
        <div class="frame-wrapper29">
          <nav class="frame-nav">
            <div class="icon-parent10">
              <img
                class="icon63"
                loading="lazy"
                alt=""
                src="/images/icon@2x.png"
              />

              <div class="constructor-frame">
                <a class="constructor5">Понятная практика</a>
              </div>
              <div class="icon-parent11">
                <img
                  class="icon64"
                  loading="lazy"
                  alt=""
                  src="/images/icon-1@2x.png"
                />

                <div class="search-container">
                  <b class="search5">Найти клиента...</b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper30">
              <div class="about-us-parent">
                <b class="about-us5">Добавить клиента</b>
                <b class="news5">Назначить встречу</b>
              </div>
            </div>
            <div class="user-policy-frame">
              <b class="user-policy5">Добавить график нерабочих дней </b>
            </div>
          </nav>
        </div>
        <div class="icon-parent12">
          <img
            class="icon65"
            loading="lazy"
            alt=""
            src="/images/icon-2@2x.png"
          />

          <div class="new-york-frame">
            <b th:text="${specialist.city}" class="new-york5">Ростов-на-Дону</b>
          </div>
        </div>
      </header>
      <form method="post" th:action="@{/SimplePsy/V1/specialist/personal-info/update}" th:object="${specialist}"
            enctype="multipart/form-data">
      <main class="frame-parent48">
        <section class="frame-wrapper31">
          <div class="frame-parent49">
            <div class="frame-wrapper32">
              <div class="wrapper-user-parent">
                <div class="wrapper-user5">
                  <img
                    class="user-icon5"
                    loading="lazy"
                    alt=""
                    src="/images/user@2x.png"
                  />
                </div>
                <div class="frame-parent50">
                  <div class="hello-rosalie-wrapper1">
                    <b class="hello-rosalie5">Привет, </b>
                    <b th:text="${specialist.name}" class="hello-rosalie5" ></b>
                    <b class="hello-rosalie5">!</b>
                  </div>
                  <b class="rosaliericegmailc5">
                    <p th:text="${specialist.username}" class="ponyatpractikagmailcom"></p>
                  </b>
                </div>
              </div>
            </div>
            <div class="frame-parent51">
              <div class="a998761-62ed-4135-8023-6815850-parent">
                <img
                  class="a998761-62ed-4135-8023-6815850-icon"
                  loading="lazy"
                  alt=""
                  src="/images/7a99876162ed413580236815850cd2e21152x1536-1@2x.png"
                />
              </div>

              <div class="frame-wrapper33">
                <div class="parent8">
                  <input th:value="${specialist.surname}" class="div61" type="text" id="surname"
                         name="surname" placeholder="Фамилия" disabled>
                  <input th:value="${specialist.name}" class="div61" type="text" id="name"
                         name="name" placeholder="Имя" disabled>
                  <input th:value="${specialist.middleName}" class="div61" type="text" id="middleName"
                         name="middleName" placeholder="Отчество" disabled>
                  <div class="div62">
                    <input class="p29" th:value="${specialist.city}" type="text" id="city"
                           name="city" placeholder="Город" disabled>
                  </div>
                  <div class="div63">
                    <input class="p30" th:value="${specialist.phone}" type="tel" id="phone"
                           name="phone" placeholder="Номер телефона" disabled>
                  </div>
                  <div class="ponyatpractikagmailcom1">
                    <input class="ponyatpractikagmailcom2" th:value="${specialist.username}" type="email" id="email"
                           name="username" placeholder="Почта" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="frame-parent52">
          <div class="frame-parent53">
            <div class="frame-wrapper34">
              <div class="dashboard-header-items-parent">
                <div class="dashboard-header-items">
                  <div class="dashboard14" id="dashboardContainer">
                    <div class="base54"></div>
                    <div class="icon-wrapper13">
                      <img
                        class="icon66"
                        loading="lazy"
                        alt=""
                        src="/images/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard15">Список клинетов</b>
                  </div>
                  <div class="dashboard-content-items">
                    <div class="base55" id="baseContainer">
                      <div class="icon-wrapper14">
                        <img
                          class="icon67"
                          loading="lazy"
                          alt=""
                          src="/images/icon-41@2x.png"
                        />
                      </div>
                      <b class="calendars5">Календарь</b>
                    </div>
                  </div>
                </div>
                <div class="dashboard-header-items1">
                  <div class="invoice9" id="invoiceContainer">
                    <div class="base56"></div>
                    <div class="icon-wrapper15">
                      <img
                        class="icon68"
                        loading="lazy"
                        alt=""
                        src="/images/icon-5.svg"
                      />
                    </div>
                    <b class="invoice10">Уведомления</b>
                  </div>
                  <div class="base-parent7">
                    <div class="base57"></div>
                    <div class="icon-wrapper16">
                      <img
                        class="icon69"
                        loading="lazy"
                        alt=""
                        src="/images/icon-6.svg"
                      />
                    </div>
                    <b class="files5">Аналитика</b>
                  </div>
                </div>
                <div class="wrapper19">
                  <div class="div64" id="container">
                    <div class="base58"></div>
                    <b class="dashboard16">Опросники и тесты</b>
                  </div>
                </div>
                <div class="frame-wrapper35">
                  <div class="frame-parent54">
                    <div class="wrapper20">
                      <b class="b78">Заявки</b>
                    </div>
                    <div
                      class="applications-header-dividers-parent"
                      id="groupContainer"
                    >
                      <div class="applications-header-dividers">
                        <div class="applications-header-dividers-child"></div>
                        <b class="applications-divider">20.02.2024</b>
                      </div>
                      <div class="rectangle-parent42">
                        <div class="frame-child45"></div>
                        <b class="b79">Овсянникова Юля Матвеевна</b>
                      </div>
                    </div>
                    <div class="frame-parent55" id="groupContainer1">
                      <div class="rectangle-parent43">
                        <div class="frame-child46"></div>
                        <b class="b80">25.02.2024</b>
                      </div>
                      <div class="rectangle-parent44">
                        <div class="frame-child47"></div>
                        <b class="b81">Овсянникова Юля Матвеевна</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent56">
              <div class="wrapper18">
                <div class="div60">Специализация</div>
              </div>
              <div class="frame-wrapper36">
                <div class="rectangle-parent45">
                  <div class="frame-child48"></div>
                  <textarea th:text="${specialist.specialization}" name="specialization" class="div65" disabled></textarea>
                </div>
              </div>
              <div class="frame-parent57">
                <div class="wrapper21">
                  <div class="div66">
                    Описание профессиональной деятельности
                  </div>
                </div>
                <div class="rectangle-parent46">
                  <div class="frame-child49"></div>
                  <textarea th:text="${specialist.description}" name="description" class="div67" disabled></textarea>
                </div>
              </div>
              <div class="frame-wrapper37">
                <div class="parent9">
                  <div class="div68">Образование</div>
                  <div class="rectangle-parent47">
                    <div class="frame-child50"></div>
                    <div class="oulu-university-container">
                      <textarea th:text="${specialist.education}" name="education" class="div67" disabled></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div69">Дипломы</div>
            </div>
          </div>
          <div class="frame-wrapper38">
            <div class="frame-parent58">
              <div class="icon-parent13">
                <img
                  class="icon70"
                  loading="lazy"
                  alt=""
                  src="/images/icon-7@2x.png"
                />

                <div class="frame-parent59">
                  <div class="send-feedback-wrapper3">
                    <b class="send-feedback5">Обратная связь</b>
                  </div>
                  <img
                    class="icon71"
                    loading="lazy"
                    alt=""
                    src="/images/icon-8.svg"
                  />
                </div>
              </div>
              <div class="frame-wrapper39">
                <div class="rectangle-parent48">
                  <div class="frame-child51"></div>
                  <label for="file-upload" class="rectangle-parent49">+ Добавить фото</label>
                  <input id="file-upload" name="diploma" type="file" accept="image/*">
                </div>
              </div>
            </div>
          </div>
          <div class="save-edit-buttons-wrapper">
            <div class="save-edit-buttons">
              <button id="cancel" type="button" onclick="cancelButton()" class="rectangle-parent51" style="display: none;">
                <div class="div72">Отменить</div>
              </button>
              <button id="edit" type="button" onclick="showInputs()" class="rectangle-parent51">
                <div class="div72">Редактировать</div>
              </button>
              <button id="save" type="submit" class="rectangle-parent51" style="display: none;">
                <div class="div72">Сохранить</div>
              </button>
            </div>
          </div>
        </section>
      </main>
      </form>
    </div>

    <script>
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }

      var baseContainer = document.getElementById("baseContainer");
      if (baseContainer) {
        baseContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }

      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }

      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./component14.html";
        });
      }

      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }

      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./component12.html";
        });
      }

      function showInputs() {
        // Находим элементы, которые нужно изменить
        var inputsToEnable = document.querySelectorAll('input[disabled]');
        var inputsFieldSetToEnable = document.querySelectorAll('textarea');
        var saveButton = document.getElementById('save');
        var editButton = document.getElementById('edit');
        var cancelButton = document.getElementById('cancel');

        // Убираем атрибут disabled у всех найденных элементов
        inputsToEnable.forEach(function (input) {
          input.removeAttribute('disabled');
        });
        inputsFieldSetToEnable.forEach(function (input) {
          input.removeAttribute('disabled');
        });

        // Показываем кнопки
        saveButton.style.display = 'inline-block';
        editButton.style.display = 'none';
        cancelButton.style.display = 'inline-block';
      }

      function cancelButton() {
        document.getElementById('cancel').style.display = 'none';
        window.location.href = '/SimplePsy/V1/specialist/personal-info';
      }
      </script>
  </body>
</html>
