<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/customer-list.css}">
    <script type="text/javascript" th:src="@{/js/customer-list.js}"></script>
    <title>Customer list</title>
</head>
<body>
<header>
    <h1>СПИСОК ЗАКАЗЧИКОВ</h1>
</header>
<div class="profile-container" >
    <input type="hidden" name="sessionUrl" class="specUrl" th:value="${specUrl}"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td>Имя</td>
            <td>Почта</td>
            <td></td>
        </tr>
        <tr th:each="customer:${customers}" th:data-card-id="${customer.getId()}">
            <td><input type="radio" id="item2" name="selectedItem" th:value="${customer.getId()}"></td>
            <td><img id="profile-image" alt="Customer pic"
                     th:src=" @{'/SimplePsySpecialist/V1/specialist/customer-avatar/' + ${customer.getId()}}"></td>
            <td>
                <div th:text="${customer.getName()}" class="name"></div>
            </td>
            <td th:text="${customer.getContact().getEmail()}"></td>
            <td><input class="remove" type="image" alt="Recycle bin pic" th:value="${customer.getId()}" onclick="deleteById(this)"
                       src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png"></td>
        </tr>
    </table>
</div>

<div class="button-container">
    <button onclick="findCustomer()">Найти заказчика</button>
    <button onclick="viewSessionsList()">Открыть календарь</button>
    <button onclick="viewSelectedCard()">Посмотреть карточку</button>
    <button onclick="deleteSelectedCard()">Удалить</button>
    <button onclick="addNewCustomer()">Добавить</button>
</div>
</body>
</html>