<!DOCTYPE html>
<html>
<head>
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="calendar">
    <div class="timeline">
        <div class="spacer"></div>
        <div class="time-marker">9 AM</div>
        <div class="time-marker">10 AM</div>
        <div class="time-marker">11 AM</div>
        <div class="time-marker">12 PM</div>
        <div class="time-marker">1 PM</div>
        <div class="time-marker">2 PM</div>
        <div class="time-marker">3 PM</div>
        <div class="time-marker">4 PM</div>
        <div class="time-marker">5 PM</div>
        <div class="time-marker">6 PM</div>
    </div>
    <div class="days">
        <div class="day mon">
            <div class="date">
                <p class="date-day">Mon</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day tues">
            <div class="date">
                <p class="date-day">Tues</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day wed">
            <div class="date">
                <p class="date-day">Wed</p>
            </div>
            <div class="events">

            </div>
        </div>
        <div class="day thurs">
            <div class="date">
                <p class="date-day">Thurs</p>
            </div>
            <div class="events">

            </div>
            <div class="day fri">
                <div class="date">
                    <p class="date-day">Fri</p>
                </div>
                <div class="events">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>