<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div class="page-content">
<form id="registrationForm" th:object="${specialist}" th:action="@{/SimplePsySpecialist/V1/specialist/login}" method="post">
    <h1>Вход в понятную практику</h1>
    <label for="email">E-mail *</label>
    <input type="email" id="email" th:name="username" th:field="*{username}" placeholder="E-mail" required>

    <label for="password">Пароль *</label>
    <input type="password" id="password" th:name="password" th:field="*{password}" placeholder="Пароль" required>

    <div class="checkbox-element">
        <input type="checkbox" id="remember-password" name="remember-password">
        <label for="remember-password">Запомнить пароль</label>
        <a th:href="@{/SimplePsySpecialist/V1/specialist/changepass}">Забыли пароль?</a>
    </div>
    <!--    <label for="confirmPassword">Confirm Password:</label>-->
    <!--    <input type="password" id="confirmPassword" name="confirmPassword" required>-->

    <button type="submit">Войти</button>
    <p>Нет аккаунта в понятной практике?</p>
    <a th:href="@{/SimplePsySpecialist/V1/specialist/signup}">Зарегистрироваться</a>
</form>
</div>
</body>
</html>