<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" th:src="@{/js/problems-list.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/problems-list.css}">
    <title>Problem list</title>
</head>
<body>
<header>
    <input type="button" id="back" value="Назад" onclick="goBack()">
    <h1>СПИСОК ПРОБЛЕМ ЗАКАЗЧИКА</h1>
</header>
<div class="profile-container">
    <input th:value="${customerId}" th:name="customerId" id="customerIdInput" hidden="hidden">
    <table>
        <tr th:each="problem:${problems}" th:data-card-id="${problem.getId()}">
            <td><input type="radio" id="item2" name="selectedItem" th:value="${problem.getId()}"></td>
            <td>
                <div class="problem-info">
                    <div th:text="${problem.getDescriptionOfProblem()}" class="name"></div>
                </div>
            </td>
            <td><input class="remove" type="image" alt="Recycle bin pic"
                       src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png"></td>

        </tr>
    </table>
</div>

<div class="button-container">
    <input type="button" id="scoring" value="Посмотреть скоринг" onclick="showScoring()">
    <input type="button" id="newProblem" value="Добавить проблему" onclick="addNewProblem()">
</div>
</body>
<script>
    function showScoring() {
        var selectedRadioButton = document.querySelector('input[name="selectedItem"]:checked');


        if (selectedRadioButton) {

            var selectedProblemId = selectedRadioButton.value;


            var viewUrl = '/SimplePsySpecialist/V1/specialist/customer/scoring/' + selectedProblemId;


            window.location.href = viewUrl;
        } else {
            alert('Выберите карточку перед нажатием "Посмотреть".');
        }
    }
</script>
</html>