<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="profile-container">
    <input id="customerIdInput" hidden="hidden">
    <table>
        <tr th:each="answer:${answers}" >
            <td>
                <div class="problem-info">
                    <div th:text="${answers}" class="name"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>