.page-content {
    width: 1000px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.form-container {
    background-color: #ffffff;
    padding: 40px 40px 40px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

input[type="checkbox"] {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.button-container {
    text-align: center;
}

.error {
    border: 2px solid red;
}

.error-message {
    margin-bottom: 20px;
    color: red;
    font-size: 12px;
    display: none;
}