.menu {
    width: 96%;
}

.menu1 {
    padding-left: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.news10 {
    white-space: nowrap;
}

.about-us15 {
    position: static;
}

.user-policy9 {
    position: static;
}

.search8 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.survey-container {
    position: relative;
    top: 200px;
    left: 400px;
    width: 50%;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.feedback-button {
    flex: 1;
    justify-content: flex-start;
    gap: var(--gap-mini);
}
.feedback-item {
    position: relative;
    top: 900px;
    width: 230px;
    justify-content: flex-end;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    text-align: left;
}

.feedback-button, .feedback-item, .frame-parent13 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.frame-parent13 {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.icon30 {
    height: 30px;
    width: 30px;
    position: relative;
    object-fit: cover;
    min-height: 30px;
}

.frame-parent13:hover {
    cursor: pointer;
}

.feedback-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.send-feedback-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
}

.send-feedback1 {
    position: relative;
    line-height: 20px;
    font-weight: 700;
    font-size: var(--bold-12-size);
}
.search1 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  color: #6B7A99;
}
.search1::placeholder {
  color:#ADB8CC;
}