<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul>
    <li th:each="customer : ${customers}">

        <span th:text="${customer.getName()}"></span>
        <img th:src=" @{'/SimplePsy/V1/specialist/customer-avatar/' + ${customer.getId()}}" alt="User Photo"/>
        <span th:text="${customer.getDateOfFirstCall()}"></span>
        <span th:text="${customer.getStatus()}"></span>
    </li>
</ul>
</body>
</html>