<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/customer-list.css}">
    <title>Customer list</title>
</head>
<body>
<header>
    <h1>СПИСОК ЗАКАЗЧИКОВ</h1>
</header>
<div class="profile-container">

        <table>
            <tr>
                <td colspan="2">Имя</td>
                <td>Дата первого звонка</td>
                <td>Status</td>
                <td></td>
            </tr>
        </table>
        <table th:each="customer:${customers}">
            <tr th:data-card-id="${customer.getId()}">
                <td><input type="radio" id="item2" name="selectedItem" th:value="${customer.getId()}"></td>
                <td><img id="profile-image" alt="Customer pic"
                         th:src=" @{'/SimplePsy/V1/specialist/customer-avatar/' + ${customer.getId()}}"></td>
                <td>
                    <div class="customer-info">
                        <div th:text="${customer.getName()}" class="name">Devon Lane</div>
                        <div class="description">Description</div>
                    </div>
                </td>
                <td th:text="${customer.getContact().getEmail()}"></td>
                <td th:text="${customer.getStatus()}"></td>
                <td><input class="remove" type="image" alt="Recycle bin pic"
                           src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png"></td>
            </tr>
        </table>
</div>

<div class="button-container">
    <button onclick="viewSelectedCard()">Посмотреть картоку</button>
    <button onclick="deleteSelectedCard()">Удалить</button>
    <input type="submit" id="edit" value="Редактировать">
    <input type="submit" id="add" value="Добавить">
</div>

</body>
</html>

<script>
    function viewSelectedCard() {

        var selectedRadioButton = document.querySelector('input[name="selectedItem"]:checked');


        if (selectedRadioButton) {

            var selectedCardId = selectedRadioButton.value;


            var viewUrl = '/SimplePsy/V1/specialist/customer-card/' + selectedCardId;


            window.location.href = viewUrl;
        } else {
            alert('Выберите карточку перед нажатием "Посмотреть".');
        }
    }
    function deleteSelectedCard()
    {
        var selectedRadioButton = document.querySelector('input[name="selectedItem"]:checked');

        if (selectedRadioButton) {

            var selectedCardId = selectedRadioButton.value;

            var url = '/SimplePsy/V1/customer/' + selectedCardId;

            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json', // Указывайте тип контента, если это необходимо
                    // Дополнительные заголовки, если необходимо
                },
                // body: JSON.stringify({/* данные, если нужно */}), // Добавьте тело запроса, если необходимо
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Обработка успешного ответа
                    console.log('DELETE request successful', data);
                })
                .catch(error => {
                    // Обработка ошибки
                    console.error('DELETE request failed', error);
                });

        } else {
            alert('Выберите карточку перед нажатием "Посмотреть".');
        }
    }
</script>