<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/customer-card.css}">
    <title>Customer card</title>
</head>
<body>
<header>
    <h1>КАРТОЧКА ЗАКАЗЧИКА</h1>
</header>
<div>
    <form>
        <fieldset>
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" placeholder="Имя">
            <label for="status">Статус</label>
            <input type="text" id="status" name="status" placeholder="Статус">
            <label for="registration-date">Дата регистрации</label>
            <input type="date" id="registration-date" name="registration-date" placeholder="Дата регистрации">
        </fieldset>
    </form>
</div>
<div class="profile-container">
    <div class="contacts">
        <form>
            <span>Контакты</span>
            <fieldset>
                <img class="icon" id="phone-icon" alt="Фото трубки" src="https://static.vecteezy.com/system/resources/thumbnails/010/829/986/small/phone-icon-in-trendy-flat-style-free-png.png">
                <label for="phone">Телефон</label>
                <input type="tel" id="phone" name="phone" placeholder="Номер телефона">
                <img class="icon" id="email-icon" alt="Фото e-mail" src="https://www.freeiconspng.com/thumbs/email-icon/email-icon--clipart-best-22.png">
                <label for="email">Электронная почта</label>
                <input type="email" id="email" name="email" placeholder="E-mail">
                <img class="icon" id="telegram-icon" alt="Фото телеграм" src="https://creazilla-store.fra1.digitaloceanspaces.com/icons/3201902/telegram-icon-md.png">
                <label for="telegram">Телеграм</label>
                <input type="text" id="telegram" name="telegram" placeholder="Ник телеграм">
            </fieldset>
        </form>
    </div>
    <img id="profile-image" alt="Фото профиля" src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-850161690.jpg">
</div>
<div class="button-container">
    <input type="submit" id="edit" value="Редактировать">
    <input type="submit" id="save" value="Сохранить">
    <input type="submit" id="delete" value="Удалить">
</div>
</body>
</html>