<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Login</title>
</head>
<body>
<div class="profile-container">
    <h1>Привет, психолог</h1>
    <img id="profile-image" alt="Фото профиля" src="https://hips.hearstapps.com/hmg-prod/images/gettyimages-850161690.jpg">
    <form enctype="multipart/form-data" method="post"></form>
</div>
<div>
    <input type="submit" id="submit" value="Войти">
</div>
</body>
</html>