.line50 {
  width: 1032px;
  height: 2px;
  position: absolute;
  margin: 0 !important;
  top: 190px;
  right: 18px;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.line51 {
  width: 2.2px;
  height: 910px;
  display: none;
  z-index: 1;
}
.icon32,
.line51,
.line52 {
  position: relative;
}
.line52 {
  width: 2.2px;
  height: 910px;
  display: none;
  z-index: 2;
}
.icon32 {
  height: 30px;
  width: 30px;
  object-fit: cover;
  min-height: 30px;
}
.constructor2 {
  text-decoration: none;
  position: relative;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.search-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.icon33 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.search2 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
  white-space: nowrap;
}
.logo-and-search-bar,
.search-icon-container,
.search-input1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-input1 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.logo-and-search-bar,
.search-icon-container {
  flex-direction: row;
  gap: var(--gap-mini);
  font-size: var(--bold-13-size);
  color: var(--grey-blue-80);
}
.logo-and-search-bar {
  padding: 0 var(--padding-33xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-26xl);
  max-width: 100%;
  font-size: var(--bold-18-size);
  color: var(--grey-blue-50);
}
.about-us2,
.news2 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
.about-us-news-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navigation-links {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.user-policy2 {
  position: relative;
  line-height: 25px;
  white-space: pre-wrap;
  flex-shrink: 0;
  cursor: pointer;
}
.logo-container,
.logo-spacing,
.user-policy-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-policy-link {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.logo-container,
.logo-spacing {
  max-width: 100%;
}
.logo-spacing {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-34xl);
  text-align: left;
  font-size: var(--bold-13-size);
  color: var(--grey-blue-60);
  font-family: var(--bold-10);
}
.logo-container {
  width: 1099px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.icon34 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.new-york2 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
}
.location-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.location,
.top-navigation-left,
.top-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.location {
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.top-navigation-left,
.top-navigation1 {
  max-width: 100%;
}
.top-navigation-left {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.top-navigation1 {
  width: 1459px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--bold-13-size);
  color: var(--grey-blue-60);
  font-family: var(--bold-10);
}
.image-12 {
  width: 47px;
  height: 47px;
  position: relative;
  display: none;
  z-index: 4;
}
.settings-icon1 {
  width: 16px;
  height: 4px;
  position: relative;
  object-fit: cover;
}
.user-icon2 {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  left: -7px;
  top: 10px;
  width: 100%;
  transform: scale(1.462);
}
.wrapper-user2 {
  height: 130px;
  flex: 1;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-panel,
.user-profile1 {
  align-self: stretch;
  flex: 1;
  display: flex;
}
.user-profile1 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xl) 0 0;
}
.user-panel {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.user-panel-wrapper {
  width: 187px;
  height: 157px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
}
.hello-rosalie2 {
  position: relative;
  line-height: 30px;
  font-weight: 700;
}
.greeting {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi);
}
.rosaliericegmailc2 {
  position: relative;
  font-size: var(--bold-13-size);
  line-height: 25px;
  font-weight: 700;
  color: var(--grey-blue-80);
  white-space: nowrap;
}
.user-name-details,
.user-name1 {
  display: flex;
  align-items: flex-start;
}
.user-name-details {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.user-name1 {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-26xl) var(--padding-16xl);
  font-size: var(--bold-16-size);
  color: var(--grey-blue-60);
}
.base33 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-mini) 0 0 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon35 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.dashboard-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.dashboard7 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.base34 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--shadows-gray-blue-3-30b);
  border-radius: var(--br-mini);
  background-color: var(--white);
  z-index: 2;
}
.icon36 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.calendar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 var(--padding-smi);
}
.calendars2 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 3;
}
.calendars-item1,
.dashboard6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.calendars-item1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 70px);
  right: -130px;
  padding: var(--padding-21xl) var(--padding-17xl) var(--padding-11xl)
    var(--padding-23xl);
  text-align: left;
  color: var(--grey-blue-60);
}
.dashboard6 {
  padding: var(--padding-11xl) var(--padding-2xs) var(--padding-xl);
  position: relative;
  cursor: pointer;
}
.base35 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon37 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}
.icon-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.invoice5 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.invoice4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-2xl) var(--padding-xl);
  position: relative;
  gap: var(--gap-xl);
  cursor: pointer;
}
.base36 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon38 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}
.icon-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
}
.files2 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.invoice-elements {
  flex: 0.7821;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-10xl) var(--padding-xl)
    var(--padding-11xl);
  position: relative;
  gap: var(--gap-xl);
}
.invoice-item {
  align-self: stretch;
  flex-direction: row;
}
.dashboard-item,
.invoice-item,
.navigation-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-item {
  flex: 1;
  flex-direction: column;
}
.navigation-items {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.base37 {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
  width: 242px;
  height: 52px;
}
.dashboard8 {
  position: absolute;
  top: 18px;
  left: 22px;
  line-height: 20px;
  display: inline-block;
  width: 196px;
  z-index: 1;
}
.div40 {
  height: 60px;
  flex: 1;
  position: relative;
  cursor: pointer;
}
.tests-item1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.b14 {
  height: 38px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.applications-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 var(--padding-xl);
  font-size: var(--bold-16-size);
  color: var(--grey-blue-60);
}
.frame-child10 {
  height: 21.1px;
  width: 38.4px;
  position: relative;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: none;
}
.b15 {
  position: relative;
  line-height: 16.1px;
  font-weight: 700;
  transform: rotate(-0.1deg);
  z-index: 2;
}
.rectangle-parent7 {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 var(--padding-10xs-4) var(--padding-11xs);
  z-index: 1;
}
.frame-child11 {
  height: 23.7px;
  width: 179px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: none;
}
.b16 {
  flex: 1;
  position: relative;
  line-height: 8.7px;
  z-index: 1;
}
.frame-parent15,
.rectangle-parent8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.rectangle-parent8 {
  flex: 1;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  align-items: flex-start;
  padding: var(--padding-4xs-7) var(--padding-xs) var(--padding-6xs-3)
    var(--padding-5xl);
  white-space: nowrap;
  margin-left: -24.4px;
  font-size: var(--black-8-size);
  color: var(--grey-blue-60);
}
.frame-parent15 {
  align-self: stretch;
  align-items: flex-end;
  cursor: pointer;
}
.frame-child12 {
  height: 21.1px;
  width: 38.4px;
  position: relative;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: none;
}
.b17 {
  position: relative;
  line-height: 16.1px;
  font-weight: 700;
  transform: rotate(-0.1deg);
  z-index: 2;
}
.rectangle-parent9 {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 var(--padding-10xs-4) var(--padding-11xs);
  z-index: 1;
}
.frame-child13 {
  height: 23.7px;
  width: 179px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: none;
}
.b18 {
  flex: 1;
  position: relative;
  line-height: 8.7px;
  z-index: 1;
}
.rectangle-parent10 {
  flex: 1;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-7) var(--padding-xs) var(--padding-6xs-3)
    var(--padding-5xl);
  white-space: nowrap;
  margin-left: -24.4px;
  font-size: var(--black-8-size);
  color: var(--grey-blue-60);
}
.applications-link-parent,
.frame-parent16 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent16 {
  align-self: stretch;
  flex-direction: row;
  cursor: pointer;
}
.applications-link-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs-8);
}
.navigation,
.navigation-inner {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-inner {
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-3xl);
  font-size: var(--font-size-7xs);
  color: var(--white);
}
.navigation {
  flex-direction: column;
  padding: 0 0 var(--padding-115xl);
}
.icon39 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.send-feedback2 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
}
.send-feedback-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.icon40 {
  height: 30px;
  width: 30px;
  position: relative;
}
.feedback-label {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.feedback-item1,
.feedback-label,
.feedback-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.feedback-link {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.feedback-item1 {
  width: 230px;
  justify-content: flex-end;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
}
.sidebar,
.sidebar-and-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebar {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-21xl);
}
.sidebar-and-main {
  width: 241px;
  align-items: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.line53 {
  height: 910px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  right: 8px;
  bottom: -584px;
  background-color: var(--grey-blue-97);
  z-index: 2;
}
.line55 {
  width: 100%;
  top: 0;
  right: -1px;
  left: 0;
  height: 100%;
  display: none;
}
.base38,
.line54,
.line55 {
  position: absolute;
  border-radius: var(--br-11xl);
  background-color: var(--orange);
}
.line54 {
  width: calc(100% - 9px);
  top: 4px;
  right: 4px;
  left: 5px;
  border: 1px solid var(--orange);
  box-sizing: border-box;
  height: 2px;
}
.base38 {
  top: 0;
  left: calc(50% - 4.5px);
  width: 100%;
  height: 100%;
  display: none;
}
.dot4 {
  left: 0;
  border: 1px solid var(--orange);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  z-index: 1;
}
.base39,
.dot4,
.dot5 {
  position: absolute;
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--orange);
}
.base39 {
  left: calc(50% - 4.5px);
  width: 100%;
  height: 100%;
  display: none;
}
.dot5 {
  right: 0;
  border: 1px solid var(--orange);
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  z-index: 1;
}
.now2 {
  height: 10px;
  flex: 1;
  position: relative;
  max-width: 100%;
  z-index: 5;
}
.base40,
.current-date {
  position: absolute;
  left: 0;
}
.current-date {
  top: 435px;
  width: 773px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.base40 {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: var(--shadows-gray-blue-5-120b);
  border-radius: var(--br-xl);
  background-color: var(--white);
}
.button25 {
  position: relative;
  font-size: var(--bold-12-size);
  line-height: 20px;
  font-weight: 900;
  font-family: var(--bold-10);
  color: var(--grey-blue-60);
  text-align: center;
}
.button-container,
.button24 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.button24 {
  cursor: pointer;
  border: 2px solid var(--grey-blue-97);
  padding: var(--padding-3xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-xl);
  background-color: var(--white);
  width: 89px;
  height: 42px;
  box-shadow: var(--shadows-gray-blue-3-5b);
  border-radius: var(--br-xl);
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}
.button-23:hover,
.button24:hover {
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gainsboro-200);
  box-sizing: border-box;
}
.button-container {
  height: 41px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.image-2-icon2 {
  width: 39px;
  height: 39px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.calendar-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) var(--padding-6xs) 0;
}
.button-icon4 {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.3);
}
.wrapper-button4 {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: var(--br-81xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-button-icon-container {
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.may-212 {
  position: relative;
  line-height: 20px;
  z-index: 1;
}
.month-year-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
}
.button-icon5 {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 2px;
  transform: scale(1.3);
}
.wrapper-button5 {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: var(--br-81xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.previous-month-button {
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.button26 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
}
.button-13 {
  height: 42px;
  width: 66px;
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--white);
  border: 2px solid var(--grey-blue-97);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-xl);
  color: var(--grey-blue-60);
}
.button27 {
  position: relative;
  font-size: var(--bold-12-size);
  line-height: 20px;
  font-weight: 900;
  font-family: var(--bold-10);
  color: var(--grey-blue-80);
  text-align: center;
}
.button-23 {
  cursor: pointer;
  border: 2px solid var(--grey-blue-97);
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
  background-color: var(--white);
  height: 42px;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button28 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
}
.button-34 {
  height: 42px;
  flex: 1;
  background-color: var(--white);
  border: 2px solid var(--grey-blue-97);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
}
.button29 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
}
.button-44 {
  height: 42px;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--white);
  border: 2px solid var(--grey-blue-97);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl) var(--padding-mini)
    var(--padding-mini);
}
.group-button3 {
  align-self: stretch;
  height: 40px;
  box-shadow: var(--shadows-gray-blue-3-5b);
  flex-direction: row;
  z-index: 1;
}
.group-button3,
.today-button,
.today-button-content,
.week-days7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.week-days7 {
  width: 205px;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  color: var(--grey-blue-80);
}
.today-button,
.today-button-content {
  flex-direction: row;
  max-width: 100%;
}
.today-button-content {
  gap: 46.3px;
}
.today-button {
  padding: 0 var(--padding-xs) var(--padding-8xs);
  box-sizing: border-box;
  color: var(--grey-blue-60);
}
.icon41 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.line56 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -831px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.monday-122 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.monday-label-container {
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}
.monday-label-container,
.weekday-container,
.weekday-label {
  display: flex;
  align-items: flex-start;
}
.weekday-label {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.weekday-container {
  width: 183px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line57 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -992px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.tuesday-event-placeholder {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.tuesday-divider-parts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.line58 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -992px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.b19 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.tuesday-divider-parts1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.tuesday-event-divider,
.tuesday-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tuesday-event-divider {
  gap: var(--gap-31xl);
}
.tuesday-events {
  padding: var(--padding-xl) 0 0;
}
.base41 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--green-5);
  border: 2px solid var(--green);
  box-sizing: border-box;
  z-index: 5;
}
.badge57 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge56 {
  border-radius: var(--br-8xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  z-index: 6;
}
.badge59 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge-wrapper,
.badge58 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge58 {
  border-radius: var(--br-8xs);
  background-color: var(--green);
  flex-direction: row;
  padding: 0 var(--padding-6xs);
  z-index: 6;
}
.badge-wrapper {
  flex: 1;
  flex-direction: column;
  min-width: 369px;
  max-width: 100%;
}
.div41 {
  position: relative;
  font-size: var(--bold-12-size);
  line-height: 150%;
  font-weight: 500;
  color: var(--green);
  text-align: left;
  z-index: 6;
}
.event-badges {
  width: 656px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.choosing-a-quality6 {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 6;
}
.event-title1 {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--grey-blue-50);
}
.tuesday-content,
.tuesday-event-details {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.tuesday-event-details {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-51xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 447px;
  min-height: 130px;
  font-size: var(--black-8-size);
  color: var(--white);
}
.tuesday-content {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-12xl);
}
.calendar-weekdays,
.tuesday-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.tuesday-container {
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  color: var(--grey-blue-80);
}
.calendar-weekdays {
  flex-direction: column;
  gap: var(--gap-6xl);
}
.line59 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -992px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.wednesday-placeholder {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.wednesday-content {
  flex-direction: row;
  position: relative;
}
.wednesday-container,
.wednesday-content,
.week-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wednesday-container {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  color: var(--grey-blue-80);
}
.week-navigation {
  width: 740px;
  flex-direction: column;
  gap: var(--gap-11xl);
  max-width: 100%;
  color: var(--grey-blue-60);
}
.line60 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -992px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.b20 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.calendar-navigation-inner,
.line-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-parent6 {
  position: relative;
}
.calendar-navigation-inner {
  padding: 0 var(--padding-5xs);
}
.line61 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991.5px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.thursday-placeholder {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.thursday-separator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.line62 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.friday-placeholder {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.friday-separator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.friday-label {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.friday-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.base42,
.line63 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -280px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.base42 {
  width: 100%;
  height: 100%;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--purple-5);
  border: 2px solid var(--purple);
  box-sizing: border-box;
  z-index: 5;
}
.badge61 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge60 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--purple);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  z-index: 6;
}
.badge63 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge62,
.saturday-event-status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.badge62 {
  border-radius: var(--br-8xs);
  background-color: var(--purple);
  padding: 0 var(--padding-8xs) 0 var(--padding-6xs);
  z-index: 6;
}
.saturday-event-status {
  width: 101px;
  gap: var(--gap-3xs);
}
.div42 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 6;
}
.saturday-event-badges,
.wrapper7 {
  display: flex;
  align-items: flex-start;
}
.wrapper7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  text-align: left;
  color: var(--purple);
}
.saturday-event-badges {
  width: 657px;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.choosing-a-quality7 {
  flex: 1;
  position: relative;
  line-height: 20px;
  z-index: 6;
}
.saturday-event-title {
  width: 257px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--grey-blue-50);
}
.saturday-content,
.saturday-events2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.saturday-events2 {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-51xl);
  position: relative;
  gap: var(--gap-3xs);
  min-height: 130px;
}
.saturday-content {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.friday-container,
.saturday-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.saturday-container {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 447px;
  color: var(--white);
}
.friday-container {
  align-self: stretch;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-4xl);
}
.thursday-container,
.thursday-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thursday-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.thursday-container {
  width: 742px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.line64 {
  width: 2.2px;
  height: 910px;
  position: relative;
  display: none;
  z-index: 5;
}
.line65 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.sunday-placeholder {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.sunday-separator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.line66 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991.5px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.event-placeholder1 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.divider-parts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.line67 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.b21 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.divider-parts1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.event-divider,
.event-divider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.event-divider {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.event-divider-wrapper {
  width: 14.5px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.base43 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--green-5);
  border: 2px solid var(--green);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.badge65 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge64 {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-8xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  z-index: 3;
}
.badge67 {
  position: relative;
  line-height: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.badge66 {
  position: absolute;
  top: 10px;
  left: 50px;
  border-radius: var(--br-8xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  z-index: 3;
}
.choosing-a-quality8 {
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: var(--font-size-mini);
  line-height: 20px;
  display: inline-block;
  color: var(--grey-blue-50);
  text-align: left;
  width: 247px;
  z-index: 3;
}
.base-parent4 {
  height: 141px;
  flex: 1;
  position: relative;
  min-width: 381px;
  max-width: 100%;
  font-size: var(--black-8-size);
  color: var(--white);
}
.line68 {
  height: 910px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: -605px;
  left: 37.9px;
  background-color: var(--grey-blue-97);
  z-index: 2;
}
.sunday-events {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  gap: var(--gap-7xl);
  min-width: 407px;
  max-width: 100%;
}
.div43 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 1;
}
.wrapper8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  text-align: left;
  color: var(--green);
}
.event-list1,
.sunday-container,
.sunday-content {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.event-list1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
}
.sunday-container,
.sunday-content {
  justify-content: flex-start;
}
.sunday-content {
  flex: 1;
  flex-direction: column;
}
.sunday-container {
  width: 727px;
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
}
.line69 {
  height: 2px;
  width: 1032px;
  position: absolute;
  margin: 0 !important;
  right: -991px;
  bottom: 0;
  background-color: var(--grey-blue-97);
  z-index: 1;
}
.b22 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 2;
}
.calendar-navigation-child,
.line-parent7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-parent7 {
  position: relative;
}
.calendar-navigation-child {
  padding: 0 var(--padding-4xs);
}
.sunday-label {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.calendar-navigation1,
.event-placeholder-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.calendar-navigation1 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  flex-direction: column;
  padding: var(--padding-6xl) var(--padding-lg);
  box-sizing: border-box;
  gap: 49px;
  max-width: 100%;
  height: 100%;
}
.calendar-view {
  height: 1015px;
  width: 801px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
  font-family: var(--bold-10);
}
.content,
.div39 {
  display: flex;
  align-items: flex-start;
}
.content {
  width: 1281px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
  font-family: var(--bold-10);
}
.div39 {
  width: 100%;
  position: relative;
  box-shadow: 0 134px 124px rgba(34, 40, 49, 0.04);
  border-radius: var(--br-mini);
  background-color: var(--grey-blue-98);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-24xl) var(--padding-46xl) 67px;
  box-sizing: border-box;
  gap: var(--gap-19xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .about-us-news-link {
    display: none;
  }
  .navigation-links {
    width: 0;
  }
  .content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .user-policy-link {
    display: none;
  }
  .div39 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .logo-and-search-bar {
    gap: var(--gap-3xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .user-policy2 {
    display: none;
  }
  .logo-spacing {
    gap: var(--gap-7xl);
  }
  .navigation {
    padding-bottom: var(--padding-68xl);
    box-sizing: border-box;
  }
  .today-button-content {
    flex-wrap: wrap;
    gap: var(--gap-4xl);
  }
  .badge-wrapper {
    min-width: 100%;
  }
  .event-badges {
    flex-wrap: wrap;
  }
  .tuesday-event-details {
    min-width: 100%;
  }
  .tuesday-content {
    flex-wrap: wrap;
    gap: var(--gap-mini);
  }
  .saturday-container {
    min-width: 100%;
  }
  .friday-container {
    flex-wrap: wrap;
  }
  .base-parent4 {
    min-width: 100%;
  }
  .sunday-events {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .event-list1 {
    flex-wrap: wrap;
    gap: var(--gap-xl);
  }
  .calendar-view {
    height: auto;
    min-height: 1015;
  }
}
@media screen and (max-width: 450px) {
  .saturday-event-badges {
    flex-wrap: wrap;
  }
  .calendar-navigation1 {
    gap: var(--gap-5xl);
  }
  .div39 {
    gap: var(--gap-lgi);
  }
}
