html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

fieldset {
    text-align: center;
    border: none;
}

fieldset input {
    height: 35px;
}

.profile-container {
    text-align: center;
    background-color: #E9E9E9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    /* Добавленные стили для центрирования */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-container {
    width: 486px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

#profile-image {
    display: none;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.icon {
    width: 60%;
}

.button-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    position: relative;
    top: 440px;
}

#submit {
    position: absolute;
    top: 80%;
    left: 70%;
}

#back {
    position: absolute;
}

.contacts fieldset {
    display: inline-grid;
    row-gap: 15px;
    grid-template-columns: 10% 53% 0%;
    justify-items: left;
    align-items: center;
}

form span {
    position: relative;
    bottom: 95px;
    right: 260px;
}

input {
    border: 1px solid #E2E6F3;
    border-radius: 15px;
}

input[type="submit"], input[type="button"] {
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #E9E9E9;
    color: black;
    cursor: pointer;
}

input:hover {
    background-color: #e2e2e2;
}

