html {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-container {
    text-align: center;
    background-color: #E9E9E9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;

    /* Добавленные стили для центрирования */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#profile-image {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

input {
    position: absolute;
    top: 80%;
    left: 70%;
    padding: 15px 40px;
    background-color: #E9E9E9;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}

input:hover {
    background-color: #e2e2e2;
}