body {
    font-family: Arial, sans-serif;
}

.save {
    position: absolute;
    top: 80%;
    left: 70%;
    padding: 15px 40px;
    background-color: #E9E9E9;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
}

.save:hover {
    background-color: #e2e2e2;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.answers {
    display: flex;
    justify-content: space-around;
}

.answer {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.answer.yes {
    background-color: #00c853;
    color: white;
}

.answer.no {
    background-color: #ff9800;
    color: white;
}

.selected {
    box-shadow: 0 0 5px 2px #000;
}