<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/default-page.css}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div139">
      <div class="sidebar1">
        <div class="menu">
          <div class="dashboard23" id="dashboardContainer">
            <div class="base75"></div>
            <b class="dashboard24">Список клинетов</b>
            <img
              class="icon115"
              loading="lazy"
              alt=""
              src="/images/icon-3@2x.png"
            />
          </div>
          <div class="invoice15" id="invoiceContainer">
            <div class="base76"></div>
            <b class="invoice16">Уведомления</b>
            <img
              class="icon116"
              loading="lazy"
              alt=""
              src="/images/icon-5.svg"
            />
          </div>
          <div class="files8">
            <div class="base77"></div>
            <b class="files9">Аналитика</b>
            <img
              class="icon117"
              loading="lazy"
              alt=""
              src="/images/icon-6.svg"
            />
          </div>
          <div class="email3">
            <div class="base78"></div>
            <b class="calendars8">Календарь</b>
            <img
              class="icon118"
              loading="lazy"
              alt=""
              src="/images/icon-4@2x.png"
            />
          </div>
          <div class="div140" id="container">
            <div class="base79"></div>
            <b class="dashboard25">Опросники и тесты</b>
          </div>
          <div class="parent26">
            <b class="b112">Заявки</b>
            <div class="rectangle-parent87" id="groupContainer">
              <div class="frame-child111"></div>
              <div class="frame-child112"></div>
              <b class="b113">Овсянникова Юля Матвеевна</b>
              <b class="b114">20.02.2024</b>
            </div>
            <div class="rectangle-parent88" id="groupContainer1">
              <div class="frame-child113"></div>
              <div class="frame-child114"></div>
              <b class="b115">Овсянникова Кирилл Матвеев</b>
              <b class="b116">25.02.2024</b>
            </div>
          </div>
        </div>
        <div class="feedback3">
          <b class="send-feedback8">Обратная связь</b>
          <img
            class="icon119"
            loading="lazy"
            alt=""
            src="/images/icon-7@2x.png"
          />

          <img
            class="icon120"
            loading="lazy"
            alt=""
            src="/images/icon-8.svg"
          />
        </div>
        <div class="head">
          <div class="wrapper-user8">
            <img
              class="user-icon"
              loading="lazy"
              alt=""
              th:src="@{'/SimplePsy/V1/specialist/avatar/' + ${specialist.id}}"
              id="userImage"
            />
          </div>
          <b class="hello-rosalie8">Привет, Антон!</b>
          <b class="rosaliericegmailc8">rosalie.rice@gmail.com</b>
        </div>
      </div>
      <b class="page-title">21</b>
      <header class="head1">
        <div class="navigate">
          <a class="constructor8">Понятная практика</a>
          <div class="menu1">
            <b class="news9" id="newsText">Назначить встречу</b>
            <b class="user-policy9" id="userPolicyText"
              >Добавить график нерабочих дней
            </b>
            <b class="about-us15" id="aboutUsText">Добавить клиента</b>
          </div>
          <div class="search8">
            <b class="search9">Найти клиента...</b>
            <img
              class="icon121"
              loading="lazy"
              alt=""
              src="/images/icon-1@2x.png"
            />
          </div>
          <div class="city">
            <b class="new-york8">Ростов-на-Дону</b>
            <img
              class="icon122"
              loading="lazy"
              alt=""
              src="/images/icon-2@2x.png"
            />
          </div>
          <img
            class="icon123"
            loading="lazy"
            alt=""
            src="./public/icon22@2x.png"
          />
        </div>
      </header>
    </div>

    <script>
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./component2.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      
      var newsText = document.getElementById("newsText");
      if (newsText) {
        newsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Назначить встречу" Тип встерча = Встреча с клиентом" to the project
        });
      }
      
      var userPolicyText = document.getElementById("userPolicyText");
      if (userPolicyText) {
        userPolicyText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить график  нерабочих дней "" to the project
        });
      }
      
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить клиента"" to the project
        });
      }
      </script>
  </body>
</html>
