<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../static/css/new-front/global.css" />
    <link rel="stylesheet" href="../../static/css/new-front/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="main1">
      <div class="content1">
        <div class="base64"></div>
        <img
          class="content-child"
          loading="lazy"
          alt=""
          src="./public/group-281@2x.png"
          id="groupIcon"
        />

        <div class="parent10">
          <div class="div80">Название методики</div>
          <div class="methodology-content">
            <div class="methodology-illustration">
              <div class="methodology-image"></div>
              <div class="div81">Дом, дерево, человек</div>
            </div>
          </div>
        </div>
        <div class="single-image-parent">
          <div class="single-image">
            <img
              class="image-10-icon"
              loading="lazy"
              alt=""
              src="./public/image-10@2x.png"
            />

            <div class="image-caption">
              <div class="image-description">20.02.2024</div>
            </div>
          </div>
          <div class="gallery">
            <div class="gallery-item">
              <img
                class="image-11-icon"
                alt=""
                src="./public/image-11@2x.png"
              />

              <div class="gallery-item-caption">
                <div class="gallery-description">20.03.2024</div>
              </div>
            </div>
            <div class="gallery-item1">
              <img
                class="image-12-icon"
                alt=""
                src="./public/image-12@2x.png"
              />

              <input
                class="gallery-item-child"
                placeholder="20.04.2024"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          window.location.href = "./component5.html";
        });
      }
      </script>
  </body>
</html>
