<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component8.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div116">
      <form class="meeting-details1">
        <div class="base72"></div>
        <b class="add-place11">Формат встречи</b>
        <img
          class="icon102"
          loading="lazy"
          alt=""
          src="./public/icon1@2x.png"
        />

        <div class="line75"></div>
        <div class="line76"></div>
        <div class="line77"></div>
        <div class="line78"></div>
        <b class="add-date3">Дата встречи</b>
        <img
          class="icon103"
          loading="lazy"
          alt=""
          src="./public/icon-11@2x.png"
        />

        <img
          class="icon104"
          loading="lazy"
          alt=""
          src="./public/icon-2@2x.png"
        />

        <b class="b109">Место проведения встречи </b>
        <b class="add-time10">С ... ПО ...</b>
        <img
          class="icon105"
          loading="lazy"
          alt=""
          src="./public/icon-31@2x.png"
        />

        <img
          class="icon106"
          loading="lazy"
          alt=""
          src="./public/icon1@2x.png"
        />

        <b class="add-time11">Заметка (текстовое поле)</b>
        <div class="add-members4">
          <b class="add-members5">Название встречи</b>
        </div>
        <div class="parent24">
          <div class="div117">Иное</div>
          <img
            class="icon107"
            loading="lazy"
            alt=""
            src="./public/icon1@2x.png"
          />
        </div>
        <div class="line79"></div>
        <div class="button42">
          <div class="div118">48</div>
        </div>
        <input class="place-time" type="checkbox" />

        <b class="add-place12">Уведомлять</b>
        <button class="rectangle-parent84" id="groupButton">
          <div class="frame-child105"></div>
          <div class="div119">Создать встречу</div>
        </button>
        <div class="component11">
          <div class="item53">
            <img class="feather-icon-chevron-up11" alt="" />
          </div>
          <div class="item54">
            <img
              class="feather-icon-plus8"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="wrapper39">
              <div class="div120">Онлайн</div>
            </div>
          </div>
          <div class="item55">
            <img
              class="feather-icon-check16"
              alt=""
              src="./public/feathericon--check1.svg"
            />

            <div class="div121">Офлайн</div>
          </div>
        </div>
        <b class="add-place13">Повтор</b>
        <div class="button43">
          <input class="input13" placeholder="2" type="text" />
        </div>
        <div class="button44">
          <div class="div122">Неделя</div>
        </div>
        <div class="group-button5">
          <div class="button-15">
            <div class="button45">П</div>
          </div>
          <div class="button-25">
            <div class="button46">В</div>
          </div>
          <div class="button-37">
            <div class="button47">С</div>
          </div>
          <div class="button-47">
            <div class="button48">Ч</div>
          </div>
        </div>
        <div class="button-38">
          <div class="button49">Ч</div>
        </div>
        <div class="button-52">
          <div class="button50">СБ</div>
        </div>
        <div class="button-62">
          <div class="button51">ПТ</div>
        </div>
        <div class="button-48">
          <div class="button52">ВС</div>
        </div>
        <input class="place-time1" type="checkbox" />

        <b class="add-place14">Повторять</b>
        <b class="add-time12">Уведомить за</b>
        <img
          class="icon108"
          loading="lazy"
          alt=""
          src="./public/icon-51@2x.png"
        />

        <div class="component12">
          <div class="item56">
            <img class="feather-icon-chevron-up12" alt="" />
          </div>
          <div class="item57">
            <img
              class="feather-icon-check17"
              alt=""
              src="./public/feathericon--check.svg"
            />

            <div class="no-content">24</div>
          </div>
          <div class="item58">
            <img
              class="feather-icon-check18"
              alt=""
              src="./public/feathericon--check.svg"
            />

            <input class="input14" placeholder="48" type="text" />
          </div>
          <div class="item59">
            <img
              class="feather-icon-check19"
              alt=""
              src="./public/feathericon--check.svg"
            />

            <input class="input15" placeholder="72" type="text" />
          </div>
        </div>
        <b class="add-time13">часа</b>
        <img
          class="meeting-details-child"
          loading="lazy"
          alt=""
          src="./public/group-283@2x.png"
          id="groupIcon"
        />

        <b class="add-place15">Тип встречи</b>
        <div class="component13">
          <div class="item60">
            <img
              class="feather-icon-plus9"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="client-meeting">
              <div class="div123">Встреча с клиентом</div>
            </div>
          </div>
          <div class="item61">
            <img
              class="feather-icon-check20"
              alt=""
              src="./public/feathericon--check.svg"
            />

            <input class="input16" placeholder="Иное" type="text" />
          </div>
        </div>
      </form>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      </script>
  </body>
</html>
