<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component7.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div106">
      <section class="appointment-base">
        <div class="base71"></div>
        <b class="add-place6">Формат встречи</b>
        <img class="icon92" loading="lazy" alt="" src="./public/icon1@2x.png" />

        <div class="line70"></div>
        <div class="line71"></div>
        <div class="line72"></div>
        <div class="line73"></div>
        <b class="add-date2">Дата встречи</b>
        <img
          class="icon93"
          loading="lazy"
          alt=""
          src="./public/icon-11@2x.png"
        />

        <img
          class="icon94"
          loading="lazy"
          alt=""
          src="./public/icon-2@2x.png"
        />

        <b class="add-time6">С ... ПО ...</b>
        <img
          class="icon95"
          loading="lazy"
          alt=""
          src="./public/icon-31@2x.png"
        />

        <img class="icon96" loading="lazy" alt="" src="./public/icon1@2x.png" />

        <b class="add-members3">
          <p class="p43">Найти клиента</p>
        </b>
        <img
          class="icon97"
          loading="lazy"
          alt=""
          src="./public/icon-1@2x.png"
        />

        <div class="icon-parent22">
          <img
            class="icon98"
            loading="lazy"
            alt=""
            src="./public/icon1@2x.png"
          />

          <div class="component7">
            <div class="item41">
              <img class="feather-icon-chevron-up8" alt="" />
            </div>
            <div class="item42">
              <img
                class="feather-icon-check9"
                alt=""
                src="./public/feathericon--check.svg"
              />

              <div class="div107">Наличная</div>
            </div>
            <div class="item43">
              <img
                class="feather-icon-check10"
                alt=""
                src="./public/feathericon--check.svg"
              />

              <div class="div108">Безналичная</div>
            </div>
          </div>
        </div>
        <div class="parent22">
          <div class="div109">Встреча с клиентом</div>
          <img
            class="icon99"
            loading="lazy"
            alt=""
            src="./public/icon1@2x.png"
          />
        </div>
        <div class="line74"></div>
        <div class="button31">
          <div class="div110">48</div>
        </div>
        <input class="appointment-fields" type="checkbox" />

        <b class="add-place7">Уведомлять</b>
        <div class="rectangle-parent83" id="groupContainer">
          <div class="frame-child104"></div>
          <h3 class="h32">Создать встречу</h3>
          <div class="component8">
            <div class="item44">
              <img class="feather-icon-chevron-up9" alt="" />
            </div>
            <div class="item45">
              <img
                class="feather-icon-check11"
                alt=""
                src="./public/feathericon--check.svg"
              />

              <div class="empty-meeting-options">24</div>
            </div>
            <div class="item46">
              <img
                class="feather-icon-check12"
                alt=""
                src="./public/feathericon--check.svg"
              />

              <input class="input10" placeholder="48" type="text" />
            </div>
            <div class="item47">
              <img
                class="feather-icon-check13"
                alt=""
                src="./public/feathericon--check.svg"
              />

              <div class="div111">72</div>
            </div>
          </div>
        </div>
        <div class="parent23">
          <b class="b108">Место проведения встречи </b>
          <div class="component9">
            <div class="item48">
              <img class="feather-icon-chevron-up10" alt="" />
            </div>
            <div class="item49">
              <img
                class="feather-icon-plus6"
                alt=""
                src="./public/feathericon--plus.svg"
              />

              <div class="wrapper37">
                <div class="div112">Онлайн</div>
              </div>
            </div>
            <div class="item50">
              <img
                class="feather-icon-check14"
                alt=""
                src="./public/feathericon--check1.svg"
              />

              <div class="div113">Офлайн</div>
            </div>
          </div>
        </div>
        <b class="add-time7">Тип оплаты</b>
        <b class="add-place8">Повтор</b>
        <div class="button32">
          <input class="input11" placeholder="2" type="text" />
        </div>
        <div class="button33">
          <div class="div114">Неделя</div>
        </div>
        <img
          class="icon100"
          loading="lazy"
          alt=""
          src="./public/icon1@2x.png"
        />

        <div class="group-button4">
          <div class="button-14">
            <div class="button34">П</div>
          </div>
          <div class="button-24">
            <div class="button35">В</div>
          </div>
          <div class="button-35">
            <div class="button36">С</div>
          </div>
          <div class="button-45">
            <div class="button37">Ч</div>
          </div>
        </div>
        <div class="button-36">
          <div class="button38">Ч</div>
        </div>
        <div class="button-51">
          <div class="button39">СБ</div>
        </div>
        <div class="button-61">
          <div class="button40">ПТ</div>
        </div>
        <div class="button-46">
          <div class="button41">ВС</div>
        </div>
        <input class="appointment-fields1" type="checkbox" />

        <b class="add-place9">Повторять</b>
        <b class="add-time8">Уведомить за</b>
        <img
          class="icon101"
          loading="lazy"
          alt=""
          src="./public/icon-9@2x.png"
        />

        <b class="add-time9">часа</b>
        <img
          class="appointment-base-child"
          loading="lazy"
          alt=""
          src="./public/group-282@2x.png"
          id="groupIcon"
        />

        <b class="add-place10">Тип встречи</b>
        <div class="component10">
          <div class="item51">
            <img
              class="feather-icon-plus7"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="wrapper38">
              <div class="div115">Встреча с клиентом</div>
            </div>
          </div>
          <div class="item52">
            <img
              class="feather-icon-check15"
              alt=""
              src="./public/feathericon--check.svg"
            />

            <input class="input12" placeholder="Иное" type="text" />
          </div>
        </div>
      </section>
    </div>

    <script>
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      </script>
  </body>
</html>
