<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div57">
      <main class="frame-parent33">
        <header class="frame-wrapper21">
          <div class="frame-parent34">
            <div class="frame-wrapper22">
              <div class="frame-parent35">
                <div class="icon-parent7">
                  <img
                    class="icon54"
                    loading="lazy"
                    alt=""
                    src="./public/icon@2x.png"
                  />

                  <div class="constructor-container">
                    <a class="constructor4">Понятная практика</a>
                  </div>
                  <div class="icon-parent8">
                    <img
                      class="icon55"
                      loading="lazy"
                      alt=""
                      src="./public/icon-1@2x.png"
                    />

                    <div class="search-wrapper">
                      <b class="search4">Найти клиента...</b>
                    </div>
                  </div>
                </div>
                <div class="about-us-news-link-wrapper">
                  <div class="about-us-news-link2">
                    <b class="about-us4">Добавить клиента</b>
                    <b class="news4">Назначить встречу</b>
                  </div>
                </div>
                <div class="user-policy-container">
                  <b class="user-policy4">Добавить график нерабочих дней </b>
                </div>
              </div>
            </div>
            <div class="icon-parent9">
              <img
                class="icon56"
                loading="lazy"
                alt=""
                src="./public/icon-2@2x.png"
              />

              <div class="new-york-container">
                <b class="new-york4">Ростов-на-Дону</b>
              </div>
            </div>
          </div>
        </header>
        <section class="settings-group">
          <img
            class="settings-icon3"
            loading="lazy"
            alt=""
            src="./public/settings@2x.png"
          />

          <div class="frame-wrapper23">
            <div class="frame-parent36">
              <div class="frame-parent37">
                <div class="wrapper-user-container">
                  <div class="wrapper-user4">
                    <img
                      class="user-icon4"
                      loading="lazy"
                      alt=""
                      src="./public/user1@2x.png"
                      id="userImage"
                    />
                  </div>
                </div>
                <div class="frame-parent38">
                  <div class="image-4-parent">
                    <img
                      class="image-4-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/image-4@2x.png"
                    />

                    <div class="wrapper16">
                      <div class="div58">Дата</div>
                    </div>
                  </div>
                  <div class="frame-parent39">
                    <div class="rectangle-parent29">
                      <div class="frame-child32"></div>
                      <b class="placeholder17">
                        <span class="placeholder-txt">
                          <p class="p20">20.02.2024</p>
                          <p class="p21">22:45</p>
                        </span>
                      </b>
                    </div>
                    <div class="rectangle-parent30">
                      <div class="frame-child33"></div>
                      <div class="parent5">
                        <b class="b60">Иванова Елизавета Станиславовна</b>
                        <b class="b61"
                          >Добрый день, есть возможность подвинуть запись?</b
                        >
                      </div>
                      <div class="contact-placeholder-parent">
                        <b class="contact-placeholder">+7 961 906 77 08</b>
                        <div class="telegram-wrapper">
                          <b class="telegram">Telegram</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-parent40">
                <div class="frame-wrapper24">
                  <div class="frame-parent41">
                    <div class="hello-rosalie-frame">
                      <b class="hello-rosalie4">Привет, Антон!</b>
                    </div>
                    <b class="rosaliericegmailc4">rosalie.rice@gmail.com</b>
                  </div>
                </div>
                <div class="rectangle-parent31">
                  <div class="frame-child34"></div>
                  <b class="action-placeholder">
                    <span class="action-placeholder-txt-container">
                      <p class="p22">20.02.2024</p>
                      <p class="p23">22:45</p>
                    </span>
                  </b>
                </div>
                <div class="rectangle-parent32">
                  <div class="frame-child35"></div>
                  <div class="chat-message-content">
                    <div class="chat-message-info">
                      <b class="b62">Иванова Елизавета Станиславовна</b>
                      <b class="b63"
                        >Добрый день, есть возможность подвинуть запись?</b
                      >
                    </div>
                  </div>
                  <div class="frame-wrapper25">
                    <div class="whats-app-info-parent">
                      <b class="whats-app-info">+7 961 906 77 08</b>
                      <b class="whatsapp">WhatsApp</b>
                    </div>
                  </div>
                  <div class="frame-parent42">
                    <div class="rectangle-parent33">
                      <div class="frame-child36"></div>
                      <b class="b64">Уведомить</b>
                    </div>
                    <div class="frame-wrapper26">
                      <button class="rectangle-parent34">
                        <div class="frame-child37"></div>
                        <b class="b65">Создать встречу</b>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions-content-wrapper">
            <div class="actions-content">
              <div class="email-parent">
                <div class="email1" id="emailContainer">
                  <div class="base49">
                    <div class="icon-wrapper9">
                      <img
                        class="icon57"
                        loading="lazy"
                        alt=""
                        src="./public/icon-41@2x.png"
                      />
                    </div>
                    <b class="calendars4">Календарь</b>
                  </div>
                </div>
                <div class="dashboard11" id="dashboardContainer">
                  <div class="base50"></div>
                  <div class="icon-wrapper10">
                    <img
                      class="icon58"
                      loading="lazy"
                      alt=""
                      src="./public/icon-42@2x.png"
                    />
                  </div>
                  <b class="dashboard12">Список клинетов</b>
                </div>
                <div class="app-icon-labels">
                  <div class="base51"></div>
                  <div class="icon-wrapper11">
                    <img
                      class="icon59"
                      loading="lazy"
                      alt=""
                      src="./public/icon-53.svg"
                    />
                  </div>
                  <b class="invoice8">Уведомления</b>
                </div>
              </div>
              <div class="actions-content-inner">
                <div class="chat-item-pair-parent">
                  <div class="chat-item-pair">
                    <div class="first-chat-item">
                      <div class="first-chat-item-child"></div>
                      <b class="chat-item-placeholder-container">
                        <span class="chat-item-placeholder-container1">
                          <p class="p24">20.02.2024</p>
                          <p class="p25">22:45</p>
                        </span>
                      </b>
                    </div>
                    <div class="second-chat-item">
                      <div class="second-chat-item-child"></div>
                      <div class="chat-details-pair">
                        <b class="b66">Иванова Елизавета Станиславовна</b>
                        <b class="b67"
                          >Добрый день, есть возможность подвинуть запись?</b
                        >
                      </div>
                      <div class="chat-contact-info">
                        <b class="contact-placeholder-duplicate"
                          >+7 961 906 77 08</b
                        >
                        <b class="telegram1">Telegram</b>
                      </div>
                      <div class="second-chat-item-inner">
                        <div class="rectangle-parent35">
                          <div class="frame-child38"></div>
                          <b class="b68">Сообщение</b>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-item-pair1">
                    <div class="rectangle-parent36">
                      <div class="frame-child39"></div>
                      <b class="b69">
                        <span class="txt">
                          <p class="p26">20.02.2024</p>
                          <p class="p27">22:45</p>
                        </span>
                      </b>
                    </div>
                    <div class="rectangle-parent37">
                      <div class="frame-child40"></div>
                      <div class="parent6">
                        <b class="b70">Иванова Елизавета Станиславовна</b>
                        <p class="p28">
                          Добрый день, есть возможность подвинуть запись?
                        </p>
                      </div>
                      <div class="parent7">
                        <b class="b71">+7 961 906 77 08</b>
                        <b class="whatsapp1">WhatsApp</b>
                      </div>
                      <div class="frame-wrapper27">
                        <div class="rectangle-parent38">
                          <div class="frame-child41"></div>
                          <b class="b72">Сообщение</b>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-parent43">
            <div class="frame-parent44">
              <div class="base-parent5">
                <div class="base52"></div>
                <div class="icon-wrapper12">
                  <img
                    class="icon60"
                    loading="lazy"
                    alt=""
                    src="./public/icon-6.svg"
                  />
                </div>
                <b class="files4">Аналитика</b>
              </div>
              <div class="frame-wrapper28">
                <div class="base-parent6">
                  <div class="base53"></div>
                  <b class="dashboard13">Опросники и тесты</b>
                </div>
              </div>
            </div>
            <div class="client-items-wrapper">
              <div class="client-items">
                <div class="wrapper17">
                  <b class="b73">Заявки</b>
                </div>
                <div class="client-name-delimiter-parent" id="groupContainer">
                  <div class="client-name-delimiter">
                    <div class="client-name-delimiter-child"></div>
                    <b class="b74">20.02.2024</b>
                  </div>
                  <div class="rectangle-parent39">
                    <div class="frame-child42"></div>
                    <b class="b75">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
                <div class="frame-parent45" id="groupContainer1">
                  <div class="rectangle-parent40">
                    <div class="frame-child43"></div>
                    <b class="b76">25.02.2024</b>
                  </div>
                  <div class="rectangle-parent41">
                    <div class="frame-child44"></div>
                    <b class="b77">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="feedback-wrapper1">
        <div class="feedback2">
          <img
            class="icon61"
            loading="lazy"
            alt=""
            src="./public/icon-7@2x.png"
          />

          <div class="frame-parent46">
            <div class="send-feedback-wrapper2">
              <b class="send-feedback4">Обратная связь</b>
            </div>
            <img
              class="icon62"
              loading="lazy"
              alt=""
              src="./public/icon-8.svg"
            />
          </div>
        </div>
      </div>
    </div>

    <script>
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./frame5.html";
        });
      }
      
      var emailContainer = document.getElementById("emailContainer");
      if (emailContainer) {
        emailContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      </script>
  </body>
</html>
