<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component4.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div59">
      <div class="settings"></div>
      <header class="frame-parent47">
        <div class="frame-wrapper29">
          <nav class="frame-nav">
            <div class="icon-parent10">
              <img
                class="icon63"
                loading="lazy"
                alt=""
                src="./public/icon@2x.png"
              />

              <div class="constructor-frame">
                <a class="constructor5">Понятная практика</a>
              </div>
              <div class="icon-parent11">
                <img
                  class="icon64"
                  loading="lazy"
                  alt=""
                  src="./public/icon-1@2x.png"
                />

                <div class="search-container">
                  <b class="search5">Найти клиента...</b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper30">
              <div class="about-us-parent">
                <b class="about-us5">Добавить клиента</b>
                <b class="news5">Назначить встречу</b>
              </div>
            </div>
            <div class="user-policy-frame">
              <b class="user-policy5">Добавить график нерабочих дней </b>
            </div>
          </nav>
        </div>
        <div class="icon-parent12">
          <img
            class="icon65"
            loading="lazy"
            alt=""
            src="./public/icon-2@2x.png"
          />

          <div class="new-york-frame">
            <b class="new-york5">Ростов-на-Дону</b>
          </div>
        </div>
      </header>
      <main class="frame-parent48">
        <section class="frame-wrapper31">
          <div class="frame-parent49">
            <div class="frame-wrapper32">
              <div class="wrapper-user-parent">
                <div class="wrapper-user5">
                  <img
                    class="user-icon5"
                    loading="lazy"
                    alt=""
                    src="./public/user@2x.png"
                  />
                </div>
                <div class="frame-parent50">
                  <div class="hello-rosalie-wrapper1">
                    <b class="hello-rosalie5">Привет, Антон!</b>
                  </div>
                  <b class="rosaliericegmailc5">
                    <p class="ponyatpractikagmailcom">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
              </div>
            </div>
            <div class="frame-parent51">
              <div class="a998761-62ed-4135-8023-6815850-parent">
                <img
                  class="a998761-62ed-4135-8023-6815850-icon"
                  loading="lazy"
                  alt=""
                  src="./public/7a99876162ed413580236815850cd2e21152x1536-1@2x.png"
                />

                <div class="wrapper18">
                  <div class="div60">Специализация</div>
                </div>
              </div>
              <div class="frame-wrapper33">
                <div class="parent8">
                  <div class="div61">Фоминичев Антон Валерьевич</div>
                  <div class="div62">
                    <p class="p29">г. Ростов-на-Дону</p>
                  </div>
                  <div class="div63">
                    <p class="p30">+89064275682</p>
                  </div>
                  <div class="ponyatpractikagmailcom1">
                    <p class="ponyatpractikagmailcom2">
                      ponyatpractika@gmail.com
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="frame-parent52">
          <div class="frame-parent53">
            <div class="frame-wrapper34">
              <div class="dashboard-header-items-parent">
                <div class="dashboard-header-items">
                  <div class="dashboard14" id="dashboardContainer">
                    <div class="base54"></div>
                    <div class="icon-wrapper13">
                      <img
                        class="icon66"
                        loading="lazy"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard15">Список клинетов</b>
                  </div>
                  <div class="dashboard-content-items">
                    <div class="base55" id="baseContainer">
                      <div class="icon-wrapper14">
                        <img
                          class="icon67"
                          loading="lazy"
                          alt=""
                          src="./public/icon-41@2x.png"
                        />
                      </div>
                      <b class="calendars5">Календарь</b>
                    </div>
                  </div>
                </div>
                <div class="dashboard-header-items1">
                  <div class="invoice9" id="invoiceContainer">
                    <div class="base56"></div>
                    <div class="icon-wrapper15">
                      <img
                        class="icon68"
                        loading="lazy"
                        alt=""
                        src="./public/icon-5.svg"
                      />
                    </div>
                    <b class="invoice10">Уведомления</b>
                  </div>
                  <div class="base-parent7">
                    <div class="base57"></div>
                    <div class="icon-wrapper16">
                      <img
                        class="icon69"
                        loading="lazy"
                        alt=""
                        src="./public/icon-6.svg"
                      />
                    </div>
                    <b class="files5">Аналитика</b>
                  </div>
                </div>
                <div class="wrapper19">
                  <div class="div64" id="container">
                    <div class="base58"></div>
                    <b class="dashboard16">Опросники и тесты</b>
                  </div>
                </div>
                <div class="frame-wrapper35">
                  <div class="frame-parent54">
                    <div class="wrapper20">
                      <b class="b78">Заявки</b>
                    </div>
                    <div
                      class="applications-header-dividers-parent"
                      id="groupContainer"
                    >
                      <div class="applications-header-dividers">
                        <div class="applications-header-dividers-child"></div>
                        <b class="applications-divider">20.02.2024</b>
                      </div>
                      <div class="rectangle-parent42">
                        <div class="frame-child45"></div>
                        <b class="b79">Овсянникова Юля Матвеевна</b>
                      </div>
                    </div>
                    <div class="frame-parent55" id="groupContainer1">
                      <div class="rectangle-parent43">
                        <div class="frame-child46"></div>
                        <b class="b80">25.02.2024</b>
                      </div>
                      <div class="rectangle-parent44">
                        <div class="frame-child47"></div>
                        <b class="b81">Овсянникова Юля Матвеевна</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-parent56">
              <div class="frame-wrapper36">
                <div class="rectangle-parent45">
                  <div class="frame-child48"></div>
                  <div class="div65">
                    <ul class="ul">
                      <li class="li">Индивидуальная терапия</li>
                      <li class="li1">Работа с группой</li>
                      <li class="li2">
                        Телесно-ориентированная терапия и психосоматика
                      </li>
                      <li class="li3">Организационное консультирование</li>
                      <li>Работа с системами в гештальт-подходе</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="frame-parent57">
                <div class="wrapper21">
                  <div class="div66">
                    Описание профессиональной деятельности
                  </div>
                </div>
                <div class="rectangle-parent46">
                  <div class="frame-child49"></div>
                  <div class="div67">
                    Практикую в гештальт-подходе с 2010 года. Верю в изначальную
                    способность человека развиваться и углубляться во время
                    трудных жизненных ситуаций и кризисов. Работаю с
                    внутриличностными конфликтами, кризисами идентичности,
                    связанными с резким изменением жизненного уклада,
                    трудностями и задачами развития отношений в паре или
                    организации. Имею опыт создания и управления несколькими
                    бизнесами, регулярно консультирую предпринимателей и команды
                    стартап-проектов, управляю инвестициями фонда венчурного
                    строительства.
                  </div>
                </div>
              </div>
              <div class="frame-wrapper37">
                <div class="parent9">
                  <div class="div68">Образование</div>
                  <div class="rectangle-parent47">
                    <div class="frame-child50"></div>
                    <div class="oulu-university-container">
                      <ul class="oulu-university-20">
                        <li class="oulu-university">
                          2008 — Oulu University (Финляндия)
                        </li>
                        <li class="li4">
                          2009 — Южный федеральный университет, специальность
                          «Психолог. Преподаватель высшей школы», бакалавр
                        </li>
                        <li class="eagt">
                          2009–2017 — Московский гештальт-институт,
                          гештальт-терапевт, супервизор (европейский
                          образовательный стандарт EAGT)
                        </li>
                        <li class="li5">
                          2011 — Южный федеральный университет, специальность
                          «Психолог. Преподаватель высшей школы», магистр
                        </li>
                        <li>
                          2011–2014 — Южный федеральный университет, аспирантура
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div69">Дипломы</div>
            </div>
          </div>
          <div class="frame-wrapper38">
            <div class="frame-parent58">
              <div class="icon-parent13">
                <img
                  class="icon70"
                  loading="lazy"
                  alt=""
                  src="./public/icon-7@2x.png"
                />

                <div class="frame-parent59">
                  <div class="send-feedback-wrapper3">
                    <b class="send-feedback5">Обратная связь</b>
                  </div>
                  <img
                    class="icon71"
                    loading="lazy"
                    alt=""
                    src="./public/icon-8.svg"
                  />
                </div>
              </div>
              <div class="frame-wrapper39">
                <div class="rectangle-parent48">
                  <div class="frame-child51"></div>
                  <button class="rectangle-parent49">
                    <div class="frame-child52"></div>
                    <div class="div70">+ Добавить фото</div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="save-edit-buttons-wrapper">
            <div class="save-edit-buttons">
              <div class="save-edit-buttons-inner">
                <div class="rectangle-parent50">
                  <div class="frame-child53"></div>
                  <div class="div71">Редактировать</div>
                </div>
              </div>
              <button class="rectangle-parent51">
                <div class="frame-child54"></div>
                <div class="div72">Сохранить</div>
              </button>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var baseContainer = document.getElementById("baseContainer");
      if (baseContainer) {
        baseContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame4.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./frame15.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      </script>
  </body>
</html>
