<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component17.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div334">
      <section class="base-parent17">
        <div class="base105"></div>
        <div class="rectangle-parent160">
          <div class="frame-child186"></div>
          <div class="frame-child187"></div>
        </div>
        <div class="frame-wrapper87">
          <div class="frame-parent152">
            <div class="frame-wrapper88">
              <div class="rectangle-parent161">
                <div class="frame-child188"></div>
                <div class="client-name-field-parent">
                  <div class="client-name-field">
                    <div class="div335">Введите ФИО клиента</div>
                    <div class="div336">Введите ФИО клиента</div>
                  </div>
                  <div class="icon-wrapper43">
                    <img class="icon176" alt="" src="./public/icon2.svg" />
                  </div>
                  <div class="frame-child189"></div>
                </div>
              </div>
            </div>
            <div class="frame-parent153">
              <div class="component-frame">
                <div class="component21">
                  <div class="item191">
                    <img class="feather-icon-chevron-up23" alt="" />
                  </div>
                  <div class="item192">
                    <img
                      class="feather-icon-plus15"
                      alt=""
                      src="./public/feathericon--plus.svg"
                    />

                    <div class="wrapper54">
                      <div class="div337">Иванов Василий Иванович</div>
                    </div>
                  </div>
                  <div class="item193">
                    <img
                      class="feather-icon-check26"
                      alt=""
                      src="./public/feathericon--check.svg"
                    />

                    <input
                      class="input19"
                      placeholder="Иванов Павел Иванович"
                      type="text"
                    />
                  </div>
                  <input class="item194" type="text" />
                </div>
              </div>
              <div class="rectangle-parent162">
                <div class="frame-child190"></div>
                <input
                  class="input20"
                  placeholder="Ссылка для конкретного клиента"
                  type="text"
                />

                <input class="frame-input" type="checkbox" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
