<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component9.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div124">
      <section class="child"></section>
      <form class="client-form-fields">
        <div class="base73"></div>
        <b class="b110">Тип клиента</b>
        <img
          class="icon109"
          loading="lazy"
          alt=""
          src="./public/icon-11@2x.png"
        />

        <img
          class="icon110"
          loading="lazy"
          alt=""
          src="./public/icon1@2x.png"
        />

        <img
          class="icon111"
          loading="lazy"
          alt=""
          src="./public/icon-21@2x.png"
        />

        <b class="add-place16">Дата рождения</b>
        <div class="line80"></div>
        <div class="line81"></div>
        <div class="line82"></div>
        <div class="line83"></div>
        <div class="line84"></div>
        <b class="add-date4">Пол</b>
        <img
          class="icon112"
          loading="lazy"
          alt=""
          src="./public/icon1@2x.png"
        />

        <b class="b111">Формат встречи</b>
        <b class="add-time14">Номер телефона</b>
        <img
          class="icon113"
          loading="lazy"
          alt=""
          src="./public/icon-32@2x.png"
        />

        <div class="component14">
          <div class="item62">
            <img class="feather-icon-chevron-up13" alt="" />
          </div>
          <div class="item63">
            <img
              class="feather-icon-plus10"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="div125">Мужской</div>
          </div>
          <div class="item64">
            <img
              class="feather-icon-check21"
              alt=""
              src="./public/feathericon--check1.svg"
            />

            <div class="div126">Женский</div>
          </div>
        </div>
        <a class="add-members6">Введите ФИО</a>
        <img
          class="icon114"
          loading="lazy"
          alt=""
          src="./public/icon-3@2x.png"
        />

        <img
          class="client-form-fields-child"
          loading="lazy"
          alt=""
          src="./public/group-28@2x.png"
          id="groupIcon"
        />

        <div class="component15">
          <div class="item65">
            <img class="feather-icon-chevron-up14" alt="" />
          </div>
          <div class="item66">
            <img
              class="feather-icon-plus11"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="client-format-values">
              <div class="div127">Онлайн</div>
            </div>
          </div>
          <div class="item67">
            <img
              class="feather-icon-check22"
              alt=""
              src="./public/feathericon--check1.svg"
            />

            <div class="div128">Офлайн</div>
          </div>
        </div>
        <div class="component16">
          <div class="item68">
            <img class="feather-icon-chevron-up15" alt="" />
          </div>
          <div class="item69">
            <img
              class="feather-icon-plus12"
              alt=""
              src="./public/feathericon--plus.svg"
            />

            <div class="client-age-values">
              <div class="div129">Взрослый</div>
            </div>
          </div>
          <div class="item70">
            <img
              class="feather-icon-check23"
              alt=""
              src="./public/feathericon--check1.svg"
            />

            <div class="div130">Ребенок</div>
          </div>
          <div class="item71">
            <img
              class="feather-icon-eye2"
              alt=""
              src="./public/feathericon--eye.svg"
            />

            <div class="div131">Пара/семья</div>
          </div>
        </div>
        <button class="rectangle-parent85" id="groupButton">
          <div class="frame-child106"></div>
          <div class="div132">Создать клиента</div>
        </button>
        <b class="add-time15">Почта</b>
      </form>
    </div>

    <script>
      var groupIcon = document.getElementById("groupIcon");
      if (groupIcon) {
        groupIcon.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      </script>
  </body>
</html>
