<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div39">
      <div class="line50"></div>
      <div class="line51"></div>
      <div class="line52"></div>
      <header class="top-navigation1">
        <div class="top-navigation-left">
          <div class="logo-container">
            <nav class="logo-spacing">
              <div class="logo-and-search-bar">
                <img
                  class="icon32"
                  loading="lazy"
                  alt=""
                  src="./public/icon@2x.png"
                />

                <div class="search-field">
                  <a class="constructor2">Понятная практика</a>
                </div>
                <div class="search-icon-container">
                  <img
                    class="icon33"
                    loading="lazy"
                    alt=""
                    src="./public/icon-1@2x.png"
                  />

                  <div class="search-input1">
                    <b class="search2">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="navigation-links">
                <div class="about-us-news-link">
                  <b class="about-us2" id="aboutUsText">Добавить клиента</b>
                  <b class="news2" id="newsText">Назначить встречу</b>
                </div>
              </div>
              <div class="user-policy-link">
                <b class="user-policy2" id="userPolicyText"
                  >Добавить график нерабочих дней
                </b>
              </div>
            </nav>
          </div>
          <div class="location">
            <img
              class="icon34"
              loading="lazy"
              alt=""
              src="./public/icon-2@2x.png"
            />

            <div class="location-name">
              <b class="new-york2">Ростов-на-Дону</b>
            </div>
          </div>
        </div>
      </header>
      <div class="image-12"></div>
      <main class="content">
        <div class="sidebar-and-main">
          <div class="sidebar">
            <div class="user-panel-wrapper">
              <div class="user-panel">
                <img
                  class="settings-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/settings@2x.png"
                />

                <div class="user-profile1">
                  <div class="wrapper-user2">
                    <img
                      class="user-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/user@2x.png"
                      id="userImage"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="user-name1">
              <div class="user-name-details">
                <div class="greeting">
                  <b class="hello-rosalie2">Привет, Антон!</b>
                </div>
                <b class="rosaliericegmailc2">rosalie.rice@gmail.com</b>
              </div>
            </div>
            <div class="navigation">
              <div class="navigation-items">
                <div class="dashboard-item">
                  <div class="dashboard6" id="dashboardContainer">
                    <div class="base33"></div>
                    <div class="dashboard-icon-container">
                      <img
                        class="icon35"
                        loading="lazy"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard7">Список клинетов</b>
                    <div class="calendars-item1">
                      <div class="base34"></div>
                      <div class="calendar-icon-container">
                        <img
                          class="icon36"
                          loading="lazy"
                          alt=""
                          src="./public/icon-4@2x.png"
                        />
                      </div>
                      <b class="calendars2">Календарь</b>
                    </div>
                  </div>
                  <div class="invoice-item">
                    <div class="invoice4" id="invoiceContainer">
                      <div class="base35"></div>
                      <div class="icon-wrapper4">
                        <img
                          class="icon37"
                          loading="lazy"
                          alt=""
                          src="./public/icon-5.svg"
                        />
                      </div>
                      <b class="invoice5">Уведомления</b>
                    </div>
                    <div class="invoice-elements">
                      <div class="base36"></div>
                      <div class="icon-wrapper5">
                        <img
                          class="icon38"
                          loading="lazy"
                          alt=""
                          src="./public/icon-6.svg"
                        />
                      </div>
                      <b class="files2">Аналитика</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tests-item1">
                <div class="div40" id="container">
                  <div class="base37"></div>
                  <b class="dashboard8">Опросники и тесты</b>
                </div>
              </div>
              <div class="navigation-inner">
                <div class="applications-link-parent">
                  <div class="applications-link">
                    <b class="b14">Заявки</b>
                  </div>
                  <div class="frame-parent15" id="groupContainer">
                    <div class="rectangle-parent7">
                      <div class="frame-child10"></div>
                      <b class="b15">20.02.2024</b>
                    </div>
                    <div class="rectangle-parent8">
                      <div class="frame-child11"></div>
                      <b class="b16">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                  <div class="frame-parent16" id="groupContainer1">
                    <div class="rectangle-parent9">
                      <div class="frame-child12"></div>
                      <b class="b17">25.02.2024</b>
                    </div>
                    <div class="rectangle-parent10">
                      <div class="frame-child13"></div>
                      <b class="b18">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-item1">
              <div class="feedback-link">
                <img
                  class="icon39"
                  loading="lazy"
                  alt=""
                  src="./public/icon-7@2x.png"
                />

                <div class="feedback-label">
                  <div class="send-feedback-frame">
                    <b class="send-feedback2">Обратная связь</b>
                  </div>
                  <img
                    class="icon40"
                    loading="lazy"
                    alt=""
                    src="./public/icon-8.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="calendar-view">
          <div class="current-date">
            <div class="line53"></div>
            <div class="now2">
              <div class="line54">
                <div class="line55"></div>
              </div>
              <div class="dot4">
                <div class="base38"></div>
              </div>
              <div class="dot5">
                <div class="base39"></div>
              </div>
            </div>
          </div>
          <div class="calendar-navigation1">
            <div class="base40"></div>
            <div class="today-button">
              <div class="today-button-content">
                <div class="today-button-icon-container">
                  <div class="button-container">
                    <button class="button24">
                      <div class="button25">Сегодня</div>
                    </button>
                  </div>
                  <div class="calendar-image-container">
                    <img
                      class="image-2-icon2"
                      loading="lazy"
                      alt=""
                      src="./public/image-2@2x.png"
                    />
                  </div>
                  <div class="wrapper-button4">
                    <img
                      class="button-icon4"
                      loading="lazy"
                      alt=""
                      src="./public/button.svg"
                    />
                  </div>
                </div>
                <div class="month-year-label">
                  <b class="may-212">Май 12, 2024</b>
                </div>
                <div class="previous-month-button">
                  <div class="wrapper-button5">
                    <img
                      class="button-icon5"
                      loading="lazy"
                      alt=""
                      src="./public/button-1.svg"
                    />
                  </div>
                </div>
                <div class="week-days7">
                  <div class="group-button3">
                    <div class="button-13">
                      <div class="button26">День</div>
                    </div>
                    <button class="button-23">
                      <div class="button27">Неделя</div>
                    </button>
                    <div class="button-34">
                      <div class="button28">Месяц</div>
                    </div>
                    <div class="button-44">
                      <div class="button29">Day</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="week-navigation">
              <div class="calendar-weekdays">
                <div class="weekday-container">
                  <img
                    class="icon41"
                    loading="lazy"
                    alt=""
                    src="./public/icon-31@2x.png"
                  />

                  <div class="weekday-label">
                    <div class="monday-label-container">
                      <div class="line56"></div>
                      <b class="monday-122">Понедельник 12</b>
                    </div>
                  </div>
                </div>
                <div class="tuesday-container">
                  <div class="tuesday-content">
                    <div class="tuesday-events">
                      <div class="tuesday-event-divider">
                        <div class="tuesday-divider-parts">
                          <div class="line57"></div>
                          <b class="tuesday-event-placeholder">09</b>
                        </div>
                        <div class="tuesday-divider-parts1">
                          <div class="line58"></div>
                          <b class="b19">10</b>
                        </div>
                      </div>
                    </div>
                    <div class="tuesday-event-details">
                      <div class="base41"></div>
                      <div class="event-badges">
                        <div class="badge56">
                          <div class="badge57">09:00</div>
                        </div>
                        <div class="badge-wrapper">
                          <div class="badge58">
                            <div class="badge59">11:00</div>
                          </div>
                        </div>
                        <div class="div41">Онлайн</div>
                      </div>
                      <div class="event-title1">
                        <b class="choosing-a-quality6"
                          >Чумакова Маргарита Матвеевна</b
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wednesday-container">
                <div class="wednesday-content">
                  <div class="line59"></div>
                  <b class="wednesday-placeholder">11</b>
                </div>
              </div>
            </div>
            <div class="calendar-navigation-inner">
              <div class="line-parent6">
                <div class="line60"></div>
                <b class="b20">12</b>
              </div>
            </div>
            <div class="thursday-container">
              <div class="thursday-content">
                <div class="thursday-separator">
                  <div class="line61"></div>
                  <b class="thursday-placeholder">13</b>
                </div>
                <div class="friday-container">
                  <div class="friday-content">
                    <div class="friday-separator">
                      <div class="line62"></div>
                      <b class="friday-placeholder">14</b>
                    </div>
                    <b class="friday-label">15</b>
                  </div>
                  <div class="saturday-container">
                    <div class="line63"></div>
                    <div class="saturday-content">
                      <div class="saturday-events2">
                        <div class="base42"></div>
                        <div class="saturday-event-badges">
                          <div class="saturday-event-status">
                            <div class="badge60">
                              <div class="badge61">13:00</div>
                            </div>
                            <div class="badge62">
                              <div class="badge63">15:00</div>
                            </div>
                          </div>
                          <div class="wrapper7">
                            <div class="div42">Офлайн</div>
                          </div>
                        </div>
                        <div class="saturday-event-title">
                          <b class="choosing-a-quality7"
                            >Чумакова Маргарита Матвеевна</b
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line64"></div>
            <div class="sunday-container">
              <div class="sunday-content">
                <div class="sunday-separator">
                  <div class="line65"></div>
                  <b class="sunday-placeholder">16</b>
                </div>
                <div class="event-list1">
                  <div class="sunday-events">
                    <div class="event-divider-wrapper">
                      <div class="event-divider">
                        <div class="divider-parts">
                          <div class="line66"></div>
                          <b class="event-placeholder1">17</b>
                        </div>
                        <div class="divider-parts1">
                          <div class="line67"></div>
                          <b class="b21">18</b>
                        </div>
                      </div>
                    </div>
                    <div class="base-parent4">
                      <div class="base43"></div>
                      <div class="badge64">
                        <div class="badge65">17:00</div>
                      </div>
                      <div class="badge66">
                        <div class="badge67">18:00</div>
                      </div>
                      <b class="choosing-a-quality8"
                        >Демидова Алиса Матвеевна</b
                      >
                    </div>
                    <div class="line68"></div>
                  </div>
                  <div class="wrapper8">
                    <div class="div43">Онлайн</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="calendar-navigation-child">
              <div class="line-parent7">
                <div class="line69"></div>
                <b class="b22">19</b>
              </div>
            </div>
            <div class="event-placeholder-label">
              <b class="sunday-label">20</b>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить клиента"" to the project
        });
      }
      
      var newsText = document.getElementById("newsText");
      if (newsText) {
        newsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Назначить встречу" Тип встерча = Встреча с клиентом" to the project
        });
      }
      
      var userPolicyText = document.getElementById("userPolicyText");
      if (userPolicyText) {
        userPolicyText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить график  нерабочих дней "" to the project
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./frame5.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame4.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame7.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame7.html";
        });
      }
      </script>
  </body>
</html>
