.settings7 {
  width: 16px;
  height: 4px;
  position: relative;
  display: none;
}
.icon166 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.constructor13 {
  position: relative;
  line-height: 30px;
  font-weight: 700;
  white-space: nowrap;
}
.menu2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
}
.icon167 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.search15 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
  white-space: nowrap;
}
.logo-image,
.search-field1,
.search14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-field1 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.logo-image,
.search14 {
  flex-direction: row;
}
.search14 {
  gap: var(--gap-mini);
  font-size: var(--bold-13-size);
  color: var(--grey-blue-80);
}
.logo-image {
  gap: var(--gap-26xl);
  max-width: 100%;
}
.about-us21,
.news14 {
  text-decoration: none;
  position: relative;
  line-height: 25px;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
}
.user-policy14 {
  width: 311px;
  position: relative;
  font-size: var(--bold-13-size);
  line-height: 25px;
  display: inline-block;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.legal {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.about-us20,
.legal,
.page-links {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.about-us20 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-36xl);
}
.page-links {
  width: 683px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--bold-16-size);
  color: var(--grey-blue-60);
}
.logo-placeholder {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.logo-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.icon168 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.new-york13 {
  position: relative;
  line-height: 25px;
  font-weight: 700;
}
.city1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs) 0 0;
}
.icon169 {
  height: 30px;
  width: 30px;
  position: relative;
  min-height: 30px;
}
.branding,
.location2,
.top-navigation2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.location2 {
  gap: var(--gap-mini);
  font-size: var(--bold-13-size);
  color: var(--grey-blue-60);
}
.branding,
.top-navigation2 {
  max-width: 100%;
}
.branding {
  flex: 1;
  gap: var(--gap-61xl);
}
.top-navigation2 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--bold-18-size);
  color: var(--grey-blue-50);
  font-family: var(--bold-10);
}
.feather-icon-chevron-up22 {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.item146 {
  width: 314px;
  height: 40px;
  border: 1px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.user-icon13 {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  object-fit: contain;
  position: absolute;
  left: -7px;
  top: 10px;
  width: 100%;
  transform: scale(1.462);
}
.wrapper-user13 {
  height: 130px;
  flex: 1;
  position: relative;
  max-width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-avatar {
  width: 215px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
}
.hello-rosalie13 {
  position: relative;
  line-height: 30px;
  font-weight: 700;
}
.greetings {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.ponyatpractikagmailcom9 {
  margin: 0;
}
.rosaliericegmailc13 {
  height: 50px;
  position: relative;
  font-size: var(--bold-13-size);
  line-height: 25px;
  font-weight: 700;
  color: var(--grey-blue-80);
  display: inline-block;
}
.name-details,
.name-email {
  display: flex;
  align-items: flex-start;
}
.name-email {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.name-details {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-15xl) var(--padding-15xl);
}
.base100 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border-radius: var(--br-mini) 0 0 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon170 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.dashboard-badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl);
}
.dashboard38,
.icon171 {
  position: relative;
  z-index: 1;
}
.dashboard38 {
  line-height: 20px;
  font-weight: 700;
}
.icon171 {
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.calendar-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 0 var(--padding-smi);
}
.calendars13 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.base101,
.dashboard37,
.email6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.base101 {
  flex: 1;
  border: 2px solid var(--grey-blue-95);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-5xl) var(--padding-xl)
    var(--padding-11xl);
  gap: var(--gap-xl);
}
.dashboard37,
.email6 {
  cursor: pointer;
}
.email6 {
  width: 140px;
  height: 124px;
  margin: 0 !important;
  position: absolute;
  top: -13px;
  right: -129px;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-5xs) 0 var(--padding-3xs);
  box-sizing: border-box;
  z-index: 2;
  text-align: left;
}
.dashboard37 {
  flex-direction: column;
  padding: var(--padding-11xl) var(--padding-2xs) var(--padding-xl);
  position: relative;
  gap: var(--gap-xl);
}
.base102 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon172 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}
.invoice-badge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
}
.invoice27 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.invoice26 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-2xl) var(--padding-xl);
  position: relative;
  gap: var(--gap-xl);
  cursor: pointer;
}
.base103 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: -2px;
  bottom: -2px;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.icon173 {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
}
.icon-wrapper42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-mini);
}
.files14 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
  z-index: 1;
}
.invoice-options {
  flex: 0.7821;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-10xl) var(--padding-xl)
    var(--padding-11xl);
  position: relative;
  gap: var(--gap-xl);
}
.invoice-menu2 {
  align-self: stretch;
  flex-direction: row;
}
.invoice-menu2,
.menu-list,
.menu-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-options {
  flex: 1;
  flex-direction: column;
}
.menu-list {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.base104 {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--grey-blue-95);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.dashboard39 {
  position: absolute;
  top: 18px;
  left: 22px;
  line-height: 20px;
  display: inline-block;
  width: 196px;
  z-index: 1;
}
.files-menu {
  align-self: stretch;
  height: 50px;
  position: relative;
}
.navigation-menu2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
}
.b147 {
  height: 38px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.request-action {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mini) 0 var(--padding-xl);
  font-size: var(--bold-16-size);
  color: var(--grey-blue-60);
}
.request-status-child {
  height: 21.1px;
  width: 38.4px;
  position: relative;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: none;
}
.status-icon {
  position: relative;
  line-height: 16.1px;
  font-weight: 700;
  transform: rotate(-0.1deg);
  z-index: 2;
}
.request-status {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 var(--padding-10xs-4) var(--padding-11xs);
  z-index: 1;
}
.request-name-child {
  height: 23.7px;
  width: 179px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: none;
}
.b148 {
  flex: 1;
  position: relative;
  line-height: 8.7px;
  z-index: 1;
}
.request-name,
.request-status-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.request-name {
  flex: 1;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  align-items: flex-start;
  padding: var(--padding-4xs-7) var(--padding-xs) var(--padding-6xs-3)
    var(--padding-5xl);
  white-space: nowrap;
  margin-left: -24.4px;
  font-size: var(--black-8-size);
  color: var(--grey-blue-60);
}
.request-status-parent {
  align-self: stretch;
  align-items: flex-end;
  cursor: pointer;
}
.frame-child178 {
  height: 21.1px;
  width: 38.4px;
  position: relative;
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: none;
}
.b149 {
  position: relative;
  line-height: 16.1px;
  font-weight: 700;
  transform: rotate(-0.1deg);
  z-index: 2;
}
.rectangle-parent152 {
  border-radius: var(--br-5xs) 0 0 var(--br-5xs);
  background-color: var(--color-slategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 var(--padding-10xs-4) var(--padding-11xs);
  z-index: 1;
}
.frame-child179 {
  height: 23.7px;
  width: 179px;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: none;
}
.b150 {
  flex: 1;
  position: relative;
  line-height: 8.7px;
  z-index: 1;
}
.rectangle-parent153 {
  flex: 1;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--grey-blue-95);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs-7) var(--padding-xs) var(--padding-6xs-3)
    var(--padding-5xl);
  white-space: nowrap;
  margin-left: -24.4px;
  font-size: var(--black-8-size);
  color: var(--grey-blue-60);
}
.frame-parent151,
.request-options {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent151 {
  align-self: stretch;
  flex-direction: row;
  cursor: pointer;
}
.request-options {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs-8);
}
.requests-menu,
.user-name3 {
  align-self: stretch;
  display: flex;
}
.requests-menu {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 0 var(--padding-3xl);
  font-size: var(--font-size-7xs);
  color: var(--white);
}
.user-name3 {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 463px;
  gap: var(--gap-base);
}
.icon174 {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.send-feedback13 {
  position: relative;
  line-height: 20px;
  font-weight: 700;
}
.send-feedback-wrapper7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.icon175 {
  height: 30px;
  width: 30px;
  position: relative;
}
.feedback-action {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.feedback-action,
.feedback-menu,
.feedback-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.feedback-options {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.feedback-menu {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-mid);
  text-align: left;
  font-size: var(--bold-12-size);
  color: var(--grey-blue-80);
}
.user-information,
.user-profile3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-information {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-21xl);
}
.user-profile3 {
  width: 241px;
  align-items: flex-start;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
}
.frame-child180 {
  height: 61px;
  width: 198.2px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-lightsteelblue-100);
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
}
.div268 {
  flex: 1;
  position: relative;
  font-size: var(--bold-18-size);
  line-height: 19.3px;
  font-weight: 500;
  font-family: var(--bold-10);
  color: var(--grey-blue-60);
  text-align: center;
  z-index: 1;
}
.rectangle-parent154 {
  cursor: pointer;
  border: 3px solid var(--grey-blue-95);
  padding: var(--padding-mid) var(--padding-13xl);
  background-color: var(--color-lightsteelblue-100);
  flex: 0.6812;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 129px;
  white-space: nowrap;
}
.frame-child181,
.rectangle-parent154:hover {
  background-color: var(--color-lightslategray-300);
  border: 3px solid var(--color-lightgray);
  box-sizing: border-box;
}
.frame-child181 {
  height: 61px;
  width: 174px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  display: none;
}
.div269 {
  position: relative;
  font-size: var(--bold-18-size);
  line-height: 19px;
  font-weight: 500;
  font-family: var(--bold-10);
  color: var(--grey-blue-60);
  text-align: center;
  z-index: 1;
}
.rectangle-parent155 {
  cursor: pointer;
  border: 3px solid var(--grey-blue-95);
  padding: var(--padding-mid) var(--padding-lg);
  background-color: var(--white);
  width: 174px;
  border-radius: var(--br-xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.frame-child182,
.rectangle-parent155:hover {
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-lightgray);
  box-sizing: border-box;
}
.frame-child182 {
  height: 61px;
  width: 189px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  display: none;
}
.div270 {
  height: 45px;
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.profile-tab-list,
.profile-tabs,
.rectangle-parent156 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent156 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-7xs);
  min-width: 123px;
  white-space: nowrap;
  cursor: pointer;
}
.profile-tab-list,
.profile-tabs {
  max-width: 100%;
}
.profile-tab-list {
  width: 600px;
  gap: var(--gap-lgi-4);
}
.profile-tabs {
  align-self: stretch;
}
.frame-child183 {
  height: 31px;
  width: 175.5px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
}
.div271 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 1;
}
.frame-child184,
.rectangle-parent157 {
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.rectangle-parent157 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-9) var(--padding-5xs) 0 var(--padding-2xs);
  min-width: 114px;
}
.frame-child184 {
  height: 31px;
  width: 175.5px;
  position: relative;
  display: none;
}
.div272 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 1;
}
.frame-child185,
.rectangle-parent158 {
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
}
.rectangle-parent158 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-9) var(--padding-5xs) 0 var(--padding-2xs);
  min-width: 114px;
}
.frame-child185 {
  height: 31px;
  width: 175.5px;
  position: relative;
  display: none;
}
.div273 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  z-index: 1;
}
.rectangle-parent159 {
  border-radius: var(--br-xl);
  background-color: var(--white);
  border: 3px solid var(--grey-blue-95);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-9) var(--padding-5xs) 0 var(--padding-2xs);
  white-space: nowrap;
}
.profile-actions-list,
.profile-options {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.profile-actions-list {
  width: 548.5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-2xs);
  color: var(--color-slategray-500);
}
.profile-options {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.profile-actions {
  width: 845px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.div274,
.div275 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div274 {
  flex: 1;
  min-width: 73px;
}
.div275 {
  width: 488px;
  flex-shrink: 0;
}
.feather-icon-chevron-down30 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button84,
.item147 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button84 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item147 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 59px;
  max-width: 100%;
  flex-shrink: 0;
}
.div276,
.string22 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item148 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div277,
.int8 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item149 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div278,
.kirraaagmailcom-string2 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item150 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div279,
.div280 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div279 {
  flex: 1;
  min-width: 22px;
}
.div280 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down31 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button85,
.item151 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button85 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item151 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div281,
.div282 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div281 {
  flex: 1;
  min-width: 132px;
}
.div282 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down32 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button86,
.item152 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button86 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item152 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div283,
.string23 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.string23 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item153 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div284,
.int9 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.int9 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item154 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div285,
.kirraaagmailcom-string3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item155 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div286,
.div287 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div286 {
  flex: 1;
  min-width: 133px;
}
.div287 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down33 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button87,
.item156 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button87 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item156 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div288,
.string24 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.string24 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item157 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div289,
.int10 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.int10 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item158 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.div290,
.kirraaagmailcom-string4 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item159 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 2;
}
.div291,
.div292 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div291 {
  flex: 1;
  min-width: 132px;
}
.div292 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down34 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button88,
.item160 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button88 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item160 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 3;
}
.div293,
.string25 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.string25 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item161 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 4;
}
.div294,
.int11 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.int11 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item162 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 5;
}
.div295,
.kirraaagmailcom-string5 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item163 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 6;
}
.div296,
.div297 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div296 {
  flex: 1;
  min-width: 95px;
}
.div297 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down35 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button89,
.item164 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button89 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item164 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 7;
}
.div298,
.div299 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div298 {
  flex: 1;
  min-width: 173px;
}
.div299 {
  width: 491px;
  flex-shrink: 0;
}
.feather-icon-chevron-down36 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button90,
.item165 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button90 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item165 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 59px;
  max-width: 100%;
  flex-shrink: 0;
  z-index: 8;
}
.div300,
.int12 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item166 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 9;
}
.div301,
.int13 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item167 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 10;
}
.div302,
.div303 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div302 {
  flex: 1;
  min-width: 217px;
}
.div303 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down37 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button91,
.item168 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button91 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item168 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 11;
}
.div304,
.zoom2 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div304 {
  flex: 1;
  min-width: 344px;
}
.zoom2 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down38 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button92,
.item169 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button92 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item169 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 12;
}
.div305,
.string26 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item170 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 13;
}
.div306 {
  min-width: 91px;
}
.div306,
.div307 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.wrapper52 {
  width: 489px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.feather-icon-chevron-down39 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button93,
.item171 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button93 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item171 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 14;
}
.div308,
.string27 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item172 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 15;
}
.div309,
.string28 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.string28 {
  flex: 1;
  min-width: 348px;
}
.item173 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  flex-shrink: 0;
  max-width: 100%;
  z-index: 16;
}
.div310 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.item174 {
  align-self: stretch;
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 17;
}
.div311,
.int14 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item175 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div312,
.string29 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item176 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 43px;
  max-width: 100%;
  flex-shrink: 0;
}
.div313,
.string30 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item177 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div314,
.string31 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.feather-icon-chevron-down40 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button94,
.item178 {
  flex-direction: row;
  align-items: center;
}
.button94 {
  border-radius: var(--br-9xs);
  display: none;
  justify-content: center;
  padding: var(--padding-5xs);
}
.item178 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div315,
.div316 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div315 {
  flex: 1;
  min-width: 129px;
}
.div316 {
  width: 491px;
  flex-shrink: 0;
}
.feather-icon-chevron-down41 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button95,
.item179 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button95 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item179 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs) var(--padding-9xs)
    var(--padding-5xs);
  gap: var(--gap-9xs);
  min-height: 59px;
  max-width: 100%;
  flex-shrink: 0;
}
.div317,
.string32 {
  height: 48px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.string32 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--bold-10);
  font-size: var(--bold-16-size);
  background-color: transparent;
  height: 24px;
  color: var(--grey-blue-60);
  text-align: left;
  padding: 0;
}
.item180 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div318,
.string33 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item181 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div319,
.telegram4 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div319 {
  flex: 1;
  min-width: 347px;
}
.telegram4 {
  width: 492px;
  flex-shrink: 0;
}
.feather-icon-chevron-down42 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button96,
.item182 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button96 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
}
.item182 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div320,
.div321 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.div320 {
  flex: 1;
  min-width: 259px;
}
.div321 {
  width: 533px;
  flex-shrink: 0;
  margin-left: -45px;
}
.feather-icon-chevron-down43 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button97 {
  border-radius: var(--br-9xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  z-index: 3;
}
.feather-icon-chevron-down44 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button98,
.item183 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button98 {
  border-radius: var(--br-9xs);
  justify-content: center;
  padding: var(--padding-5xs);
  margin-left: -45px;
}
.item183 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  row-gap: 20px;
  max-width: 100%;
  flex-shrink: 0;
}
.div322,
.string34 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 349px;
  max-width: 100%;
}
.string34 {
  min-width: 346px;
}
.feather-icon-chevron-down45 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button99,
.item184 {
  flex-direction: row;
  align-items: center;
}
.button99 {
  border-radius: var(--br-9xs);
  display: none;
  justify-content: center;
  padding: var(--padding-5xs);
}
.item184 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div323,
.string35 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 349px;
  max-width: 100%;
}
.string35 {
  min-width: 346px;
}
.feather-icon-chevron-down46 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button100,
.item185 {
  flex-direction: row;
  align-items: center;
}
.button100 {
  border-radius: var(--br-9xs);
  display: none;
  justify-content: center;
  padding: var(--padding-5xs);
}
.item185 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
}
.div324,
.string36 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item186 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.div325,
.div326 {
  height: 24px;
  position: relative;
  line-height: 150%;
  max-width: 100%;
}
.div325 {
  width: 537px;
  display: none;
}
.div326 {
  flex: 1;
  display: inline-block;
}
.wrapper53 {
  width: 489px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.feather-icon-chevron-down47 {
  height: 24px;
  width: 24px;
  position: relative;
}
.button101,
.item187 {
  flex-direction: row;
  align-items: center;
}
.button101 {
  border-radius: var(--br-9xs);
  display: flex;
  justify-content: center;
  padding: var(--padding-5xs);
}
.item187 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  gap: var(--gap-9xs);
  max-width: 100%;
}
.div327,
.div328 {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item188 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
}
.div329,
.div330 {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item189 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
}
.div331,
.div332 {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 348px;
  max-width: 100%;
}
.item190 {
  align-self: stretch;
  border: 3px solid var(--grey-blue-95);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-8xs);
  gap: var(--gap-9xs);
  max-width: 100%;
}
.contact-information,
.div333 {
  position: absolute;
  margin: 0 !important;
  z-index: 18;
}
.contact-information {
  width: 100%;
  right: -23px;
  bottom: -432px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div333 {
  width: 215px;
  height: 34px;
  right: -74px;
  bottom: 160px;
  line-height: 150%;
  font-family: var(--font-rubik);
  display: inline-block;
}
.component20 {
  align-self: stretch;
  height: 1280px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: 100%;
  text-align: left;
  font-size: var(--bold-16-size);
}
.client-profile,
.component20,
.content2,
.div267 {
  display: flex;
  justify-content: flex-start;
}
.client-profile {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-14xl);
  max-width: calc(100% - 325px);
  font-size: var(--bold-18-size);
}
.content2,
.div267 {
  align-items: flex-start;
}
.content2 {
  width: 1415px;
  flex-direction: row;
  gap: 84px;
  max-width: 100%;
  text-align: center;
  font-size: var(--bold-16-size);
  color: var(--grey-blue-60);
  font-family: var(--bold-10);
}
.div267 {
  width: 100%;
  position: relative;
  box-shadow: 0 134px 124px rgba(34, 40, 49, 0.04);
  border-radius: var(--br-mini);
  background-color: var(--grey-blue-98);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-24xl) var(--padding-7xl) 601px var(--padding-46xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1425px) {
  .user-policy14 {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .user-name3 {
    padding-bottom: 301px;
    box-sizing: border-box;
  }
  .user-profile3 {
    display: none;
  }
  .component20 {
    height: auto;
  }
  .client-profile {
    max-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .legal {
    gap: var(--gap-base);
  }
  .about-us20 {
    gap: var(--gap-8xl);
  }
  .branding {
    gap: var(--gap-21xl);
  }
  .user-name3 {
    padding-bottom: 196px;
    box-sizing: border-box;
  }
  .rectangle-parent154,
  .rectangle-parent156 {
    flex: 1;
  }
  .profile-tab-list {
    flex-wrap: wrap;
  }
  .div276,
  .div277,
  .div278,
  .div283,
  .div284,
  .div285,
  .div288,
  .div289,
  .div290,
  .div293,
  .div294,
  .div295,
  .div300,
  .div301,
  .div304,
  .div305,
  .div308,
  .div311,
  .div312,
  .div313,
  .div314,
  .div317,
  .div318,
  .div319,
  .div322,
  .div323,
  .div324,
  .int10,
  .int11,
  .int12,
  .int13,
  .int14,
  .int8,
  .int9,
  .kirraaagmailcom-string2,
  .kirraaagmailcom-string3,
  .kirraaagmailcom-string4,
  .kirraaagmailcom-string5,
  .string22,
  .string23,
  .string24,
  .string25,
  .string26,
  .string27,
  .string28,
  .string29,
  .string30,
  .string31,
  .string32,
  .string33,
  .string34,
  .string35,
  .string36 {
    min-width: 100%;
  }
  .item187 {
    flex-wrap: wrap;
  }
  .div327,
  .div328,
  .div329,
  .div330,
  .div331,
  .div332 {
    min-width: 100%;
  }
  .client-profile {
    gap: var(--gap-base);
  }
  .content2 {
    gap: var(--gap-23xl);
  }
  .div267 {
    padding-left: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .logo-image {
    gap: var(--gap-3xl);
  }
  .branding {
    gap: var(--gap-xl);
  }
  .content2 {
    gap: var(--gap-2xl);
  }
  .div267 {
    gap: var(--gap-6xl);
  }
}
