<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component14.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div201">
      <div class="settings5"></div>
      <main class="frame-parent119">
        <div class="frame-wrapper71">
          <div class="frame-parent120">
            <div class="icon-parent27">
              <img
                class="icon145"
                loading="lazy"
                alt=""
                src="./public/icon@2x.png"
              />

              <a class="constructor11">Понятная практика</a>
            </div>
            <div class="frame-wrapper72">
              <div class="wrapper-user-parent2">
                <div class="wrapper-user11">
                  <img
                    class="user-icon11"
                    loading="lazy"
                    alt=""
                    src="./public/user@2x.png"
                    id="userImage"
                  />
                </div>
                <div class="frame-parent121">
                  <div class="hello-rosalie-wrapper4">
                    <b class="hello-rosalie11">Привет, Антон!</b>
                  </div>
                  <b class="rosaliericegmailc11">
                    <p class="ponyatpractikagmailcom7">
                      ponyatpractika@gmail.com
                    </p>
                  </b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper73">
              <div class="frame-parent122">
                <div class="frame-parent123">
                  <div class="base-parent14">
                    <div class="base90"></div>
                    <div class="icon-wrapper33">
                      <img
                        class="icon146"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard32">Список клиентов</b>
                  </div>
                  <div class="base-frame">
                    <div class="base91" id="baseContainer">
                      <div class="icon-wrapper34">
                        <img
                          class="icon147"
                          alt=""
                          src="./public/icon-41@2x.png"
                        />
                      </div>
                      <b class="calendars11">Календарь</b>
                    </div>
                  </div>
                </div>
                <div class="invoice-parent1">
                  <div class="invoice22" id="invoiceContainer">
                    <div class="base92"></div>
                    <div class="icon-wrapper35">
                      <img class="icon148" alt="" src="./public/icon-5.svg" />
                    </div>
                    <b class="invoice23">Уведомления</b>
                    <div class="base-parent15">
                      <div class="base93"></div>
                      <b class="dashboard33">Опросники и тесты</b>
                    </div>
                  </div>
                  <div class="invoice-icons">
                    <div class="base94"></div>
                    <div class="icon-wrapper36">
                      <img class="icon149" alt="" src="./public/icon-6.svg" />
                    </div>
                    <b class="files12">Аналитика</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper74">
              <div class="frame-parent124">
                <div class="wrapper47">
                  <b class="b133">Заявки</b>
                </div>
                <div class="frame-parent125" id="groupContainer">
                  <div class="rectangle-parent121">
                    <div class="frame-child147"></div>
                    <b class="b134">20.02.2024</b>
                  </div>
                  <div class="rectangle-parent122">
                    <div class="frame-child148"></div>
                    <b class="b135">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
                <div class="frame-parent126" id="groupContainer1">
                  <div class="rectangle-parent123">
                    <div class="frame-child149"></div>
                    <b class="b136">25.02.2024</b>
                  </div>
                  <div class="rectangle-parent124">
                    <div class="frame-child150"></div>
                    <b class="b137">Овсянникова Юля Матвеевна</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="icon-wrapper37">
          <img class="icon150" alt="" src="./public/icon-1@2x.png" />
        </div>
        <div class="frame-wrapper75">
          <div class="frame-parent127">
            <div class="search-parent">
              <b class="search12">Найти клиента...</b>
              <div class="about-us-parent5">
                <a class="about-us18">Добавить клиента</a>
                <a class="news12">Назначить встречу</a>
              </div>
            </div>
            <div class="frame-parent128">
              <div class="frame-wrapper76">
                <div class="image-4-group">
                  <img
                    class="image-4-icon3"
                    loading="lazy"
                    alt=""
                    src="./public/image-4@2x.png"
                  />

                  <div class="rectangle-parent125">
                    <div class="frame-child151"></div>
                    <div class="div202">А/Я</div>
                  </div>
                </div>
              </div>
              <div class="component-192">
                <div class="frame-parent129">
                  <div class="rectangle-parent126">
                    <div class="frame-child152"></div>
                    <b class="therapy-test-separator">20.02.2024</b>
                  </div>
                  <div class="rectangle-parent127">
                    <div class="frame-child153"></div>
                    <h2 class="h28">Тест по завершению терапии</h2>
                    <div class="frame-parent130">
                      <div class="frame-wrapper77">
                        <button class="rectangle-parent128">
                          <div class="frame-child154"></div>
                          <b class="b138">Тест</b>
                        </button>
                      </div>
                      <div class="frame-parent131">
                        <div class="adult-reasoning-survey-link-bu-parent">
                          <div class="adult-reasoning-survey-link-bu"></div>
                          <div class="div203">Скопировать ссылку</div>
                        </div>
                        <div class="frame-wrapper78">
                          <div class="rectangle-parent129" id="groupContainer">
                            <div class="frame-child155"></div>
                            <div class="div204">Редактировать</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent132">
                  <div class="rectangle-parent130">
                    <div class="frame-child156"></div>
                    <b class="b139">20.02.2024</b>
                  </div>
                  <div class="rectangle-parent131">
                    <div class="frame-child157"></div>
                    <div class="wrapper48">
                      <h2 class="h29">Опрос по завершению терапии</h2>
                    </div>
                    <div class="frame-wrapper79">
                      <button class="rectangle-parent132">
                        <div class="frame-child158"></div>
                        <b class="b140">Опрос</b>
                      </button>
                    </div>
                    <div class="frame-parent133">
                      <div class="empty-survey-link-button-parent">
                        <div class="empty-survey-link-button"></div>
                        <div class="div205">Скопировать ссылку</div>
                      </div>
                      <div class="frame-wrapper80">
                        <div class="rectangle-parent133" id="groupContainer">
                          <div class="frame-child159"></div>
                          <div class="div206">Редактировать</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-parent134">
                  <div class="rectangle-parent134">
                    <div class="frame-child160"></div>
                    <b class="b141">20.02.2024</b>
                  </div>
                  <div class="rectangle-parent135">
                    <div class="frame-child161"></div>
                    <div class="frame-parent135">
                      <button class="rectangle-parent136">
                        <div class="frame-child162"></div>
                        <b class="b142">Опрос</b>
                      </button>
                      <h2 class="h210">
                        Опрос о причинах обращения для взрослого
                      </h2>
                    </div>
                    <div class="frame-wrapper81">
                      <div class="frame-parent136">
                        <div class="rectangle-parent137">
                          <div class="frame-child163"></div>
                          <div class="div207">Скопировать ссылку</div>
                        </div>
                        <div class="frame-wrapper82">
                          <div class="rectangle-parent138" id="groupContainer">
                            <div class="frame-child164"></div>
                            <div class="div208">Редактировать</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent137">
          <div class="frame-parent138">
            <div class="frame-parent139">
              <div class="user-policy-wrapper1">
                <b class="user-policy12">Добавить график нерабочих дней </b>
              </div>
              <div class="icon-parent28">
                <img class="icon151" alt="" src="./public/icon-2@2x.png" />

                <div class="new-york-wrapper3">
                  <b class="new-york11">Ростов-на-Дону</b>
                </div>
              </div>
            </div>
            <div class="frame-wrapper83">
              <div class="frame-parent140">
                <div class="frame-wrapper84">
                  <div class="filter-panel-parent">
                    <div class="filter-panel">
                      <h3 class="h35">Панель фильтрации</h3>
                    </div>
                    <div class="filter-search">
                      <div class="filter-search-child"></div>
                      <div class="search-input5">
                        <div class="rectangle-parent139">
                          <div class="frame-child165"></div>
                          <img
                            class="icon152"
                            alt=""
                            src="./public/icon-1@2x.png"
                          />

                          <input
                            class="search-box"
                            placeholder="Поиск "
                            type="text"
                          />
                        </div>
                      </div>
                      <div class="filter-options1">
                        <div class="material-types">
                          <div class="component18">
                            <div class="item107">
                              <img class="feather-icon-chevron-up19" alt="" />
                            </div>
                            <div class="item108">
                              <img
                                class="feather-icon-plus14"
                                alt=""
                                src="./public/feathericon--plus.svg"
                              />

                              <div class="type-option">
                                <div class="div209">Анкета</div>
                              </div>
                            </div>
                            <div class="item109">
                              <img
                                class="feather-icon-check25"
                                alt=""
                                src="./public/feathericon--check1.svg"
                              />

                              <div class="div210">Опрос</div>
                            </div>
                            <div class="item110">
                              <img
                                class="feather-icon-eye4"
                                alt=""
                                src="./public/feathericon--eye.svg"
                              />

                              <div class="div211">Тест</div>
                            </div>
                          </div>
                          <div class="filter-count">
                            <div class="count-input">
                              <div class="count-field">
                                <div class="count-value">
                                  <div class="count-prefix">
                                    <div class="div212">с</div>
                                  </div>
                                  <div class="count-suffix">
                                    <div class="count-separator"></div>
                                    <div class="xxxxxxxx2">xx.xx.xxxx</div>
                                  </div>
                                </div>
                              </div>
                              <div class="count-range">
                                <div class="count-label">
                                  <div class="div213">по</div>
                                </div>
                                <div class="count-range-end">
                                  <div class="count-delimiter"></div>
                                  <div class="xxxxxxxx3">xx.xx.xxxx</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="apply-filter">
                          <div class="rectangle-parent140">
                            <div class="frame-child166"></div>
                            <div class="div214">Найти</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="rectangle-parent141">
                  <div class="frame-child167"></div>
                  <div class="div215">Создать новый материал</div>
                </button>
              </div>
            </div>
          </div>
          <img class="icon153" alt="" src="./public/icon.svg" />
        </div>
      </main>
      <div class="item111">
        <img class="feather-icon-chevron-up20" alt="" />
      </div>
      <div class="footer">
        <div class="footer-left">
          <img class="icon154" alt="" src="./public/icon-7@2x.png" />

          <div class="feedback-button2">
            <div class="feedback-label2">
              <b class="send-feedback11">Обратная связь</b>
            </div>
            <img class="icon155" alt="" src="./public/icon-8.svg" />
          </div>
        </div>
      </div>
    </div>

    <script>
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./frame5.html";
        });
      }
      
      var baseContainer = document.getElementById("baseContainer");
      if (baseContainer) {
        baseContainer.addEventListener("click", function (e) {
          window.location.href = "./frame.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame4.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame19.html";
        });
      }
      </script>
  </body>
</html>
