<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./component.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div37">
      <div class="line34"></div>
      <div class="image-11"></div>
      <div class="inner">
        <header class="frame-header">
          <div class="frame-wrapper6">
            <div class="frame-parent7">
              <div class="icon-parent2">
                <img
                  class="icon23"
                  loading="lazy"
                  alt=""
                  src="./public/icon@2x.png"
                />

                <div class="constructor-wrapper">
                  <a class="constructor1">Понятная практика</a>
                </div>
                <div class="icon-parent3">
                  <img
                    class="icon24"
                    loading="lazy"
                    alt=""
                    src="./public/icon-1@2x.png"
                  />

                  <div class="search-input">
                    <b class="search1">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="about-us-news-button-wrapper">
                <div class="about-us-news-button">
                  <b class="about-us1" id="aboutUsText">Добавить клиента</b>
                  <b class="news1" id="newsText">Назначить встречу</b>
                </div>
              </div>
              <div class="user-policy-wrapper">
                <b class="user-policy1" id="userPolicyText"
                  >Добавить график нерабочих дней
                </b>
              </div>
            </div>
          </div>
          <div class="icon-parent4">
            <img
              class="icon25"
              loading="lazy"
              alt=""
              src="./public/icon-2@2x.png"
            />

            <div class="new-york-wrapper">
              <b class="new-york1">Ростов-на-Дону</b>
            </div>
          </div>
        </header>
      </div>
      <main class="frame-main">
        <div class="frame-wrapper7">
          <div class="frame-parent8">
            <div class="frame-wrapper8">
              <div class="settings-parent">
                <img
                  class="settings-icon"
                  loading="lazy"
                  alt=""
                  src="./public/settings@2x.png"
                />

                <div class="user-button">
                  <div class="wrapper-user1">
                    <img
                      class="user-icon1"
                      loading="lazy"
                      alt=""
                      src="./public/user@2x.png"
                      id="userImage"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-wrapper9">
              <div class="frame-parent9">
                <div class="hello-rosalie-wrapper">
                  <b class="hello-rosalie1">Привет, Антон!</b>
                </div>
                <b class="rosaliericegmailc1">rosalie.rice@gmail.com</b>
              </div>
            </div>
            <div class="frame-parent10">
              <div class="frame-wrapper10">
                <div class="dashboard-parent">
                  <div class="dashboard3" id="dashboardContainer">
                    <div class="base22"></div>
                    <div class="icon-frame">
                      <img
                        class="icon26"
                        loading="lazy"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard4">Список клинетов</b>
                    <div class="calendars-item">
                      <div class="base23"></div>
                      <div class="icon-wrapper1">
                        <img
                          class="icon27"
                          loading="lazy"
                          alt=""
                          src="./public/icon-4@2x.png"
                        />
                      </div>
                      <b class="calendars1">Календарь</b>
                    </div>
                  </div>
                  <div class="invoice-files-item">
                    <div class="invoice2" id="invoiceContainer">
                      <div class="base24"></div>
                      <div class="icon-wrapper2">
                        <img
                          class="icon28"
                          loading="lazy"
                          alt=""
                          src="./public/icon-5.svg"
                        />
                      </div>
                      <b class="invoice3">Уведомления</b>
                    </div>
                    <div class="base-parent1">
                      <div class="base25"></div>
                      <div class="icon-wrapper3">
                        <img
                          class="icon29"
                          loading="lazy"
                          alt=""
                          src="./public/icon-6.svg"
                        />
                      </div>
                      <b class="files1">Аналитика</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tests-item">
                <div class="div38" id="container">
                  <div class="base26"></div>
                  <b class="dashboard5">Опросники и тесты</b>
                </div>
              </div>
              <div class="frame-wrapper11">
                <div class="requests-button-parent">
                  <div class="requests-button">
                    <b class="b9">Заявки</b>
                  </div>
                  <div class="frame-parent11" id="groupContainer">
                    <div class="rectangle-parent3">
                      <div class="frame-child6"></div>
                      <b class="b10">20.02.2024</b>
                    </div>
                    <div class="rectangle-parent4">
                      <div class="frame-child7"></div>
                      <b class="b11">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                  <div class="frame-parent12" id="groupContainer1">
                    <div class="rectangle-parent5">
                      <div class="frame-child8"></div>
                      <b class="b12">25.02.2024</b>
                    </div>
                    <div class="rectangle-parent6">
                      <div class="frame-child9"></div>
                      <b class="b13">Овсянникова Юля Матвеевна</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-item">
              <div class="feedback-button">
                <img
                  class="icon30"
                  loading="lazy"
                  alt=""
                  src="./public/icon-7@2x.png"
                />

                <div class="frame-parent13">
                  <div class="send-feedback-container">
                    <b class="send-feedback1">Обратная связь</b>
                  </div>
                  <img
                    class="icon31"
                    loading="lazy"
                    alt=""
                    src="./public/icon-8.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="now-parent">
          <div class="now1">
            <div class="line35">
              <div class="line36"></div>
            </div>
            <div class="dot2">
              <div class="base27"></div>
            </div>
            <div class="dot3">
              <div class="base28"></div>
            </div>
          </div>
          <div class="base-parent2">
            <div class="base29"></div>
            <div class="frame-parent14">
              <div class="group-button-group">
                <div class="group-button2">
                  <div class="button-12">
                    <div class="button18">День</div>
                  </div>
                  <button class="button-22">
                    <div class="button19">Неделя</div>
                  </button>
                  <div class="button-33">
                    <div class="button20">Месяц</div>
                  </div>
                  <div class="button-43">
                    <div class="button21">Day</div>
                  </div>
                </div>
                <div class="calendar-month-navigation-parent">
                  <div class="calendar-month-navigation">
                    <div class="calendar-month-selector">
                      <div class="month-dropdown">
                        <div class="month-dropdown-button">
                          <button class="button22">
                            <div class="button23">Сегодня</div>
                          </button>
                        </div>
                        <img
                          class="image-2-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/image-2@2x.png"
                        />
                      </div>
                      <div class="wrapper-button-parent">
                        <div class="wrapper-button2">
                          <img
                            class="button-icon2"
                            loading="lazy"
                            alt=""
                            src="./public/button.svg"
                          />
                        </div>
                        <div class="current-month-year">
                          <b class="may-211">Май, 2024</b>
                        </div>
                        <div class="wrapper-button3">
                          <img
                            class="button-icon3"
                            loading="lazy"
                            alt=""
                            src="./public/button-1.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="line37"></div>
                </div>
              </div>
              <div class="weekdays-row">
                <div class="weekdays-container">
                  <div class="weekdays-list">
                    <div class="weekdays">
                      <b class="monday-121">Понедельник </b>
                      <div class="weekday-names">
                        <b class="tuesday-131">Вторник </b>
                      </div>
                      <div class="weekday-names1">
                        <b class="wednesday-141">Среда </b>
                      </div>
                      <div class="weekday-names2">
                        <b class="thursday-151">Четверг </b>
                      </div>
                      <div class="weekday-names3">
                        <b class="friday-161">Пятница </b>
                      </div>
                      <div class="weekday-names4">
                        <b class="saturday-171">Суббота </b>
                      </div>
                      <b class="sunday-181">Воскресенье 5</b>
                    </div>
                  </div>
                  <div class="calendar-days-grid">
                    <div class="line38"></div>
                    <div class="calendar-grid-container">
                      <div class="calendar-weeks">
                        <div class="week-list">
                          <b class="tuesday-28">29</b>
                          <div class="week-days2">
                            <b class="tuesday-27">30</b>
                          </div>
                          <div class="week-days3">
                            <b class="tuesday-30">1</b>
                          </div>
                          <div class="week-days4">
                            <b class="tuesday-29">2</b>
                          </div>
                          <div class="week-days5">
                            <b class="tuesday-31">3</b>
                          </div>
                          <div class="week-days6">
                            <b class="tuesday-33">4</b>
                          </div>
                          <b class="tuesday-32">5</b>
                        </div>
                        <div class="calendar-day-separators">
                          <div class="line39"></div>
                          <div class="line40"></div>
                          <div class="day-content-container">
                            <div class="day-events1">
                              <div class="event-badge-container1">
                                <div class="quality-badge">
                                  <div class="base30"></div>
                                  <b class="choosing-a-quality3"
                                    >Чумакова Маргарита Матвеевна</b
                                  >
                                  <div class="badge44">
                                    <div class="badge45">13:00</div>
                                  </div>
                                  <div class="badge46">
                                    <div class="badge47">15:00</div>
                                  </div>
                                </div>
                                <div class="quality-badge1">
                                  <div class="base31"></div>
                                  <b class="choosing-a-quality4"
                                    >Дмитрова Алина Матвеевна</b
                                  >
                                  <div class="badge48">
                                    <div class="badge49">16:00</div>
                                  </div>
                                  <div class="badge50">
                                    <div class="badge51">17:00</div>
                                  </div>
                                </div>
                              </div>
                              <div class="base-parent3">
                                <div class="base32"></div>
                                <b class="choosing-a-quality5"
                                  >Чумакова Маргарита Матвеевна</b
                                >
                                <div class="badge52">
                                  <div class="badge53">13:00</div>
                                </div>
                                <div class="badge54">
                                  <div class="badge55">15:00</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calendar-week-separator">
                  <div class="line41"></div>
                </div>
                <div class="week-row">
                  <div class="days-of-week">
                    <b class="tuesday-132">6</b>
                    <div class="week-dates">
                      <b class="tuesday-14">7</b>
                    </div>
                    <div class="week-dates1">
                      <b class="tuesday-16">8</b>
                    </div>
                    <div class="week-dates2">
                      <b class="tuesday-15">9</b>
                    </div>
                    <div class="week-dates3">
                      <b class="tuesday-17">10</b>
                    </div>
                    <div class="week-dates4">
                      <b class="tuesday-19">11</b>
                    </div>
                    <b class="tuesday-18">12</b>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-parent1">
              <div class="line42"></div>
              <div class="frame-wrapper12">
                <div class="tuesday-21-parent">
                  <b class="tuesday-21">6</b>
                  <div class="tuesday-20-wrapper">
                    <b class="tuesday-20">7</b>
                  </div>
                  <div class="tuesday-23-wrapper">
                    <b class="tuesday-23">8</b>
                  </div>
                  <div class="tuesday-22-wrapper">
                    <b class="tuesday-22">9</b>
                  </div>
                  <div class="tuesday-24-wrapper">
                    <b class="tuesday-24">10</b>
                  </div>
                  <div class="tuesday-26-wrapper">
                    <b class="tuesday-26">11</b>
                  </div>
                  <b class="tuesday-25">12</b>
                </div>
              </div>
            </div>
            <div class="line-parent2">
              <div class="line43"></div>
              <div class="frame-wrapper13">
                <div class="line-parent3">
                  <div class="line44"></div>
                  <div class="line45"></div>
                  <div class="line46"></div>
                  <div class="line47"></div>
                  <div class="hour-markers">
                    <div class="hour-labels">
                      <b class="tuesday-35">13</b>
                    </div>
                    <div class="hour-labels1">
                      <b class="tuesday-34">14</b>
                    </div>
                    <div class="hour-labels2">
                      <b class="tuesday-37">15</b>
                    </div>
                    <div class="event-placeholder">
                      <div class="event-block"></div>
                      <div class="event-time-label-container">
                        <b class="tuesday-36">16</b>
                      </div>
                    </div>
                    <div class="hour-labels3">
                      <b class="tuesday-38">17</b>
                    </div>
                    <div class="hour-labels4">
                      <b class="tuesday-40">18</b>
                    </div>
                    <div class="hour-labels5">
                      <b class="tuesday-39">19</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line-parent4">
              <div class="line48"></div>
              <div class="frame-wrapper14">
                <div class="tuesday-42-parent">
                  <b class="tuesday-42">20</b>
                  <div class="tuesday-41-wrapper">
                    <b class="tuesday-41">21</b>
                  </div>
                  <div class="tuesday-44-wrapper">
                    <b class="tuesday-44">22</b>
                  </div>
                  <div class="tuesday-43-wrapper">
                    <b class="tuesday-43">23</b>
                  </div>
                  <div class="tuesday-45-wrapper">
                    <b class="tuesday-45">24</b>
                  </div>
                  <div class="tuesday-47-wrapper">
                    <b class="tuesday-47">25</b>
                  </div>
                  <b class="tuesday-46">26</b>
                </div>
              </div>
            </div>
            <div class="line-parent5">
              <div class="line49"></div>
              <div class="frame-wrapper15">
                <div class="tuesday-49-parent">
                  <b class="tuesday-49">27</b>
                  <div class="tuesday-48-wrapper">
                    <b class="tuesday-48">28</b>
                  </div>
                  <div class="tuesday-51-wrapper">
                    <b class="tuesday-51">29</b>
                  </div>
                  <div class="tuesday-50-wrapper">
                    <b class="tuesday-50">30</b>
                  </div>
                  <div class="tuesday-52-wrapper">
                    <b class="tuesday-52">31</b>
                  </div>
                  <div class="tuesday-54-wrapper">
                    <b class="tuesday-54">1</b>
                  </div>
                  <b class="tuesday-53">2</b>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить клиента"" to the project
        });
      }
      
      var newsText = document.getElementById("newsText");
      if (newsText) {
        newsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Назначить встречу" Тип встерча = Встреча с клиентом" to the project
        });
      }
      
      var userPolicyText = document.getElementById("userPolicyText");
      if (userPolicyText) {
        userPolicyText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить график  нерабочих дней "" to the project
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./frame5.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame4.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      </script>
  </body>
</html>
