<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="image-1"></div>
      <div class="top-navigation">
        <header class="placeholder">
          <div class="placeholder1">
            <div class="placeholder2">
              <div class="placeholder3">
                <img
                  class="icon"
                  loading="lazy"
                  alt=""
                  src="./public/icon@2x.png"
                />

                <div class="placeholder4">
                  <a class="constructor">Понятная практика</a>
                </div>
                <div class="placeholder5">
                  <img
                    class="icon1"
                    loading="lazy"
                    alt=""
                    src="./public/icon-1@2x.png"
                  />

                  <div class="placeholder6">
                    <b class="search">Найти клиента...</b>
                  </div>
                </div>
              </div>
              <div class="placeholder7">
                <div class="header-link">
                  <b class="about-us" id="aboutUsText">Добавить клиента</b>
                  <b class="news" id="newsText">Назначить встречу</b>
                </div>
              </div>
              <div class="placeholder8">
                <b class="user-policy" id="userPolicyText"
                  >Добавить график нерабочих дней
                </b>
              </div>
            </div>
          </div>
          <div class="placeholder9">
            <img
              class="icon2"
              loading="lazy"
              alt=""
              src="./public/icon-2@2x.png"
            />

            <div class="placeholder10">
              <b class="new-york">Ростов-на-Дону</b>
            </div>
          </div>
        </header>
      </div>
      <main class="user-profile">
        <div class="user-container">
          <div class="user-info">
            <div class="user-name">
              <div class="wrapper-user">
                <img
                  class="user-icon"
                  loading="lazy"
                  alt=""
                  src="./public/user@2x.png"
                  id="userImage"
                />
              </div>
            </div>
            <div class="user-email">
              <div class="placeholder11">
                <div class="email-container">
                  <b class="hello-rosalie">Привет, Антон!</b>
                </div>
                <b class="rosaliericegmailc">rosalie.rice@gmail.com</b>
              </div>
            </div>
            <div class="user-actions">
              <div class="actions-container">
                <div class="navigation-menu">
                  <div class="dashboard" id="dashboardContainer">
                    <div class="base"></div>
                    <div class="dashboard-icon">
                      <img
                        class="icon3"
                        loading="lazy"
                        alt=""
                        src="./public/icon-3@2x.png"
                      />
                    </div>
                    <b class="dashboard1">Список клинетов</b>
                    <div class="calendars-link">
                      <div class="base1"></div>
                      <div class="calendar-icon">
                        <img
                          class="icon4"
                          loading="lazy"
                          alt=""
                          src="./public/icon-4@2x.png"
                        />
                      </div>
                      <b class="calendars">Календарь</b>
                    </div>
                  </div>
                  <div class="shortcuts">
                    <div class="invoice" id="invoiceContainer">
                      <div class="base2"></div>
                      <div class="placeholder12">
                        <img
                          class="icon5"
                          loading="lazy"
                          alt=""
                          src="./public/icon-5.svg"
                        />
                      </div>
                      <b class="invoice1">Уведомления</b>
                    </div>
                    <div class="shortcut-items">
                      <div class="base3"></div>
                      <div class="icon-wrapper">
                        <img
                          class="icon6"
                          loading="lazy"
                          alt=""
                          src="./public/icon-6.svg"
                        />
                      </div>
                      <b class="files">Аналитика</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper">
                <div class="div1" id="container">
                  <div class="base4"></div>
                  <b class="dashboard2">Опросники и тесты</b>
                </div>
              </div>
              <div class="applications-wrapper">
                <div class="applications">
                  <div class="application-name">
                    <b class="b">Заявки</b>
                  </div>
                  <div class="frame-parent">
                    <div class="placeholder-parent" id="groupContainer">
                      <div class="placeholder13">
                        <div class="placeholder-child"></div>
                        <b class="placeholder14">20.02.2024</b>
                      </div>
                      <div class="placeholder15">
                        <div class="placeholder-item"></div>
                        <b class="b1">Овсянникова Юля Матвеевна</b>
                      </div>
                    </div>
                    <div class="frame-group" id="groupContainer1">
                      <div class="rectangle-parent">
                        <div class="frame-child"></div>
                        <b class="b2">25.02.2024</b>
                      </div>
                      <div class="rectangle-group">
                        <div class="frame-item"></div>
                        <b class="b3">Овсянникова Кирилл Матвеев</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-wrapper">
              <div class="feedback">
                <img
                  class="icon7"
                  loading="lazy"
                  alt=""
                  src="./public/icon-7@2x.png"
                />

                <div class="feedback-container">
                  <div class="send-feedback-wrapper">
                    <b class="send-feedback">Обратная связь</b>
                  </div>
                  <img
                    class="icon8"
                    loading="lazy"
                    alt=""
                    src="./public/icon-8.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="week-view">
          <div class="now">
            <div class="line">
              <div class="line1"></div>
            </div>
            <div class="dot">
              <div class="base5"></div>
            </div>
            <div class="dot1">
              <div class="base6"></div>
            </div>
          </div>
          <div class="calendar-grid">
            <div class="base7"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
            <div class="line7"></div>
            <div class="line8"></div>
            <div class="line9"></div>
            <div class="line10"></div>
            <div class="line11"></div>
            <div class="line12"></div>
            <div class="line13"></div>
            <div class="line14"></div>
            <div class="line15"></div>
            <div class="line16"></div>
            <b class="monday-12">Понедельник 12</b>
            <div class="line17"></div>
            <div class="week-days">
              <div class="calendar-day">
                <div class="day-events">
                  <div class="event-container">
                    <div class="event-details">
                      <form class="event-header">
                        <b class="event-time">09</b>
                        <img
                          class="icon9"
                          loading="lazy"
                          alt=""
                          src="./public/icon-31@2x.png"
                        />

                        <b class="event-time1">10</b>
                        <div class="event-title">
                          <div class="base8"></div>
                          <b class="shooting-stars"
                            >Овсянникова Мирослава Александровна</b
                          >
                          <div class="badge">
                            <div class="badge1">09:00</div>
                          </div>
                          <div class="badge2">
                            <div class="badge3">11:00</div>
                          </div>
                        </div>
                        <button class="button">
                          <div class="button1">Сегодня</div>
                        </button>
                        <img
                          class="image-2-icon"
                          loading="lazy"
                          alt=""
                          src="./public/image-2@2x.png"
                        />

                        <div class="event-attendees">
                          <div class="attendee-list">
                            <div class="item">
                              <div class="client-types">
                                <div class="div2">Новые клиенты</div>
                              </div>
                            </div>
                            <div class="item1">
                              <div class="div3">Онлайн</div>
                            </div>
                            <div class="item2">
                              <div class="div4">Офлайн</div>
                            </div>
                            <div class="item3">
                              <div class="div5">Взрослый</div>
                            </div>
                            <div class="item4">
                              <div class="div6">Ребёнок</div>
                            </div>
                            <div class="item5">
                              <div class="div7">Пара</div>
                            </div>
                          </div>
                          <div class="week-days1">
                            <b class="tuesday-13">Вторник 13</b>
                            <b class="wednesday-14">Среда 14</b>
                          </div>
                        </div>
                      </form>
                      <div class="event-button">
                        <div class="wrapper-button">
                          <img
                            class="button-icon"
                            loading="lazy"
                            alt=""
                            src="./public/button.svg"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="event-details1">
                      <div class="event-time2">
                        <div class="time-info">
                          <b class="empty-time">11</b>
                        </div>
                        <div class="event">
                          <div class="event-info">
                            <div class="base9"></div>
                            <div class="event-type">
                              <div class="badge4">
                                <div class="badge5">11:00</div>
                              </div>
                              <div class="badge6">
                                <div class="badge7">12:00</div>
                              </div>
                            </div>
                            <div class="div8">Офлайн</div>
                          </div>
                          <div class="event-name">
                            <b class="the-amazing-hubble"
                              >Иванова Елизавета Станиславовна</b
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="event-separator">
                    <div class="event-end-time-parent">
                      <b class="event-end-time">12</b>
                      <div class="line-parent">
                        <div class="line18"></div>
                        <div class="line19"></div>
                        <div class="lower-event-content-parent">
                          <div class="lower-event-content">
                            <div class="line20"></div>
                            <div class="lower-event-items">
                              <div class="event-item-container">
                                <div class="event-item">
                                  <b class="event-item-details">13</b>
                                  <b class="event-item-details1">14</b>
                                  <b class="event-item-details2">15</b>
                                  <b class="event-item-details3">16</b>
                                  <b class="event-item-details4">17</b>
                                  <b class="event-item-details5">18</b>
                                  <b class="event-item-details6">19</b>
                                </div>
                              </div>
                              <div class="quality-c">
                                <div class="base-parent">
                                  <div class="base10"></div>
                                  <b class="choosing-a-quality"
                                    >Чумакова Маргарита Матвеевна</b
                                  >
                                  <div class="badge8">
                                    <div class="badge9">13:00</div>
                                  </div>
                                  <div class="badge10">
                                    <div class="badge11">15:00</div>
                                  </div>
                                  <div class="div9">Офлайн</div>
                                </div>
                                <div class="quality-c-inner">
                                  <div class="base-group">
                                    <div class="base11"></div>
                                    <div class="div10">Онлайн</div>
                                    <b class="the-amazing-hubble1"
                                      >Горячев Артемий Романович</b
                                    >
                                    <div class="badge12">
                                      <div class="badge13">17:00</div>
                                    </div>
                                    <div class="badge14">
                                      <div class="badge15">17:00</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="binoculars-event">
                            <div class="base-container">
                              <div class="base12"></div>
                              <div class="binoculars-details">
                                <div class="badge16">
                                  <div class="badge17">15:00</div>
                                </div>
                                <div class="empty-badge">
                                  <div class="badge18">
                                    <div class="badge19">17:59</div>
                                  </div>
                                </div>
                                <div class="container">
                                  <div class="div11">Онлайн</div>
                                </div>
                              </div>
                              <div class="event-name-binoculars">
                                <b class="astronomy-binoculars"
                                  >Покровский Михаил Маркович</b
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calendar-navigation">
                  <div class="day-navigation">
                    <div class="previous-day">
                      <div class="day-button">
                        <div class="day-name">
                          <b class="may-21">Май 21 – 26, 2024</b>
                        </div>
                        <div class="wrapper-button1">
                          <img
                            class="button-icon1"
                            loading="lazy"
                            alt=""
                            src="./public/button-1.svg"
                          />
                        </div>
                      </div>
                      <div class="next-days">
                        <div class="weekend">
                          <button class="rectangle-container">
                            <div class="frame-inner"></div>
                            <b class="thursday-15">Четверг 15</b>
                          </button>
                          <div class="friday-16-wrapper">
                            <b class="friday-16">Пятница 16</b>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="weekend-separator">
                      <div class="line21"></div>
                      <div class="line22"></div>
                      <div class="saturday-events">
                        <div class="saturday-events-container">
                          <div class="choosing-quality-event">
                            <div class="frame-div">
                              <div class="base13"></div>
                              <div class="choosing-quality-details">
                                <div class="choosing-quality-type">
                                  <div class="badge20">
                                    <div class="badge21">11:00</div>
                                  </div>
                                  <div class="badge22">
                                    <div class="badge23">15:00</div>
                                  </div>
                                </div>
                                <div class="choosing-quality-name">
                                  <b class="choosing-a-quality1"
                                    >Литвинов Степан Алексеевич</b
                                  >
                                </div>
                              </div>
                              <div class="div12">Офлайн</div>
                            </div>
                            <div class="binoculars-saturday">
                              <div class="base14"></div>
                              <div class="binoculars-saturday-details">
                                <div class="binoculars-saturday-type">
                                  <div class="badge24">
                                    <div class="badge25">11:00</div>
                                  </div>
                                  <div class="badge26">
                                    <div class="badge27">13:00</div>
                                  </div>
                                </div>
                                <div class="div13">Онлайн</div>
                              </div>
                              <div class="saturday-binoculars-name">
                                <b class="astronomy-binoculars1"
                                  >Селезнев Артём Леонидович</b
                                >
                              </div>
                            </div>
                          </div>
                          <div class="amazing-hubble-saturday">
                            <div class="base15"></div>
                            <div class="hubble-saturday-details">
                              <div class="hubble-saturday-type">
                                <div class="badge28">
                                  <div class="badge29">13:00</div>
                                </div>
                                <div class="badge30">
                                  <div class="badge31">14:00</div>
                                </div>
                              </div>
                              <div class="hubble-saturday-name">
                                <b class="the-amazing-hubble2">Стрижка</b>
                              </div>
                            </div>
                            <div class="div14">Офлайн</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="event-container1">
                <b class="b4">20</b>
              </div>
              <div class="day-containers">
                <b class="placeholder16">21</b>
              </div>
              <div class="day-containers1">
                <b class="b5">22</b>
              </div>
            </div>
            <div class="calendar-footer">
              <div class="calendar-footer-container">
                <div class="footer-buttons-container">
                  <div class="group-button">
                    <div class="button-1">
                      <div class="button2">День</div>
                    </div>
                    <button class="button-2">
                      <div class="button3">Неделя</div>
                    </button>
                    <button class="button-3">
                      <div class="button4">Месяц</div>
                    </button>
                    <div class="button-4">
                      <div class="button5">Day</div>
                    </div>
                  </div>
                </div>
                <div class="weekend-container">
                  <div class="weekend-days-container">
                    <div class="weekend-days">
                      <b class="saturday-17">Суббота 17</b>
                      <b class="sunday-18">Воскресенье 18</b>
                    </div>
                  </div>
                  <div class="saturday-events1">
                    <div class="line23"></div>
                    <div class="saturday-event-container">
                      <div class="first-saturday-event">
                        <div class="base16"></div>
                        <div class="event-badge-container">
                          <div class="badge32">
                            <div class="badge33">09:00</div>
                          </div>
                          <div class="badge34">
                            <div class="badge35">22:00</div>
                          </div>
                        </div>
                        <div class="event-title-container">
                          <b class="astronomy-binoculars2">Плановый отпуск</b>
                        </div>
                      </div>
                      <div class="second-saturday-event">
                        <div class="second-event-content">
                          <div class="second-event-details">
                            <div class="event1" id="eventContainer">
                              <div class="base17"></div>
                              <div class="second-event-status-container">
                                <div class="second-event-badges">
                                  <div class="badge36">
                                    <div class="badge37">11:00</div>
                                  </div>
                                  <div class="badge38">
                                    <div class="badge39">14:00</div>
                                  </div>
                                </div>
                                <div class="div15">Офлайн</div>
                              </div>
                              <div class="second-event-title-container">
                                <b class="the-universe-through"
                                  >Покровский Михаил Маркович</b
                                >
                              </div>
                            </div>
                          </div>
                          <div class="third-saturday-event">
                            <div class="base18"></div>
                            <div class="third-event-status-container">
                              <div class="third-event-badges">
                                <div class="badge40">
                                  <div class="badge41">11:00</div>
                                </div>
                                <div class="badge42">
                                  <div class="badge43">14:00</div>
                                </div>
                              </div>
                              <div class="div16">Онлайн</div>
                            </div>
                            <div class="third-event-title-container">
                              <b class="choosing-a-quality2"
                                >Кочеткова Варвара Демьяновна</b
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    <script>
      var aboutUsText = document.getElementById("aboutUsText");
      if (aboutUsText) {
        aboutUsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить клиента"" to the project
        });
      }
      
      var newsText = document.getElementById("newsText");
      if (newsText) {
        newsText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Назначить встречу" Тип встерча = Встреча с клиентом" to the project
        });
      }
      
      var userPolicyText = document.getElementById("userPolicyText");
      if (userPolicyText) {
        userPolicyText.addEventListener("click", function (e) {
          // Please sync "Модальное окно "Добавить график  нерабочих дней "" to the project
        });
      }
      
      var userImage = document.getElementById("userImage");
      if (userImage) {
        userImage.addEventListener("click", function (e) {
          window.location.href = "./frame5.html";
        });
      }
      
      var dashboardContainer = document.getElementById("dashboardContainer");
      if (dashboardContainer) {
        dashboardContainer.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var invoiceContainer = document.getElementById("invoiceContainer");
      if (invoiceContainer) {
        invoiceContainer.addEventListener("click", function (e) {
          window.location.href = "./frame4.html";
        });
      }
      
      var container = document.getElementById("container");
      if (container) {
        container.addEventListener("click", function (e) {
          window.location.href = "./frame3.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      
      var eventContainer = document.getElementById("eventContainer");
      if (eventContainer) {
        eventContainer.addEventListener("click", function (e) {
          window.location.href = "./frame13.html";
        });
      }
      </script>
  </body>
</html>
