<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/calendar/calendar.css}" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
  />
</head>
<body>
<!--  <style>-->
<!--    /*.modal {*/-->
<!--    /*  display: none;*/-->
<!--    /*  position: fixed;*/-->
<!--    /*  left: 0;*/-->
<!--    /*  top: 0;*/-->
<!--    /*  width: 100%;*/-->
<!--    /*  height: 100%;*/-->
<!--    /*  overflow: auto;*/-->
<!--    /*  background-color: rgba(0, 0, 0, 0.5);*/-->
<!--    /*}*/-->

<!--    /*!* Контент модального окна *!*/-->
<!--    /*.modal-content {*/-->
<!--    /*  background-color: #fff;*/-->
<!--    /*  margin: 15% auto;*/-->
<!--    /*  padding: 20px;*/-->
<!--    /*  border: 1px solid #888;*/-->
<!--    /*  width: 400px;*/-->
<!--    /*  border-radius: 10px;*/-->
<!--    /*}*/-->

<!--    /* Кнопка закрытия модального окна */-->
<!--    .close-modal {-->
<!--      color: #6B7A99;-->
<!--      float: right;-->
<!--      font-size: 28px;-->
<!--      font-weight: bold;-->
<!--      cursor: pointer;-->
<!--    }-->

<!--    .close-modal:hover,-->
<!--    .close-modal:focus {-->
<!--      color: black;-->
<!--      text-decoration: none;-->
<!--      cursor: pointer;-->
<!--    }-->
<!--  </style>-->
<div class="div37">
  <div class="line34"></div>
  <div class="image-11"></div>
  <div class="inner">
    <header class="frame-header">
      <div class="frame-wrapper6">
        <div class="frame-parent7">
          <div class="icon-parent2">
            <img
                    class="icon23"
                    loading="lazy"
                    alt=""
                    src="/images/icon@2x.png"
            />

            <div class="constructor-wrapper">
              <a class="constructor1">Понятная практика</a>
            </div>
            <div class="icon-parent3">
              <img
                      class="icon24"
                      loading="lazy"
                      alt=""
                      src="/images/icon-1@2x.png"
              />

              <div class="search-input">
                <input type="text" class = "search1" placeholder="Найти клиента...">
              </div>
            </div>
          </div>
          <div class="main-area-inner">
            <div class="about-us-parent4">
              <a class="about-us16">Добавить клиента</a>
              <a class="news10">Назначить встречу</a>
              <a class="user-policy10">Добавить график нерабочих дней </a>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-parent4">
        <img
                class="icon25"
                loading="lazy"
                alt=""
                src="/images/icon-2@2x.png"
        />

        <div class="location-name1">
          <select>
            <option value="Rostov" selected>Rostov na Donu</option>
            <option value="Moskva">Moskva</option>
            <option value="Krasnodar">Krasnodar</option>
          </select>
        </div>
      </div>
    </header>
  </div>
  <main class="frame-main">
    <div class="frame-wrapper7">
      <div class="frame-parent8">
        <div class="frame-wrapper8">
          <div class="settings-parent">
            <img
                    class="settings-icon"
                    loading="lazy"
                    alt=""
                    src="/images/settings@2x.png"
            />

            <div class="user-button">
              <div class="wrapper-user1">
                <img
                        class="user-icon1"
                        loading="lazy"
                        alt=""
                        src="/images/user@2x.png"
                        id="userImage"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper9">
          <div class="frame-parent9">
            <div class="hello-rosalie-wrapper">
              <b class="hello-rosalie1">Привет, Антон!</b>
            </div>
            <b class="rosaliericegmailc1">rosalie.rice@gmail.com</b>
          </div>
        </div>
        <div class="frame-parent10">
          <div class="frame-parent10">
            <div class="outer-square">
              <!-- Dashboard Tiles -->
              <div onclick="window.location.href='/SimplePsy/V1/specialist/customers';" class=" tile" id="dashboardContainer">
                <div class="bas2e22"></div>
                <div class="icon-frame">
                  <img class="icon26" loading="lazy" alt="" src="/images/icon-3@2x.png">
                </div>

                <b class="dashboard4">Список клиентов</b>
                </button>
              </div>
              <div onclick="window.location.href='/SimplePsy/V1/session/calendar';" class=" tile" id="container">
                <div class="base23"></div>
                <div class="icon-wrapper1">
                  <img class="icon27" loading="lazy" alt="" src="/images/icon-4@2x.png">
                </div>
                <b class="calendars1">Календарь</b>
                </button>
              </div>
              <div class=" tile" id="invoiceContainer">
                <div class="base24"></div>
                <div class="icon-wrapper2">
                  <img class="icon28" loading="lazy" alt="" src="/images/icon-5.svg">
                </div>
                <b class="invoice3">Уведомления</b>
              </div>
              <div class="tile">
                <div class="base25"></div>
                <div class="icon-wrapper3">
                  <img class="icon29" loading="lazy" alt="" src="/images/icon-6.svg">
                </div>
                <b class="files1">Аналитика</b>
              </div>
            </div>
            <div onclick="window.location.href='/SimplePsy/V1/scoring/list';" class="tile wide" id="invoiceContainer">
              <div class="base24"></div>
              <b class="invoice3">Опросники и тесты</b>
            </div>
          </div>

        </div>
        <div class="feedback-item">
          <div class="feedback-button">
            <img
                    class="icon30"
                    loading="lazy"
                    alt=""
                    src="/images/icon-7@2x.png"
            />

            <div class="frame-parent13">
              <div class="send-feedback-container">
                <b class="send-feedback1">Обратная связь</b>
              </div>
              <img
                      class="icon31"
                      loading="lazy"
                      alt=""
                      src="/images/icon-8.svg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="now-parent">

      <div class="base-parent2">
        <div class="calendar">
          <div class="header">
            <div class="view-buttons">
              <button id="dayBtn" class="button-L" >День</button>
              <button id="weekBtn" class="button-C" >Неделя</button>
              <button id="monthBtn" class="button-R">Месяц</button>
            </div>
            <div class="month-year">
              <button id="prevBtn">&lt;</button>
              <div id="viewMode"></div>
              <button id="nextBtn">&gt;</button>
            </div>
          </div>
          <div id="calendarBody" class="month-view grid">

          </div>
          <script th:inline="javascript">
            // Передача данных о сессиях из Thymeleaf в JavaScript
            let sessionsData = /*[[${meetings}]]*/ [];
          </script>
        </div>
      </div>
    </section>
  </main>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
    <div id="modal-body"></div>
  </div>
</div>
<div id="holidayModal" class="modal" style="display:none;">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <div id="modal-bodyy">
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarBody = document.getElementById('calendarBody');
    const viewModeElem = document.getElementById('viewMode');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');
    const dayBtn = document.getElementById('dayBtn');
    const weekBtn = document.getElementById('weekBtn');
    const monthBtn = document.getElementById('monthBtn');

    let currentDate = new Date();
    let currentViewMode = 'month'; // month, week, day
    let eventsData = []; // Массив для хранения данных о событиях

    // Генерация нескольких событий
    generateEvents();

    renderCalendar(currentDate);

    function renderCalendar(date) {
      calendarBody.innerHTML = ''; // Очищаем предыдущее содержимое

      switch (currentViewMode) {
        case 'month':
          calendarBody.classList.add('grid');
          renderMonthView(date);
          break;
        case 'week':
          calendarBody.classList.add('grid');
          renderWeekView(date);
          break;
        case 'day':
          calendarBody.classList.remove('grid');
          renderDayView(date);
          break;
        default:
          renderMonthView(date);
          break;
      }

      viewModeElem.textContent = getViewModeTitle(date);
      disableActiveModeButton();
    }

    function getViewModeTitle(date) {
      switch (currentViewMode) {
        case 'month':
          return date.toLocaleString('default', { month: 'long', year: 'numeric' });
        case 'week':
          let startOfWeek = getStartOfWeek(date);
          let endOfWeek = getEndOfWeek(date);
          return `${startOfWeek.getDate()} ${startOfWeek.toLocaleString('default', { month: 'short' })} - ${endOfWeek.getDate()} ${endOfWeek.toLocaleString('default', { month: 'short' })}, ${startOfWeek.getFullYear()}`;
        case 'day':
          return date.toLocaleString('default', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });
        default:
          return '';
      }
    }

    function renderMonthView(date) {
      const startOfMonth = new Date(date.getFullYear(), date.getMonth(), 1);
      const endOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      const daysInMonth = endOfMonth.getDate();

      // Заполнение сетки для отображения дней
      for (let i = 0; i < startOfMonth.getDay(); i++) {
        const emptyCell = document.createElement('div');
        emptyCell.classList.add('day');
        calendarBody.appendChild(emptyCell);
      }

      for (let i = 1; i <= daysInMonth; i++) {
        const day = new Date(date.getFullYear(), date.getMonth(), i);
        const dayElement = createDayElement(day);

        // Отображение сессий
        const sessionsForDay = sessionsData.filter(session => isSameDay(new Date(session.date), day));
        if (sessionsForDay.length > 0) {
          sessionsForDay.forEach(session => {
            const sessionElement = document.createElement('div');
            sessionElement.classList.add('session');
            sessionElement.textContent = `${session.timeStart} - ${session.timeFinish}: ${session.client.name} ${session.client.surname}`;
            dayElement.appendChild(sessionElement);
          });
        }

        calendarBody.appendChild(dayElement);
      }
    }
    function isSameDay(date1, date2) {
      return date1.getFullYear() === date2.getFullYear() &&
              date1.getMonth() === date2.getMonth() &&
              date1.getDate() === date2.getDate();
    }

    function isSameHour(date1, date2, hour) {
      return isSameDay(date1, date2) && date1.getHours() === hour;
    }


    function renderWeekView(date) {
      const startOfWeek = getStartOfWeek(date);

      for (let i = 0; i < 7; i++) {
        const day = new Date(startOfWeek.getFullYear(), startOfWeek.getMonth(), startOfWeek.getDate() + i);
        const dayElement = createDayElement(day);

        const sessionsForDay = sessionsData.filter(session => isSameDay(new Date(session.date), day));
        if (sessionsForDay.length > 0) {
          sessionsForDay.forEach(session => {
            const sessionElement = document.createElement('div');
            sessionElement.classList.add('session');
            sessionElement.textContent = `${session.timeStart} - ${session.timeFinish}: ${session.client.name} ${session.client.surname}`;
            dayElement.appendChild(sessionElement);
          });
        }

        calendarBody.appendChild(dayElement);
      }
    }

    function renderDayView(date) {
      const dayView = document.createElement('div');
      dayView.classList.add('day-view');

      for (let hour = 0; hour < 24; hour++) {
        const hourElement = document.createElement('div');
        hourElement.classList.add('hour');
        hourElement.textContent = `${hour}:00`;

        const sessionsForHour = sessionsData.filter(session => isSameHour(new Date(session.date), date, hour));
        if (sessionsForHour.length > 0) {
          sessionsForHour.forEach(session => {
            const sessionElement = document.createElement('div');
            sessionElement.classList.add('session');
            sessionElement.textContent = `${session.client.name} ${session.client.surname} (${session.timeStart} - ${session.timeFinish})`;
            hourElement.appendChild(sessionElement);
          });
        }

        dayView.appendChild(hourElement);
      }

      calendarBody.appendChild(dayView);
    }


    function createDayElement(date) {
      const dayElement = document.createElement('div');
      dayElement.classList.add('day');
      dayElement.textContent = date.getDate();

      // Add event listeners to switch to day view
      dayElement.addEventListener('click', function() {
        currentViewMode = 'day';
        currentDate = date; // Устанавливаем текущую дату на выбранный день
        renderCalendar(currentDate);
      });

      // Simulate events for demonstration
      const eventsForDay = eventsData.filter(event => isSameDay(event.date, date));
      if (eventsForDay.length > 0) {
        const eventsIndicator = document.createElement('div');
        eventsIndicator.classList.add('events');
        eventsIndicator.textContent = `${eventsForDay.length} события`;
        dayElement.appendChild(eventsIndicator);
      }

      return dayElement;
    }

    function getStartOfWeek(date) {
      const startOfWeek = new Date(date);
      startOfWeek.setDate(date.getDate() - date.getDay());
      return startOfWeek;
    }

    function getEndOfWeek(date) {
      const endOfWeek = new Date(date);
      endOfWeek.setDate(date.getDate() - date.getDay() + 6);
      return endOfWeek;
    }

    function disableActiveModeButton() {
      dayBtn.disabled = currentViewMode === 'day';
      weekBtn.disabled = currentViewMode === 'week';
      monthBtn.disabled = currentViewMode === 'month';
    }

    function generateEvents() {

    }

    function isSameDay(date1, date2) {
      return date1.getFullYear() === date2.getFullYear() &&
              date1.getMonth() === date2.getMonth() &&
              date1.getDate() === date2.getDate();
    }

    function isSameHour(date1, date2, hour) {
      return isSameDay(date1, date2) && date1.getHours() === hour;
    }

    function formatTime(date) {
      return `${padZero(date.getHours())}:${padZero(date.getMinutes())}`;
    }

    function padZero(num) {
      return num.toString().padStart(2, '0');
    }

    prevBtn.addEventListener('click', function() {
      switch (currentViewMode) {
        case 'month':
          currentDate.setMonth(currentDate.getMonth() - 1);
          break;
        case 'week':
          currentDate.setDate(currentDate.getDate() - 7);
          break;
        case 'day':
          currentDate.setDate(currentDate.getDate() - 1);
          break;
        default:
          break;
      }
      renderCalendar(currentDate);
    });

    nextBtn.addEventListener('click', function() {
      switch (currentViewMode) {
        case 'month':
          currentDate.setMonth(currentDate.getMonth() + 1);
          break;
        case 'week':
          currentDate.setDate(currentDate.getDate() + 7);
          break;
        case 'day':
          currentDate.setDate(currentDate.getDate() + 1);
          break;
        default:
          break;
      }
      renderCalendar(currentDate);
    });

    dayBtn.addEventListener('click', function() {
      currentViewMode = 'day';
      renderCalendar(currentDate);
    });

    weekBtn.addEventListener('click', function() {
      currentViewMode = 'week';
      renderCalendar(currentDate);
    });

    monthBtn.addEventListener('click', function() {
      currentViewMode = 'month';
      renderCalendar(currentDate);
    });
  });

  // Открытие модального окна создания сессии
  document.addEventListener('DOMContentLoaded', function() {
    // Получаем элементы
    var modal = document.getElementById('modal');
    var modalBody = document.getElementById('modal-body');
    var closeBtn = document.querySelector('.close-btn');
    var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"
    var  holidayBtn = document.querySelector('.user-policy10');

    // Функция для открытия модального окна
    function openModal() {
      fetch('http://localhost:8081/SimplePsy/V1/session/session-form')
              .then(response => response.text())
              .then(data => {
                modalBody.innerHTML = data;
                modal.style.display = 'block';
              })
              .catch(error => console.error('Ошибка загрузки:', error));

      fetch('/SimplePsy/V1/client/findAll')
              .then(response => response.json())
              .then(clients => {
                const dataList = document.getElementById('clientsList');
                dataList.innerHTML = '';

                const script = document.createElement('script');
                script.id = 'dynamic-script';
                script.textContent = `
  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options).find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
    }
  });
  // Функция для валидации формы
  function validateForm() {
    const clientId = document.getElementById('clientId').value;
    if (!clientId) {
      document.getElementById('error-message').style.display = 'block'; // Показываем сообщение об ошибке
      return false; // Отменяем отправку формы
    }
    return true; // Разрешаем отправку формы, если значение есть
  }

  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options)
            .find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
      document.getElementById('error-message').style.display = 'none'; // Скрываем сообщение об ошибке при успешном выборе клиента
    } else {
      document.getElementById('clientId').value = ''; // Очищаем скрытое поле, если выбранного клиента нет в списке
    }
  });`;
                document.body.appendChild(script);
                clients.forEach(client => {
                  const option = document.createElement('option');
                  option.value = client.name;
                  option.setAttribute('data-id', client.id);
                  dataList.appendChild(option);
                });
              })
              .catch(error => console.error('Ошибка:', error));


    }

    // Функция для закрытия модального окна
    function closeModal() {
      modal.style.display = 'none';
      const script = document.getElementById('dynamic-script');
      if (script) {
        script.remove();
        console.log('Скрипт удалён');
      } else {
        console.log('Скрипт не найден');
      }
    }

    appointLink.addEventListener('click', openModal);
    holidayBtn.addEventListener('click', openHolidayModal);

    var  addClientBtn = document.querySelector('.about-us16');
    addClientBtn.addEventListener('click', () =>
    {
      window.location.href = '/SimplePsy/V1/customer/customer-form';
    });

    closeBtn.addEventListener('click', closeModal);
  });

  function openHolidayModal()
  {
    const modal = document.getElementById("holidayModal");
    const modalBody = document.getElementById("modal-bodyy");

    fetch('/SimplePsy/V1/session/holiday')
            .then(response => response.text())
            .then(html => {
              modal.innerHTML = html;
              modal.style.display = "block";

              // Добавляем обработчик закрытия модального окна
              document.querySelector('.close-modal').onclick = function() {
                modal.style.display = "none";
              };
            })
            .catch(error => {
              console.error('Error loading modal content:', error);
            });
  }

  // Закрытие модального окна при клике вне его содержимого
  window.onclick = function(event) {
    const modal = document.getElementById("holidayModal");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
</body>
</html>
