<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить график</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/calendar/holiday.css}"/>
</head>
<body>
<div class="holiday-container">
    <form th:action="@{/SimplePsy/V1/session/holiday}" th:object="${session}" method="post">
        <div class="input-group">
            <label for="title">Название:</label>
            <input type="text" id="title" th:field="*{title}">
        </div>
        <div class="input-group">
            <label for="start-date">С:</label>
            <input type="date" id="start-date" th:field="*{date}">
        </div>
        <div class="input-group">
            <label for="end-date">До:</label>
            <input type="date" id="end-date" th:field="*{endDate}">
        </div>
        <button class="holiday-button" type="submit">Добавить график</button>
    </form>
</div>
<script>
    const closeBtn = document.querySelector('.close-btn');
    closeBtn.addEventListener('click', () => {
        document.body.removeChild(document.querySelector('.container'));
    });
</script>
</body>
</html>