<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/new-front/customer/customer-card-child.css}" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap"
    />
</head>
<body>
<form th:object="${customer}" th:action="@{/SimplePsy/V1/customer/new}" method="post" style="width: 1200px; margin: 0 auto">
    <input id="customerId" class="div222" th:name="${customer.id}"  th:field="*{id}" type="hidden">
    <input type="hidden" id="currentSpecialistId" th:value="${specialist.id}">
                                <input type="hidden" id="currentSpecialistId" th:value="${specialist.id}">
                <div class="save-edit-buttons-wrapper">
                    <div class="save-edit-buttons">
                        <button id="cancel" type="button" onclick="cancelButton()" class="rectangle-parent51" style="display: none;">
                            <div class="div72">Отменить</div>
                        </button>
                        <button id="edit" type="button" onclick="showInputs()" class="rectangle-parent51">
                            <div class="div72">Редактировать</div>
                        </button>
                        <button id="save" type="submit" class="rectangle-parent51" style="display: none;">
                            <div class="div72">Сохранить</div>
                        </button>
                        </button>
                    </div>
                </div>
                <div class="component19">
                    <div class="item113">
                        <div class="div221">Тип клиента</div>
                        <select id="client-type" th:name="${customer.typeOfClient}" th:field="*{typeOfClient}" disabled>
                            <option value="CHILD">Ребенок</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">ФИО ребенка</div>
                        <input class="div222" th:name="${customer.childSurname}" th:field="*{childSurname}" disabled>
                        <input class="div222" th:name="${customer.childName}" th:field="*{childName}" disabled>
                        <input class="div222" th:name="${customer.childLastName}" th:field="*{childLastName}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Номер телефона ребенка</div>
                        <input type="tel" class="div222" th:name="${customer.childContact.phone}" th:field="*{childContact.phone}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Почта ребенка</div>
                        <input type="email" class="div222" th:name="${customer.childContact.email}"  th:field="*{childContact.email}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Пол ребенка</div>
                        <select id="child-gender" th:name="childSex" th:field="*{childSex}" disabled>
                            <option value="MALE">Мужской</option>
                            <option value="FEMALE">Женский</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">Запрос взрослого на терапию: желаемый результат от прохождения терапии</div>
                        <textarea class="div222" th:name="${customer.adultDesiredResult}"  th:field="*{adultDesiredResult}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Как ребенок объясняет причину своего посещения психолога</div>
                        <textarea class="div222" th:name="${customer.childVisitReason}"  th:field="*{childVisitReason}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Что сам ребенок хотел изменить, если хотел?</div>
                        <textarea class="div222" th:name="${customer.childDesireOfChange}"  th:field="*{childDesireOfChange}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Кто приводит клиента</div>
                        <select id="who-brings" th:name="leadsClient" th:field="*{leadsClient}" disabled>
                            <option value="PARENT">Родитель</option>
                            <option value="BOTH_PARENTS">Оба родителя</option>
                            <option value="GUARDIAN">Попечитель</option>
                        </select>
                    </div>

                    <div id="parent-fields">
                        <div class="item113">
                            <div class="div221">ФИО родителя</div>
                            <input class="div222" th:name="${customer.parentSurname}" th:field="*{parentSurname}" disabled>
                            <input class="div222" th:name="${customer.parentName}" th:field="*{parentName}" disabled>
                            <input class="div222" th:name="${customer.parentLastName}" th:field="*{parentLastName}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Номер телефона родителя</div>
                            <input type="tel" class="div222" th:name="${customer.parentContact.phone}"  th:field="*{parentContact.phone}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Почта родителя</div>
                            <input type="email" class="div222" th:name="${customer.parentContact.email}"  th:field="*{parentContact.email}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Пол родителя</div>
                            <select id="parent-gender" th:name="parentSex" th:field="*{parentSex}" disabled>
                                <option value="MALE">Мужской</option>
                                <option value="FEMALE">Женский</option>
                            </select>
                        </div>
                        <div class="item113">
                            <div class="div221">Город родителя</div>
                            <input class="div222" th:name="${customer.parentCity}"  th:field="*{parentCity}" disabled>
                        </div>
                    </div>

                    <div id="both-parents-fields" class="hidden">
                        <div class="item113">
                            <div class="div221">ФИО первого родителя</div>
                            <input class="div222" th:name="${customer.firstParentsSurname}" th:field="*{firstParentsSurname}" disabled>
                            <input class="div222" th:name="${customer.firstParentsName}" th:field="*{firstParentsName}" disabled>
                            <input class="div222" th:name="${customer.firstParentsLastName}" th:field="*{firstParentsLastName}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Номер телефона первого родителя</div>
                            <input type="tel" class="div222" th:name="${customer.firstParentsContact.phone}"  th:field="*{firstParentsContact.phone}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Почта первого родителя</div>
                            <input type="email" class="div222" th:name="${customer.firstParentsContact.email}"  th:field="*{firstParentsContact.email}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Пол первого родителя</div>
                            <input class="div222" th:name="${customer.firstParentsSex}"  th:field="*{firstParentsSex}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Город первого родителя</div>
                            <input class="div222" th:name="${customer.firstParentsCity}"  th:field="*{firstParentsCity}">
                        </div>
                        <div class="item113">
                            <div class="div221">ФИО второго родителя</div>
                            <input class="div222" th:name="${customer.secondParentsSurname}" th:field="*{secondParentsSurname}" disabled>
                            <input class="div222" th:name="${customer.secondParentsName}" th:field="*{secondParentsName}" disabled>
                            <input class="div222" th:name="${customer.secondParentsLastName}" th:field="*{secondParentsLastName}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Номер телефона второго родителя</div>
                            <input type="tel" class="div222" th:name="${customer.secondParentsContact.phone}"  th:field="*{secondParentsContact.phone}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Почта второго родителя</div>
                            <input type="email" class="div222" th:name="${customer.secondParentsContact.email}"  th:field="*{secondParentsContact.email}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Пол второго родителя</div>
                            <input class="div222" th:name="${customer.secondParentsSex}"  th:field="*{secondParentsSex}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Город второго родителя</div>
                            <input class="div222" th:name="${customer.secondParentsCity}"  th:field="*{secondParentsCity}" disabled>
                        </div>
                    </div>

                    <div id="guardian-fields" class="hidden">
                        <div class="item113">
                            <div class="div221">ФИО попечителя</div>
                            <input class="div222" th:name="${customer.trusteesSurname}" th:field="*{trusteesSurname}" disabled>
                            <input class="div222" th:name="${customer.trusteesName}" th:field="*{trusteesName}" disabled>
                            <input class="div222" th:name="${customer.trusteesLastName}" th:field="*{trusteesLastName}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Номер телефона попечителя</div>
                            <input type="tel" class="div222" th:name="${customer.trusteesContact.phone}"  th:field="*{trusteesContact.phone}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Почта попечителя</div>
                            <input type="email" class="div222" th:name="${customer.trusteesContact.email}"  th:field="*{trusteesContact.email}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Пол попечителя</div>
                            <input class="div222" th:name="${customer.trusteesSex}"  th:field="*{trusteesSex}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Город попечителя</div>
                            <input class="div222" th:name="${customer.trusteesCity}"  th:field="*{trusteesCity}" disabled>
                        </div>
                    </div>
                        <div class="item113">
                            <div class="div221">Статус клиента</div>
                            <select id="client-status" th:name="${customer.clientStatus}"  th:field="*{clientStatus}" disabled>
                                <option value="REGULAR">Регулярный</option>
                                <option value="ON_REQUEST">По запросу</option>
                                <option value="COMPLETED">Завершён</option>
                                <option value="APPLICATION">Заявка</option>
                            </select>
                        </div>
                    <div class="item113">
                        <div class="div221">
                            Каким способом обратился клиент/попечитель
                        </div>
                        <select id="contact-method" th:name="typeOfTreatment" th:field="*{typeOfTreatment}" disabled>
                            <option value="MESSENGER">Мессенджер</option>
                            <option value="SOCIAL_NETWORK">Социальная сеть</option>
                            <option value="AGGREGATOR">Агрегатор</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Дата первого обращения (запрос на консультацию)
                        </div>
                        <input type="date" class="div222" th:name="${customer.dateOfFirstRequest}"  th:field="*{dateOfFirstRequest}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Дата первой консультации</div>
                        <input type="date" class="div222" th:name="${customer.dateOfFirstConsultation}"  th:field="*{dateOfFirstConsultation}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Предпочтительный формат встречи</div>
                        <select id="meeting-format" th:name="preferredMeetingFormat"  th:field="*{preferredMeetingFormat}" disabled>
                            <option value="ONLINE" selected>Онлайн</option>
                            <option value="OFFLINE">Оффлайн</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Для онлайн выбрать/указать площадку взаимодействия
                        </div>
                        <select id="online-platform" th:name="onlineMeetingPlace" th:field="*{onlineMeetingPlace}" disabled>
                            <option value="ZOOM">Zoom</option>
                            <option value="TELEMOST">Телемост</option>
                            <option value="GOOGLE_MEET">Google Meet</option>
                            <option value="TELEGRAM">Telegram</option>
                            <option value="WHATSAPP">WhatsApp</option>
                            <option value="SKYPE">Skype</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Для оффлайн выбрать адрес проведения встречи
                        </div>
                        <input class="div222" th:name="${customer.offlineMeetingPlace}"  th:field="*{offlineMeetingPlace}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Первичный/изначальный запрос клиента на терапию
                        </div>
                        <textarea class="div222" th:name="${customer.clientsFirstRequestForTherapy}"  th:field="*{clientsFirstRequestForTherapy}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Фиксированное время/день недели для встречи (если да, то
                            указать)
                        </div>
                        <input class="div222" th:name="${customer.fixedTimeForMeeting}"  th:field="*{fixedTimeForMeeting}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Финансовые условия</div>
                        <textarea class="div222" th:name="${customer.financialConditions}"  th:field="*{financialConditions}" disabled></textarea>
                    </div>
                 </div>
            </div>
        </div>
    </section>
    <section class="footer-content-wrapper">
        <div class="footer-content">
            <div class="client-details-content-parent">
                <div class="client-details-content">
                    <div class="div244">Подробнее....</div>
                </div>
                <div class="client-details-form">
                    <div class="item113">
                        <div class="div221">Дата рождения</div>
                        <input type="date" class="div222" th:name="${customer.dateOfBirth}"  th:field="*{dateOfBirth}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Адрес проживания</div>
                        <input class="div222" th:name="${customer.residentialAddress}"  th:field="*{residentialAddress}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Коллегиальные рекомендации (поле для заполнения кто вас
                            порекомендовал клиенту)
                        </div>
                        <textarea class="div222" th:name="${customer.collegialRecommendations}"  th:field="*{collegialRecommendations}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Особые условия контракта</div>
                        <textarea class="div222" th:name="${customer.specialTermsOfContract}"  th:field="*{specialTermsOfContract}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Семейное положение</div>
                        <select id="marital-status" th:name="familyStatus" th:field="*{familyStatus}" disabled>
                            <option value="MARRIED">Женат/Замужем</option>
                            <option value="SINGLE">Холост/Незамужем</option>
                            <option value="DIVORCED">В разводе</option>
                            <option value="WIDOWED">Вдовец/Вдова</option>
                            <option value="COHABITATION">Сожительство/Несостоявшийся брак</option>
                            <option value="MARRIAGE_WITH_SEPARATE_HOUSING">Официальный брак с раздельным проживанием
                            </option>
                            <option value="LONELY">Одиночество/Не в постоянных отношениях</option>
                            <option value="FAMILY_WITH_CHILDREN">Семьи с детьми</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Приоритетный канал коммуникации (выпадающий список куда
                            писать)
                        </div>
                        <select id="preferred-communication-channel" th:name="priorityCommunicationChannel" th:field="*{priorityCommunicationChannel}" disabled>
                            <option value="TELEGRAM">Telegram</option>
                            <option value="WHATSAPP">WhatsApp</option>
                            <option value="VIBER">Viber</option>
                            <option value="SKYPE">Skype</option>
                            <option value="EMAIL">Почта</option>
                            <option value="SNAPCHAT">Snapchat</option>
                        </select>
                    </div>
                    <div class="item113">
                        <div class="div221">
                            Берется ли супервизия на данного клиента
                        </div>
                        <select class="div222" id="is-supervised" th:name="${customer.supervised}" th:field="*{supervised}" disabled>
                            <option value="YES">Да</option>
                            <option value="NO">Нет</option>
                        </select>
                    </div>

                    <div id="supervisor-fields">
                        <div class="item113">
                            <div class="div221">ФИО супервизора</div>
                            <input class="div222" th:name="${customer.supervisorsSurname}" th:field="*{supervisorsSurname}" disabled>
                            <input class="div222" th:name="${customer.supervisorsName}" th:field="*{supervisorsName}" disabled>
                            <input class="div222" th:name="${customer.supervisorsLastName}" th:field="*{supervisorsLastName}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Номер телефона супервизора</div>
                            <input type="tel" class="div222" th:name="${customer.supervisorsContact.phone}"  th:field="*{supervisorsContact.phone}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">Электронная почта супервизора</div>
                            <input type="email" class="div222" th:name="${customer.supervisorsContact.email}"  th:field="*{supervisorsContact.email}" disabled>
                        </div>
                        <div class="item113">
                            <div class="div221">
                                Материал для следующих сеансов из супервизии
                            </div>
                            <input class="div222" th:name="${customer.materialForNextSessionsFromSupervision}"  th:field="*{materialForNextSessionsFromSupervision}" disabled>
                        </div>
                    </div>

                    <div class="item113">
                        <div class="div221">ФИО котерапевта</div>
                        <input class="div222" th:name="${customer.cotherapistSurname}" th:field="*{cotherapistSurname}" disabled>
                        <input class="div222" th:name="${customer.cotherapistName}" th:field="*{cotherapistName}" disabled>
                        <input class="div222" th:name="${customer.cotherapistLastName}" th:field="*{cotherapistLastName}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Номер телефона котерапевта</div>
                        <input type="tel" class="div222" th:name="${customer.cotherapistContact.phone}"  th:field="*{cotherapistContact.phone}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Электронная почта котерапевта</div>
                        <input type="email" class="div222" th:name="${customer.cotherapistContact.email}"  th:field="*{cotherapistContact.email}" disabled>
                    </div>
                    <div class="item113">
                        <div class="div221">Условия распределения гонорара между котерапевтами</div>
                        <textarea class="div222" th:name="${customer.cotherapistPaymentConditions}"  th:field="*{cotherapistPaymentConditions}" disabled></textarea>
                    </div>
                    <div class="item113">
                        <div class="div221">Заметки</div>
                        <textarea class="div222" th:name="${customer.notes}"  th:field="*{notes}" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</form>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <div id="modal-body"></div>
    </div>
</div>
<script>
    function goToScorings(obj) {
        window.location.href = "/SimplePsy/V1/customer/scorings/" + obj.getAttribute("data-card-id");
    }
    function showInputs() {
        // Находим элементы, которые нужно изменить
        var inputsToEnable = document.querySelectorAll('input[disabled]');
        var inputsFieldSetToEnable = document.querySelectorAll('textarea');
        var selectFieldsSetToEnable = document.querySelectorAll('select');
        var saveButton = document.getElementById('save');
        var editButton = document.getElementById('edit');
        var cancelButton = document.getElementById('cancel');

        // Убираем атрибут disabled у всех найденных элементов
        inputsToEnable.forEach(function (input) {
            input.removeAttribute('disabled');
        });
        inputsFieldSetToEnable.forEach(function (input) {
            input.removeAttribute('disabled');
        });
        selectFieldsSetToEnable.forEach(function (input) {
            input.removeAttribute('disabled');
        });

        // Показываем кнопки
        saveButton.style.display = 'inline-block';
        editButton.style.display = 'none';
        cancelButton.style.display = 'inline-block';
    }

    function cancelButton() {
        let id = document.getElementById('customerId').value;
        document.getElementById('cancel').style.display = 'none';
        window.location.href = '/SimplePsy/V1/customer/customer-card/' + id;
    }

    function updateFields() {
        const whoBrings = document.getElementById('who-brings').getAttribute('value');
        document.getElementById('parent-fields').style.display = whoBrings === 'PARENT' ? 'block' : 'none';
        document.getElementById('both-parents-fields').style.display = whoBrings === 'BOTH_PARENTS' ? 'block' : 'none';
        document.getElementById('guardian-fields').style.display = whoBrings === 'GUARDIAN' ? 'block' : 'none';
    }

    function checkSupervisorFields() {
        const supervised = document.getElementById('is-supervised').getAttribute('value');
        document.getElementById('supervisor-fields').style.display = supervised === 'YES' ? 'block' : 'none';
    }

    // Initialize form
    updateFields();
    checkSupervisorFields();

    // Открытие модального окна создания сессии
    document.addEventListener('DOMContentLoaded', function() {
        // Получаем элементы
        var modal = document.getElementById('modal');
        var modalBody = document.getElementById('modal-body');
        var closeBtn = document.querySelector('.close-btn');
        var appointLink = document.querySelector('.news10'); // Элемент "Назначить встречу"
        var holidayBtn = document.querySelector('.user-policy10');
        var addCustomer = document.querySelector('.about-us19');
        // Функция для открытия модального окна
        function openModal() {
            fetch('/SimplePsy/V1/session/session-form')
                .then(response => response.text())
                .then(data => {
                    modalBody.innerHTML = data;
                    modal.style.display = 'block';
                })
                .catch(error => console.error('Ошибка загрузки:', error));

            fetch(`/SimplePsy/V1/customer/findAll/${currentSpecialistId}`)
                .then(response => response.json())
                .then(clients => {
                    const dataList = document.getElementById('clientsList');
                    dataList.innerHTML = '';

                    const script = document.createElement('script');
                    script.id = 'dynamic-script';
                    script.textContent = `
  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options).find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
    }
  });
  // Функция для валидации формы
  function validateForm() {
    const clientId = document.getElementById('clientId').value;
    if (!clientId) {
      document.getElementById('error-message').style.display = 'block'; // Показываем сообщение об ошибке
      return false; // Отменяем отправку формы
    }
    return true; // Разрешаем отправку формы, если значение есть
  }

  document.getElementById('clientInput').addEventListener('change', function() {
    const selectedOption = Array.from(document.getElementById('clientsList').options)
            .find(option => option.value === this.value);
    if (selectedOption) {
      const clientId = selectedOption.getAttribute('data-id');
      document.getElementById('clientId').value = clientId; // устанавливаем значение скрытого поля
      document.getElementById('error-message').style.display = 'none'; // Скрываем сообщение об ошибке при успешном выборе клиента
    } else {
      document.getElementById('clientId').value = ''; // Очищаем скрытое поле, если выбранного клиента нет в списке
    }
  });`;
                    document.body.appendChild(script);
                    clients.forEach(customer => {
                        const option = document.createElement('option');
                        switch (customer.typeOfClient) {
                            case 'ADULT':
                                option.value = customer.name + ' ' +customer.surname;
                                break;
                            case 'CHILD':
                                option.value = customer.childName + ' ' + customer.childSurname;
                                break;
                            case 'COUPLE':
                                option.value = customer.firstClientName + ' ' + customer.firstClientSurname;
                                break;
                            default:
                                // Здесь можно добавить код для обработки случая, если ни одно из значений не совпало
                                console.log('Unknown client type');
                                break;
                        }
                        option.setAttribute('data-id', customer.id);
                        dataList.appendChild(option);
                    });
                })
                .catch(error => console.error('Ошибка:', error));
        }
        function openAddClientModal()
        {
            document.body.style.overflow = 'hidden';
            fetch('/SimplePsy/V1/customer/customer/create/modal')
                .then(response => response.text())
                .then(html => {
                    modalBody.innerHTML = html;
                    modal.style.display = "block";

                    // Добавляем обработчик закрытия модального окна
                    document.querySelector('.close-modal').onclick = function() {
                        modal.style.display = "none";
                    };
                })
                .catch(error => {
                    console.error('Error loading modal content:', error);
                });
        }
        // Функция для закрытия модального окна
        function closeModal() {
            modal.style.display = 'none';
            const script = document.getElementById('dynamic-script');
            if (script) {
                script.remove();
                console.log('Скрипт удалён');
            } else {
                console.log('Скрипт не найден');
            }
        }

        function openHolidayModal()
        {
            const modal = document.getElementById("modal");
            const modalBody = document.getElementById("modal-body");

            fetch('/SimplePsy/V1/session/holiday')
                .then(response => response.text())
                .then(html => {
                    modalBody.innerHTML = html;
                    modal.style.display = "block";

                    // Добавляем обработчик закрытия модального окна
                    document.querySelector('.close-modal').onclick = function() {
                        modal.style.display = "none";
                    };
                })
                .catch(error => {
                    console.error('Error loading modal content:', error);
                });
        }

        // Закрытие модального окна при клике вне его содержимого
        window.onclick = function(event) {
            const modal = document.getElementById("modal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        appointLink.addEventListener('click', openModal);
        holidayBtn.addEventListener('click', openHolidayModal);
        addCustomer.addEventListener('click', openAddClientModal);
        closeBtn.addEventListener('click', closeModal);
    })
    const customerSearch = document.getElementById('customerSearch');
    const currentSpecialistId = document.getElementById('currentSpecialistId').value;

    customerSearch.addEventListener('input', function () {
        const searchQuery = this.value;
        const datalist = document.getElementById('customerList');

        if (searchQuery.length > 1) { // Минимум 2 символа для отправки запроса
            fetch(`/SimplePsy/V1/customer/findAll/${currentSpecialistId}`)
                .then(response => response.json())
                .then(data => {
                    // Очищаем предыдущие результаты
                    datalist.innerHTML = '';

                    // Фильтруем и сортируем клиентов в зависимости от типа
                    data.forEach(customer => {
                        let displayName = '';
                        if (customer.typeOfClient === 'ADULT') {
                            displayName = `${customer.name} ${customer.surname}`;
                        } else if (customer.typeOfClient === 'CHILD') {
                            displayName = `${customer.childName} ${customer.childSurname}`;
                        } else if (customer.typeOfClient === 'COUPLE') {
                            displayName = `${customer.firstClientName} ${customer.firstClientSurname}`;
                        }

                        if (displayName.toLowerCase().includes(searchQuery.toLowerCase())) {
                            const option = document.createElement('option');
                            option.value = displayName;
                            option.dataset.id = customer.id;
                            datalist.appendChild(option);
                        }
                    });
                })
                .catch(error => {
                    console.error('Ошибка при загрузке данных клиентов:', error);
                });
        }
    });

    customerSearch.addEventListener('change', function () {
        const selectedOption = Array.from(document.querySelectorAll('#customerList option'))
            .find(option => option.value === customerSearch.value);

        if (selectedOption) {
            const customerId = selectedOption.dataset.id;
            window.location.href = `/SimplePsy/V1/customer/customer-card/${customerId}`; // Передача username через GET-параметр
        }
    });
    function copyProfileLink(event)
    {
        event.preventDefault();
        let customerId = document.getElementById('customerId').value;
        let specialistId = document.getElementById('currentSpecialistId').value;
        var link = 'http://psy.simplepsy.ru/SimplePsy/V1/customer/customer-card/edit/' + specialistId + '/' + customerId;
        navigator.clipboard.writeText(link)
            .then(() => {
                alert('Ссылка скопирована в буфер обмена!');
            });
    }
</script>
</body>
</html>
